Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{ts,tsx}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}

prepare-commit-msg:
  commands:
    "review commit method":
      run: |
        COMMIT_MSG_FILE="$1"

        if [ ! -s "$COMMIT_MSG_FILE" ]; then
          exit 0
        fi

        if [ -z "$ALLOW_COMMIT" ]; then
          echo "ðŸš« Use 'yarn commit' instead of 'git commit'."
          exit 1
        fi

commit-msg:
  commands:
    "lint commit message":
      run: npx commitlint --color --edit {1}

v4: select and resizable
  .changeset/many-moles-end.md
  .changeset/wise-lands-cheer.md
  packages/reshaped/src/components/Resizable/Resizable.tsx
  packages/reshaped/src/components/Resizable/Resizable.types.ts
  packages/reshaped/src/components/Resizable/ResizableContext.ts
  packages/reshaped/src/components/Resizable/ResizableHandle.tsx
  packages/reshaped/src/components/Resizable/tests/Resizable.stories.tsx
  packages/reshaped/src/components/Select/Select.types.ts
  packages/reshaped/src/components/Select/SelectCustomControlled.tsx
Due: eslint

fix: prevent mixing responsive viewport keys with T's keys in Responsive<T> (#600)
  packages/reshaped/src/types/global.ts
Due: eslint

removed !important styles
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Modal/Modal.module.css
  packages/reshaped/src/components/NumberField/NumberField.module.css
  packages/reshaped/src/components/Overlay/Overlay.module.css
  packages/reshaped/src/components/Select/Select.module.css
  packages/reshaped/src/components/Text/Text.module.css
  packages/reshaped/src/components/TextField/TextField.module.css
  packages/reshaped/src/styles/resolvers/align/align.css
Due: stylelint

v4: remove important
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Modal/Modal.module.css
  packages/reshaped/src/components/Overlay/Overlay.module.css
  packages/reshaped/src/components/Text/Text.module.css
  packages/reshaped/src/components/TextArea/TextArea.module.css
Due: stylelint

v4: render types
  packages/reshaped/src/components/Actionable/Actionable.types.ts
  packages/reshaped/src/components/Actionable/tests/Actionable.stories.tsx
Due: eslint

v4: card radius
  .changeset/hip-kiwis-turn.md
  packages/reshaped/src/components/Card/Card.tsx
  packages/reshaped/src/components/Card/Card.types.ts
  packages/reshaped/src/components/Card/tests/Card.stories.tsx
Due: eslint

v4: dropdown and button fixes
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/DropdownMenu/tests/DropdownMenu.stories.tsx
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/hooks/useIsDismissible.ts
Due: eslint, stylelint

v4: card tweaks
  packages/reshaped/src/components/Card/Card.module.css
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
Due: eslint, stylelint

v4: View keys
  packages/reshaped/src/components/View/View.tsx
  packages/reshaped/src/components/View/View.types.ts
Due: eslint

changeset
  .changeset/shaky-lamps-accept.md
Due: none

chore: canary release
  .changeset/pre.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

chore: canary release
  .changeset/pre.json
Due: none

v4 fixes
  packages/reshaped/src/components/MenuItem/MenuItem.module.css
  packages/reshaped/src/components/Select/SelectOption.tsx
  packages/reshaped/src/components/Text/Text.module.css
  packages/reshaped/src/components/Text/tests/Text.stories.tsx
  packages/reshaped/src/hooks/_internal/useSingletonHotkeys.tsx
Due: eslint, stylelint

v4: fixed tests
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/hooks/_internal/useSingletonHotkeys.tsx
Due: eslint

flyout: timeout cleanup
  .changeset/better-cycles-take.md
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
Due: eslint

Badge: 0 rendering
  .changeset/chatty-papayas-sink.md
  packages/reshaped/src/components/Badge/Badge.tsx
Due: eslint

Flyout: containerRef resize
  .changeset/flat-bars-return.md
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/utilities/src/flyout/Flyout.ts
Due: eslint

Autocomplete: mutationn observer focus
  .changeset/dull-melons-divide.md
  packages/reshaped/src/components/Autocomplete/Autocomplete.tsx
  packages/reshaped/src/components/Autocomplete/tests/Autocomplete.stories.tsx
Due: eslint

chore: canary release
  .changeset/pre.json
  packages/headless/CHANGELOG.md
  packages/headless/package.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

feat(Toast): containerRef
  .changeset/toast-provider-container-ref.md
  packages/reshaped/src/components/Toast/Toast.types.ts
  packages/reshaped/src/components/Toast/ToastProvider.tsx
  packages/reshaped/src/components/Toast/tests/Toast.stories.tsx
Due: eslint

fix(ci): pin pnpm to 11.3.0 and migrate to allowBuilds
  .changeset/pin-pnpm-allow-builds.md
  .github/workflows/chromatic.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  package.json
  pnpm-workspace.yaml
Due: none

feat(Toast): global show option
  .changeset/toast-provider-container-ref.md
  packages/reshaped/src/components/Toast/Toast.constants.ts
  packages/reshaped/src/components/Toast/Toast.types.ts
  packages/reshaped/src/components/Toast/ToastProvider.tsx
  packages/reshaped/src/components/Toast/tests/Toast.stories.tsx
Due: eslint

feat(Toast): iconPosition
  .changeset/toast-icon-position.md
  packages/reshaped/src/components/Toast/Toast.module.css
  packages/reshaped/src/components/Toast/Toast.tsx
  packages/reshaped/src/components/Toast/Toast.types.ts
  packages/reshaped/src/components/Toast/tests/Toast.stories.tsx
Due: eslint, stylelint

v4 polish
  packages/reshaped/src/components/Actionable/Actionable.module.css
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Button/tests/Button.stories.tsx
  packages/reshaped/src/components/Carousel/Carousel.module.css
  packages/reshaped/src/components/FileUpload/FileUpload.module.css
  packages/reshaped/src/components/Flyout/Flyout.module.css
  packages/reshaped/src/components/NumberField/NumberField.module.css
  packages/reshaped/src/components/NumberField/NumberFieldControlled.tsx
  packages/reshaped/src/components/Slider/Slider.module.css
  packages/reshaped/src/components/Table/Table.module.css
  packages/reshaped/src/components/Text/Text.module.css
  packages/reshaped/src/components/Text/Text.tsx
  packages/reshaped/src/components/Text/Text.types.ts
  packages/reshaped/src/components/Text/tests/Text.stories.tsx
  packages/reshaped/src/components/Toast/Toast.module.css
  packages/reshaped/src/components/Toast/Toast.tsx
  packages/reshaped/src/components/Toast/ToastContainer.tsx
  packages/reshaped/src/components/Toast/tests/Toast.stories.tsx
  packages/reshaped/src/components/Tooltip/Tooltip.module.css
  packages/reshaped/src/components/Tooltip/Tooltip.tsx
  packages/reshaped/src/components/_private/Aligner/Aligner.module.css
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/figma/theme.json
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/definitions/figma.ts
  packages/theming/src/generation/definitions/slate.ts
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
  packages/theming/src/generation/tokens/font/font.types.ts
  skills/reshaped-v3-v4/changes/text-variant.md
  skills/reshaped-v3-v4/changes/theming.md
Due: eslint, stylelint

v4: update deps
  .changeset/pre.json
  package.json
  packages/reshaped/src/components/Button/ButtonGroup.tsx
  packages/reshaped/src/components/Calendar/CalendarMonth.tsx
  packages/reshaped/src/components/Calendar/CalendarYear.tsx
  packages/reshaped/src/components/Divider/Divider.tsx
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.tsx
  packages/reshaped/src/components/Loader/Loader.tsx
  packages/reshaped/src/components/Modal/Modal.tsx
  packages/reshaped/src/components/Popover/tests/Popover.stories.tsx
  packages/reshaped/src/components/ProgressBar/ProgressBar.tsx
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
  packages/reshaped/src/components/Toast/ToastRegion.tsx
  packages/reshaped/src/components/_private/Expandable/Expandable.tsx
  pnpm-lock.yaml
  skills/reshaped-v3-v4/changes/button-variant.md
  skills/reshaped-v3-v4/changes/menu-item-rounded-corners.md
  skills/reshaped-v3-v4/changes/progress-bar.md
  skills/reshaped-v3-v4/changes/view-aspect-ratio.md
Due: eslint

v4: tabs fix scroll
  packages/reshaped/src/components/Tabs/TabsItem.tsx
  packages/reshaped/src/components/Tabs/TabsList.tsx
Due: eslint

v4: update pnpm
  .github/workflows/chromatic.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  package.json
Due: none

v4: pnpm update
  pnpm-workspace.yaml
Due: none

v4: tests
  packages/reshaped/src/components/Tooltip/tests/Tooltip.stories.tsx
Due: eslint

pnpm update
  .github/workflows/pull-request.yml
  pnpm-workspace.yaml
Due: none

v4: themes
  .changeset/sunny-drinks-kick.md
Due: none

v4: text
  packages/reshaped/src/components/Text/Text.module.css
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/definitions/slate.ts
  packages/theming/src/generation/tokens/font/font.transforms.ts
Due: eslint, stylelint

v4: fixed typography
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Icon/tests/Icon.stories.tsx
  packages/reshaped/src/components/Link/tests/Link.stories.tsx
  packages/reshaped/src/components/MenuItem/tests/MenuItem.stories.tsx
  packages/reshaped/src/components/Modal/Modal.tsx
  packages/reshaped/src/components/Text/tests/Text.stories.tsx
  packages/reshaped/src/components/TextArea/tests/TextArea.stories.tsx
  packages/reshaped/src/components/TextField/tests/TextField.stories.tsx
  packages/reshaped/src/components/View/tests/View.stories.tsx
  packages/reshaped/src/tests/ThemesPlayground.tsx
  packages/reshaped/src/tests/themes.stories.tsx
  skills/reshaped-v3-v4/changes/text-variant.md
  skills/reshaped-v3-v4/changes/theming.md
Due: eslint, stylelint

v4: chromatic
  packages/reshaped/src/components/Dismissible/tests/Dismissible.stories.tsx
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Image/tests/Image.stories.tsx
  packages/reshaped/src/components/Overlay/tests/Overlay.stories.tsx
  packages/reshaped/src/components/Reshaped/Reshaped.module.css
  packages/reshaped/src/components/Tooltip/Tooltip.tsx
  packages/reshaped/src/components/_private/Portal/Portal.tsx
  packages/reshaped/src/components/_private/Portal/Portal.types.ts
  packages/reshaped/src/tests/ThemesPlayground.tsx
Due: eslint, stylelint

v4: sctable scroll gutter
  packages/reshaped/src/components/Tooltip/tests/Tooltip.stories.tsx
  packages/reshaped/src/hooks/tests/useScrollLock.stories.tsx
  packages/utilities/README.md
  packages/utilities/src/scroll/lock.ts
  packages/utilities/src/scroll/lockStandard.ts
  packages/utilities/src/scroll/tests/lock.test.ts
Due: eslint

v4: last minute requests
  packages/reshaped/src/components/MenuItem/MenuItem.module.css
  packages/reshaped/src/components/Toast/ToastProvider.tsx
  packages/reshaped/src/components/Toast/tests/Toast.stories.tsx
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
  packages/utilities/src/a11y/TrapFocus.ts
Due: eslint, stylelint

v4: auto clamp on blu
  .changeset/clever-numbers-clamp.md
  packages/reshaped/src/components/NumberField/NumberFieldControlled.tsx
  packages/reshaped/src/components/NumberField/tests/NumberField.stories.tsx
Due: eslint
