Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

v2.4.1
  package.json
Due: none

Reported GH issues
  src/hooks/_private/useSingletonHotkeys.tsx
  src/utilities/a11y.ts
  tools/storybook/preview.tsx
Due: eslint

v2.4.2
  package.json
Due: none

Fixed text field growing in safari
  src/components/TextField/TextField.module.css
Due: stylelint

v2.4.3
  package.json
Due: none

themes: added support for 0 blur radius in shadows
  src/themes/_generator/tokens/shadow/shadow.transforms.ts
  src/themes/figma/theme.css
  src/themes/reshaped/theme.css
  src/themes/slate/theme.css
Due: eslint, stylelint

changelog
  CHANGELOG.md
Due: none

v2.4.4
  package.json
Due: none

Theme generation
  src/themes/_generator/generateColors.ts
  src/themes/index.ts
  src/utilities/helpers.ts
Due: eslint

Updated theming client implementation
  package.json
  src/cli/theming/index.ts
  src/cli/theming/reshaped.config.ts
  src/config/tailwind.ts
  src/tests/themingWithDefinition.ts
  src/tests/themingWithoutDefinition.ts
  src/themes/_generator/definitions/base.ts
  src/themes/_generator/definitions/figma.ts
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/definitions/slate.ts
  src/themes/_generator/generateColors.ts
  src/themes/_generator/tests/themes.stories.tsx
  src/themes/index.ts
  src/utilities/helpers.ts
Due: eslint

Updated size tests
  src/tests/themingWithDefinition.ts
  src/tests/themingWithoutDefinition.ts
Due: eslint

Updated size tests
  package.json
Due: none

Updated theme definitions, using generated theme as a default
  src/components/Actionable/Actionable.module.css
  src/components/Checkbox/tests/Checkbox.stories.tsx
  src/components/Toast/tests/Toast.stories.tsx
  src/components/View/tests/View.stories.tsx
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/tests/themes.stories.tsx
  src/themes/_generator/utilities/generateColors.ts
  src/themes/figma/theme.css
  src/themes/index.ts
  src/themes/reshaped/theme.css
  src/themes/slate/theme.css
  tests/themingWithDefinition.d.ts
  tests/themingWithDefinition.js
  tests/themingWithoutDefinition.d.ts
  tests/themingWithoutDefinition.js
Due: eslint, stylelint

Fixed accordiong overflow, input text autocomplete position and updated generateColors
  CHANGELOG.md
  reshaped-test-2.5.0.tgz
  src/components/Accordion/AccordionContent.tsx
  src/components/Accordion/tests/Accordion.stories.tsx
  src/components/TextField/TextField.module.css
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/utilities/generateColors.ts
  src/themes/index.ts
Due: eslint, stylelint

Updated tests
  src/themes/_generator/tests/themes.stories.tsx
  tests/themingWithDefinition.d.ts
  tests/themingWithDefinition.js
  tests/themingWithoutDefinition.d.ts
  tests/themingWithoutDefinition.js
Due: eslint

v2.4.5
  package.json
Due: none

gitignore
  .gitignore
Due: none

Updated unit tests
  src/components/Autocomplete/tests/Autocomplete.test.tsx
  src/themes/_generator/utilities/tests/__snapshots__/generateColors.test.ts.snap
  src/themes/_generator/utilities/tests/generateColors.test.ts
  src/utilities/tests/color.test.ts
Due: eslint

Nested dropdown menu keyboard navigation improvements
  CHANGELOG.md
  src/components/Actionable/Actionable.tsx
  src/components/Autocomplete/Autocomplete.tsx
  src/components/_private/Flyout/FlyoutTrigger.tsx
Due: eslint

Updated responsive css output
  CHANGELOG.md
  src/config/next.ts
  tools/build/postcss.responsive.js
Due: eslint

Fixed typing issue
  src/components/_private/Portal/Portal.tsx
Due: eslint

Fixed TS error
  src/components/_private/Portal/Portal.tsx
Due: eslint

Aligner utility
  CHANGELOG.md
  src/components/Accordion/tests/Accordion.stories.tsx
  src/components/Button/Button.module.css
  src/components/Button/Button.tsx
  src/components/Button/ButtonAligner.tsx
  src/components/MenuItem/MenuItem.module.css
  src/components/MenuItem/MenuItem.tsx
  src/components/MenuItem/MenuItemAligner.tsx
  src/components/MenuItem/tests/MenuItem.stories.tsx
  src/components/_private/Aligner/Aligner.module.css
  src/components/_private/Aligner/Aligner.tsx
  src/components/_private/Aligner/Aligner.types.ts
  src/components/_private/Aligner/index.ts
  src/types/global.ts
  tools/build/postcss.responsive.js
Due: eslint, stylelint

Aligner implementation
  src/components/TextArea/TextArea.module.css
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/tests/TextArea.stories.tsx
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.tsx
  src/components/TextField/tests/TextField.stories.tsx
Due: eslint, stylelint

Fixed responsive plugin
  tools/build/postcss.responsive.js
Due: eslint

Fixed button padding
  reshaped-test-2.5.0.tgz
  src/components/Button/Button.module.css
Due: stylelint

v2.4.6
  package.json
Due: none

Update responsive output
  tools/build/postcss.responsive.js
Due: eslint

v2.4.7
  package.json
Due: none

Updated aligner implemnetation, added side for all components
  CHANGELOG.md
  src/components/Button/Button.types.ts
  src/components/Button/ButtonAligner.tsx
  src/components/Button/tests/Button.stories.tsx
  src/components/MenuItem/MenuItemAligner.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextField/TextField.tsx
Due: eslint

Stepper
  CHANGELOG.md
  src/components/Accordion/Accordion.module.css
  src/components/Accordion/AccordionContent.tsx
  src/components/Stepper/Stepper.tsx
  src/components/Stepper/Stepper.types.ts
  src/components/Stepper/index.ts
  src/components/Stepper/tests/Stepper.stories.tsx
  src/components/Theme/GlobalColorMode.tsx
  src/components/_private/Expandable/Expandable.module.css
  src/components/_private/Expandable/Expandable.tsx
  src/components/_private/Expandable/Expandable.types.ts
  src/components/_private/Expandable/index.ts
  src/index.ts
  tools/storybook/manager.ts
Due: eslint, stylelint

Stepper
  CHANGELOG.md
  src/components/Stepper/Stepper.module.css
  src/components/Stepper/Stepper.tsx
  src/components/Stepper/Stepper.types.ts
  src/components/Stepper/tests/Stepper.stories.tsx
  src/components/Stepper/tests/Stepper.test.tsx
  src/components/_private/Flyout/Flyout.module.css
  src/styles/position/position.module.css
  src/styles/types.ts
  tsconfig.cjs.json
Due: eslint, stylelint

Update storybook manager
  tools/storybook/manager.ts
Due: eslint

v2.4.8
  package.json
Due: none

v2.4.9
  package.json
Due: none

Stepper label visibility, View flex detection
  CHANGELOG.md
  src/components/Stepper/Stepper.tsx
  src/components/Stepper/Stepper.types.ts
  src/components/Stepper/tests/Stepper.stories.tsx
  src/components/View/View.tsx
  src/components/View/tests/View.stories.tsx
Due: eslint

v2.5.0
  package.json
Due: none

TextField and TextArea fixes
  CHANGELOG.md
  src/components/Select/Select.module.css
  src/components/Select/Select.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/TextArea.types.ts
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.types.ts
  src/components/TextField/tests/TextField.stories.tsx
  src/components/Theme/GlobalColorMode.tsx
Due: eslint, stylelint

v2.5.1
  package.json
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
