Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{ts,tsx}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}

prepare-commit-msg:
  commands:
    "review commit method":
      run: |
        COMMIT_MSG_FILE="$1"

        if [ ! -s "$COMMIT_MSG_FILE" ]; then
          exit 0
        fi

        if [ -z "$ALLOW_COMMIT" ]; then
          echo "ðŸš« Use 'yarn commit' instead of 'git commit'."
          exit 1
        fi

commit-msg:
  commands:
    "lint commit message":
      run: npx commitlint --color --edit {1}

v3.7.0
  package.json
Due: none

fix: useToggle types
  src/hooks/useToggle.ts
Due: eslint

v3.7.1
  package.json
Due: none

fix: padding fallbacks
  src/styles/resolvers/padding/padding.css
Due: stylelint

v3.7.2
  package.json
Due: none

fix(Tabs): item equal scroll
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/TabsList.tsx
Due: eslint, stylelint

v3.7.3
  package.json
Due: none

feat: remove chromatic token
  .chromatic
  .gitignore
Due: none

chore: remove source code scripts
  LICENSE-SOURCE.md
  LICENSE.md
  bin/release-source.sh
  package.json
Due: none

fix(Flyout): added support for attributes.style
  CHANGELOG.md
  src/components/Flyout/FlyoutContent.tsx
Due: eslint

chore: delete storybook build
  .github/workflows/pull-request.yml
  bin/release-copy.sh
  package.json
Due: none

docs: updated release scripts and added contribution guidelines
  CHANGELOG.md
  CONTRIBUTING.md
  bin/generate-changelog.js
  bin/release.js
  package.json
Due: none

chore: migrated to pnpm
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: none

chore: updated license and readme
  LICENSE.md
  README.md
Due: none

chore: added readme image
  README.md
Due: none

chore: update readme
  README.md
Due: none

fix(Autocomplete): correct backspace handling
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
Due: eslint

v3.7.4
  package.json
Due: none

feat(Tabs): removed hover effect from the active tabs
  CHANGELOG.md
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/TabsItem.tsx
  src/components/Tabs/tests/Tabs.stories.tsx
Due: eslint, stylelint

feat(ProgressIndicator): updated the dots design and simplified the implementation
  src/Sandbox.stories.tsx
  src/components/ProgressIndicator/ProgressIndicator.module.css
  src/components/ProgressIndicator/ProgressIndicator.tsx
  src/components/ProgressIndicator/tests/ProgressIndicator.stories.tsx
Due: eslint, stylelint

feat(Grid): added columnGap and rowGap properties
  src/components/Grid/Grid.module.css
  src/components/Grid/Grid.tsx
  src/components/Grid/Grid.types.ts
  src/components/Grid/tests/Grid.stories.tsx
  src/components/Grid/tests/Grid.test.stories.tsx
Due: eslint, stylelint

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix(Theme): added additional check when used without name and there is no parent theme
  src/components/Theme/Theme.tsx
Due: eslint

feat(themes): added transform helper to the exports
  src/themes/index.ts
Due: eslint

docs: updated readme
  README.md
Due: none

docs: updated changelog
  CHANGELOG-extra.md
  CHANGELOG.md
Due: none

v3.8.0-canary.0
  CHANGELOG.md
  package.json
Due: none

Update README.md
  README.md
Due: none

chore: updated package.json
  package.json
Due: none

fix for PinField
  src/components/PinField/PinFieldControlled.tsx
  src/components/PinField/tests/PinField.test.stories.tsx
Due: eslint

fix(PinField): fixed incorrect overwrite behavior edge case when default value is provided
  src/components/PinField/PinField.module.css
  src/components/PinField/tests/PinField.stories.tsx
  src/components/PinField/tests/PinField.test.stories.tsx
Due: eslint, stylelint

chore: migrate scripts from yarn to pnpm and add missing deps
  package.json
  pnpm-lock.yaml
Due: none

feat(flyout): add shiftIntoView fallback for constrained containers
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Flyout/utilities/flyout.ts
  src/components/Flyout/utilities/shiftIntoView.ts
  src/components/Flyout/utilities/tests/shiftIntoView.test.ts
Due: eslint

Update link to documentation in README.md
  README.md
Due: none

chore: migrate scripts from yarn to pnpm and add missing deps
  .github/workflows/pull-request.yml
  package.json
  pnpm-lock.yaml
Due: none

Update src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Flyout/tests/Flyout.stories.tsx
Due: eslint

feat(Flyout): added fallbackAdjustLayout
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Flyout/useFlyout.ts
  src/components/Flyout/utilities/calculatePosition.ts
  src/components/Flyout/utilities/flyout.ts
  src/components/Flyout/utilities/helpers.ts
  src/components/Flyout/utilities/isFullyVisible.ts
  src/components/Flyout/utilities/shiftIntoView.ts
  src/components/Popover/Popover.types.ts
Due: eslint

chore: added pull_request_template.md
  .github/pull_request_template.md
Due: none

test: removed previously implemented test
  src/components/Flyout/utilities/tests/shiftIntoView.test.ts
Due: eslint
