Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

v4: overlay / flyout consitent api
  .changeset/itchy-experts-dig.md
  .changeset/red-doors-cover.md
  packages/reshaped/src/components/Autocomplete/Autocomplete.tsx
  packages/reshaped/src/components/Autocomplete/Autocomplete.types.ts
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.types.ts
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Modal/Modal.tsx
  packages/reshaped/src/components/Modal/Modal.types.ts
  packages/reshaped/src/components/Modal/tests/Modal.stories.tsx
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/components/Overlay/Overlay.types.ts
  packages/reshaped/src/components/Overlay/tests/Overlay.stories.tsx
  packages/reshaped/src/components/Popover/Popover.types.ts
  packages/reshaped/src/components/Popover/tests/Popover.stories.tsx
  packages/reshaped/src/components/Tooltip/Tooltip.types.ts
Due: eslint

v4: updated elevation values
  package.json
  packages/reshaped/src/components/View/tests/View.stories.tsx
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
Due: eslint, stylelint

Badge, Flyout: v4 fixes
  .changeset/calm-islands-kiss.md
  .changeset/violet-toes-make.md
  packages/reshaped/src/components/Badge/Badge.module.css
  packages/reshaped/src/components/Badge/Badge.tsx
  packages/reshaped/src/components/Badge/tests/Badge.stories.tsx
  packages/reshaped/src/components/Flyout/Flyout.module.css
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
  packages/reshaped/src/components/ScrollArea/ScrollArea.types.ts
Due: eslint, stylelint

chore: release
  .changeset/calm-islands-kiss.md
  .changeset/violet-toes-make.md
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

bump
  .changeset/config.json
  .changeset/fruity-otters-trade.md
  packages/theming/package.json
Due: none

chore: release
  .changeset/fruity-otters-trade.md
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/theming/CHANGELOG.md
  packages/theming/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

fix(skills): link to latest v3 version for v3 to v4 skills
  skills/reshaped-v3-v4/changes/scrim-removed.md
  skills/reshaped-v3-v4/changes/stepper-removed.md
  skills/reshaped-v3-v4/changes/timeline-removed.md
Due: none

Select, ScrollArea, Flyout: v4 improvements
  .changeset/breezy-waves-shine.md
  .changeset/calm-parrots-wink.md
  .changeset/flat-guests-stay.md
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
  packages/reshaped/src/components/ScrollArea/ScrollArea.types.ts
  packages/reshaped/src/components/ScrollArea/tests/ScrollArea.stories.tsx
  packages/reshaped/src/components/Select/SelectCustomControlled.tsx
  packages/utilities/src/flyout/Flyout.ts
  packages/utilities/src/flyout/tests/Flyout.test.ts
Due: eslint, stylelint

chore: release
  .changeset/breezy-waves-shine.md
  .changeset/calm-parrots-wink.md
  .changeset/flat-guests-stay.md
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/theming/CHANGELOG.md
  packages/theming/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

Add Vercel badge and enhance README content
  README.md
Due: none

Update README with image and formatting improvements
  README.md
Due: none

Clean up README formatting
  README.md
Due: none

fix(skills): link to latest v3 version for v3 to v4 skills (#626)
  skills/reshaped-v3-v4/changes/scrim-removed.md
  skills/reshaped-v3-v4/changes/stepper-removed.md
  skills/reshaped-v3-v4/changes/timeline-removed.md
Due: none

fix(Calendar): prevent month navigation from skipping months
  .changeset/fix-calendar-month-overflow.md
  packages/reshaped/src/components/Calendar/Calendar.utils.ts
Due: eslint

fix(Calendar): keep Next button visible on navigable months
  .changeset/fix-calendar-nav-bounds.md
  packages/reshaped/src/components/Calendar/Calendar.utils.ts
Due: eslint

fix(Calendar): correct day-cell placement for firstWeekDay >= 2
  .changeset/fix-calendar-firstweekday.md
  packages/reshaped/src/components/Calendar/Calendar.utils.ts
Due: eslint

fix(Toast): don't render a stray 0 when there are no actions
  .changeset/fix-toast-stray-zero.md
  packages/reshaped/src/components/Toast/Toast.tsx
Due: eslint

fix(Toast): clear auto-dismiss timer on unmount
  .changeset/fix-toast-timer-leak.md
  packages/reshaped/src/components/Toast/ToastContainer.tsx
Due: eslint

fix(Slider): allow range max thumb to swap when min thumb is at 0
  .changeset/fix-slider-range-swap-zero.md
  packages/reshaped/src/components/Slider/SliderControlled.tsx
Due: eslint

fix(Slider): respect an uncontrolled default value of 0
  .changeset/fix-slider-default-zero.md
  packages/reshaped/src/components/Slider/SliderUncontrolled.tsx
Due: eslint

fix(useScrollLock): release the lock on unmount
  .changeset/fix-usescrolllock-unmount.md
  packages/reshaped/src/hooks/useScrollLock.ts
Due: eslint

fix(scroll): reference-count locks so stacked locks release correctly
  .changeset/fix-lockscroll-refcount.md
  packages/utilities/src/scroll/lock.ts
Due: eslint

fix(scroll): guard against re-locking iOS Safari scroll while locked
  .changeset/fix-locksafari-nested-guard.md
  packages/utilities/src/scroll/lockSafari.ts
Due: eslint

fix(Calendar): prevent month navigation from skipping months (#627)
  .changeset/fix-calendar-month-overflow.md
  packages/reshaped/src/components/Calendar/Calendar.utils.ts
Due: eslint

fix(Calendar): correct day-cell placement for firstWeekDay >= 2 (#629)
  .changeset/fix-calendar-firstweekday.md
  packages/reshaped/src/components/Calendar/Calendar.utils.ts
Due: eslint

fix(Toast): don't render a stray 0 when there are no actions (#630)
  .changeset/fix-toast-stray-zero.md
  packages/reshaped/src/components/Toast/Toast.tsx
Due: eslint

fix(Toast): clear auto-dismiss timer on unmount (#631)
  .changeset/fix-toast-timer-leak.md
  packages/reshaped/src/components/Toast/ToastContainer.tsx
Due: eslint

fix(Toast): release focus trap on unmount
  .changeset/fix-toast-focustrap-leak.md
  packages/reshaped/src/components/Toast/ToastContainer.tsx
Due: eslint

fix(Toast): release focus trap on unmount (#632)
  .changeset/fix-toast-focustrap-leak.md
  packages/reshaped/src/components/Toast/ToastContainer.tsx
Due: eslint

fix(Slider): allow range max thumb to swap when min thumb is at 0 (#633)
  .changeset/fix-slider-range-swap-zero.md
  packages/reshaped/src/components/Slider/SliderControlled.tsx
Due: eslint

fix(Slider): respect an uncontrolled default value of 0 (#634)
  .changeset/fix-slider-default-zero.md
  packages/reshaped/src/components/Slider/SliderUncontrolled.tsx
Due: eslint

fix(Carousel): don't steal focus when scrolling to an edge
  .changeset/fix-carousel-focus-theft.md
  packages/reshaped/src/components/Carousel/Carousel.tsx
  packages/reshaped/src/components/Carousel/Carousel.types.ts
  packages/reshaped/src/components/Carousel/CarouselControl.tsx
Due: eslint

fix(Carousel): don't steal focus when scrolling to an edge (#635)
  .changeset/fix-carousel-focus-theft.md
  packages/reshaped/src/components/Carousel/Carousel.tsx
  packages/reshaped/src/components/Carousel/Carousel.types.ts
  packages/reshaped/src/components/Carousel/CarouselControl.tsx
Due: eslint

fix(Select): expose listbox/option selection state to assistive tech
  .changeset/fix-select-listbox-a11y.md
  packages/reshaped/src/components/Select/SelectCustomControlled.tsx
Due: eslint

fix(Select): expose listbox/option selection state to assistive tech (#636)
  .changeset/fix-select-listbox-a11y.md
  packages/reshaped/src/components/Select/SelectCustomControlled.tsx
Due: eslint

fix(TrapFocus): trap focus when content is added to an empty container
  .changeset/fix-trapfocus-observer-leak.md
  packages/utilities/src/a11y/TrapFocus.ts
  packages/utilities/src/a11y/tests/TrapFocus.test.ts
Due: eslint

fix(scroll): detect container overflow correctly when locking scroll
  .changeset/fix-lockstandard-scrollbar.md
  packages/utilities/src/scroll/lockStandard.ts
  packages/utilities/src/scroll/tests/lock.test.ts
Due: eslint

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
