Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

chore: updated storybook
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

chore: updated dependencies
  package.json
  yarn.lock
Due: none

feat(Tabs): added fade animation
  CHANGELOG.md
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/TabsList.tsx
  src/config/postcss.ts
  tools/build/postcss.config.js
Due: eslint, stylelint

v2.10.15
  package.json
Due: none

fix(ActionBar): fixed elevated variant shadow blocking events
  src/components/ActionBar/ActionBar.module.css
Due: stylelint

v2.10.16
  package.json
Due: none

fix: updated @layer implementation
  src/components/MenuItem/tests/MenuItem.stories.tsx
  src/components/Reshaped/Reshaped.css
  src/components/Tabs/Tabs.module.css
  src/config/postcss.ts
  tools/build/postcss.config.js
Due: eslint, stylelint

v2.10.17
  package.json
Due: none

fix: small css fixes
  src/components/Calendar/Calendar.module.css
  src/components/PinField/PinFieldControlled.tsx
Due: eslint, stylelint

v2.10.18
  package.json
Due: none

fix(Modal): fixed swipe to close in scrollable areas
  CHANGELOG.md
  src/components/Modal/Modal.tsx
  src/components/Modal/tests/Modal.stories.tsx
Due: eslint

v2.10.19
  package.json
Due: none

refactor(PinField): updated charPattern to pattern
  src/components/PinField/PinField.types.ts
  src/components/PinField/PinFieldControlled.tsx
  src/components/PinField/tests/PinField.stories.tsx
  src/components/PinField/tests/PinField.test.tsx
Due: eslint

fix(View): fixed rendering of null elements inside a fragment
  src/components/View/View.tsx
Due: eslint

v2.11.0
  package.json
Due: none

fix: release
  CHANGELOG.md
  src/components/Actionable/Actionable.tsx
  src/components/Actionable/tests/Actionable.stories.tsx
  src/components/MenuItem/tests/MenuItem.stories.tsx
  src/components/PinField/PinFieldControlled.tsx
  src/components/PinField/tests/PinField.stories.tsx
  src/components/_private/Expandable/Expandable.module.css
  src/components/_private/Expandable/Expandable.tsx
Due: eslint, stylelint

v2.11.1
  package.json
Due: none

fix(Flyout): fixed flyout state on the fastest repeat
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/hooks/_private/useFlyout.ts
Due: eslint

fix: popover transition
  src/components/_private/Flyout/FlyoutControlled.tsx
Due: eslint

v2.11.2
  package.json
Due: none

fix
  reshaped-source-v2.11.2.zip
  src/components/_private/Flyout/FlyoutControlled.tsx
Due: eslint

v2.11.3
  package.json
Due: none

fix(View): fixed rendering with a single fragment
  reshaped-source-v2.11.2.zip
  src/components/View/View.tsx
Due: eslint

v2.11.4
  package.json
Due: none

fix(TextArea): fixed sizing when using values without spaces in them
  CHANGELOG.md
  src/components/Modal/tests/Modal.stories.tsx
  src/components/TextArea/TextArea.module.css
  src/components/TextArea/tests/TextArea.stories.tsx
Due: eslint, stylelint

fix(Slider): fit thumbs within the bar area not to cause overflow
  CHANGELOG.md
  src/components/Slider/Slider.module.css
  src/components/Slider/SliderControlled.tsx
  src/components/Slider/tests/Slider.stories.tsx
Due: eslint, stylelint

fix(Slider): fixed horizontal scrolling on mount in safari
  CHANGELOG.md
  src/components/Slider/Slider.module.css
  src/components/Slider/SliderControlled.tsx
  src/components/Slider/tests/Slider.stories.tsx
Due: eslint, stylelint

v2.11.5
  package.json
Due: none

fix: slider attempt
  src/components/Slider/Slider.module.css
  src/components/Slider/SliderControlled.tsx
  src/components/Slider/tests/Slider.stories.tsx
  src/components/_private/Expandable/Expandable.tsx
Due: eslint, stylelint

v2.11.6
  package.json
Due: none

New color generation
  package.json
  src/icons/Mic.tsx
  src/themes/_generator/tests/themes.stories.tsx
  src/themes/_generator/utilities/color.ts
  src/themes/_generator/utilities/generateColors-test.ts
  src/themes/_generator/utilities/generateColors.ts
  src/themes/index.ts
  yarn.lock
Due: eslint

feat(Popover): added support for using tooltip and popover on the same element
  src/components/Popover/tests/Popover.stories.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
Due: eslint

v2.11.7
  package.json
Due: none

fix: update
  CHANGELOG.md
  bin/cli.js
  package.json
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Text/tests/Text.stories.tsx
  src/themes/_generator/tests/themes.stories.tsx
  src/themes/_generator/utilities/generateColors-old.ts
  src/themes/_generator/utilities/generateColors-test.ts
  src/themes/_generator/utilities/generateColors.ts
  src/themes/figma/theme.css
  src/themes/figma/theme.json
  src/themes/index.ts
  src/themes/reshaped/theme.css
  src/themes/reshaped/theme.json
  src/themes/slate/theme.css
  src/themes/slate/theme.json
  src/utilities/storybook/Example.module.css
  tools/build/postcss.config.js
  tools/build/postcss.responsive.js
  tools/jest/css.stub.js
  tools/jest/jest.config.js
  tools/storybook/plugins/preset.js
  tools/storybook/postcss.config.js
  tools/storybook/preview.tsx
Due: eslint, stylelint

feat(Actionable): migrated to :focus-visible
  CHANGELOG.md
  src/components/Actionable/Actionable.module.css
  tsconfig.stories.json
Due: stylelint

fix: fix
  CHANGELOG.md
  package.json
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/definitions/slate.ts
  src/themes/_generator/tests/themes.stories.tsx
  src/themes/_generator/tokens/color/color.types.ts
  src/themes/_generator/types.ts
  src/themes/_generator/utilities/color.ts
  src/themes/_generator/utilities/generateBackgroundColors.ts
  src/themes/_generator/utilities/generateColors-old.ts
  src/themes/_generator/utilities/generateColors.ts
  src/themes/_generator/utilities/tests/color.test.ts
  src/themes/figma/theme.css
  src/themes/figma/theme.json
  src/themes/index.ts
  src/themes/reshaped/theme.css
  src/themes/reshaped/theme.json
  src/themes/slate/theme.css
  src/themes/slate/theme.json
  src/utilities/storybook/Example.module.css
  src/utilities/storybook/Example.tsx
  tools/storybook/preview.tsx
  tsconfig.cjs.json
Due: eslint, stylelint

fix
  src/components/Actionable/Actionable.module.css
Due: stylelint

v2.11.8
  package.json
Due: none

v2.11.9
  package.json
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
