Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{ts,tsx}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}

prepare-commit-msg:
  commands:
    "review commit method":
      run: |
        COMMIT_MSG_FILE="$1"

        if [ ! -s "$COMMIT_MSG_FILE" ]; then
          exit 0
        fi

        if [ -z "$ALLOW_COMMIT" ]; then
          echo "ðŸš« Use 'yarn commit' instead of 'git commit'."
          exit 1
        fi

commit-msg:
  commands:
    "lint commit message":
      run: npx commitlint --color --edit {1}

feat(useHandlerRef): extracted to headless
  .changeset/heavy-baboons-walk.md
  packages/headless/src/hooks/useHandlerRef.ts
  packages/headless/src/index.ts
  packages/reshaped/src/components/Accordion/AccordionControlled.tsx
  packages/reshaped/src/components/Autocomplete/Autocomplete.tsx
  packages/reshaped/src/components/ContextMenu/ContextMenu.tsx
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Modal/Modal.tsx
  packages/reshaped/src/components/NumberField/NumberFieldControlled.tsx
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
  packages/reshaped/src/components/Slider/SliderControlled.tsx
  packages/reshaped/src/hooks/_private/useDrag.ts
  packages/reshaped/src/hooks/tests/useHandlerRef.stories.tsx
  packages/reshaped/src/hooks/useOnClickOutside.ts
  packages/reshaped/src/index.ts
Due: eslint

feat(useKeyboardArrowNavigation): moved to headless
  .changeset/big-beers-lick.md
  packages/headless/src/hooks/useKeyboardArrowNavigation.tsx
  packages/headless/src/index.ts
  packages/headless/src/internal.ts
  packages/reshaped/src/components/Tabs/TabsList.tsx
  packages/reshaped/src/components/ToggleButtonGroup/ToggleButtonGroupControlled.tsx
  packages/reshaped/src/hooks/tests/useKeyboardArrowNavigation.stories.tsx
  packages/reshaped/src/index.ts
Due: eslint

feat(useOnClickOutside): moved to headless
  .changeset/eleven-webs-check.md
  packages/headless/src/hooks/useOnClickOutside.ts
  packages/headless/src/index.ts
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/hooks/tests/useOnClickOutside.stories.tsx
  packages/reshaped/src/index.ts
  packages/utilities/src/a11y/TrapFocus.ts
  packages/utilities/src/constants/keys.ts
  packages/utilities/src/index.ts
Due: eslint

feat(useScrollLock): moved to headless
  .changeset/honest-foxes-care.md
  packages/headless/src/hooks/useScrollLock.ts
  packages/headless/src/index.ts
  packages/headless/src/internal.ts
  packages/reshaped/src/components/ContextMenu/ContextMenu.tsx
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/hooks/tests/useScrollLock.stories.tsx
  packages/reshaped/src/index.ts
Due: eslint

feat(useToggle): moved to headless
  .changeset/lucky-coats-fix.md
  packages/headless/src/hooks/useToggle.ts
  packages/headless/src/index.ts
  packages/reshaped/src/components/ActionBar/tests/ActionBar.stories.tsx
  packages/reshaped/src/components/Autocomplete/tests/Autocomplete.stories.tsx
  packages/reshaped/src/components/FileUpload/FileUpload.tsx
  packages/reshaped/src/components/Modal/tests/Modal.stories.tsx
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/components/Overlay/tests/Overlay.stories.tsx
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
  packages/reshaped/src/components/Slider/tests/Slider.stories.tsx
  packages/reshaped/src/components/ToggleButton/ToggleButtonUncontrolled.tsx
  packages/reshaped/src/components/View/tests/View.stories.tsx
  packages/reshaped/src/components/_private/Portal/Portal.tsx
  packages/reshaped/src/hooks/_private/useDrag.ts
  packages/reshaped/src/hooks/tests/useDrag.stories.tsx
  packages/reshaped/src/hooks/tests/useToggle.stories.tsx
  packages/reshaped/src/index.ts
  packages/reshaped/src/tests/ThemesPlayground.tsx
Due: eslint

test: shared storybook setup
  .storybook/main.ts
  .storybook/plugins/iframe.mjs
  .storybook/plugins/preset.mjs
  packages/headless/src/hooks/tests/useHandlerRef.stories.tsx
  packages/headless/src/hooks/tests/useHotkeys.stories.tsx
  packages/headless/src/hooks/tests/useKeyboardArrowNavigation.stories.tsx
  packages/headless/src/hooks/tests/useKeyboardMode.stories.tsx
  packages/headless/src/hooks/tests/useOnClickOutside.stories.tsx
  packages/headless/src/hooks/tests/useRTL.stories.tsx
  packages/headless/src/hooks/tests/useScrollLock.stories.tsx
  packages/headless/src/hooks/tests/useToggle.stories.tsx
Due: eslint

feat(Actionable): moved to headless
  .changeset/metal-cobras-bathe.md
  packages/headless/src/components/Actionable/Actionable.tsx
  packages/headless/src/components/Actionable/Actionable.types.ts
  packages/headless/src/components/Actionable/index.ts
  packages/headless/src/index.ts
  packages/reshaped/src/components/Actionable/Actionable.tsx
  packages/reshaped/src/components/Actionable/Actionable.types.ts
  packages/reshaped/src/components/Actionable/index.ts
  packages/reshaped/src/components/Card/Card.tsx
  packages/reshaped/src/components/Card/Card.types.ts
Due: eslint

chore: canary release
  .changeset/pre.json
  packages/headless/CHANGELOG.md
  packages/headless/package.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

chore: canary release
  .changeset/pre.json
Due: none

Flyout: safe area buffer
  .changeset/many-actors-rhyme.md
  packages/reshaped/src/components/Flyout/utilities/safeArea.ts
Due: eslint

fix: tailwind outline
  .changeset/fresh-tables-brush.md
  packages/reshaped/src/cli/theming/tailwind.ts
Due: eslint

fix: tw themes
  .changeset/sunny-deer-wink.md
  packages/reshaped/src/themes/figma/tailwind.css
  packages/reshaped/src/themes/fragments/twitter/tailwind.css
  packages/reshaped/src/themes/reshaped/tailwind.css
  packages/reshaped/src/themes/slate/tailwind.css
Due: stylelint

fix(Pinfield): container scroll
  .changeset/goofy-eagles-repair.md
  packages/headless/src/components/Actionable/Actionable.tsx
  packages/reshaped/src/components/PinField/PinField.module.css
  packages/reshaped/src/components/PinField/PinFieldControlled.tsx
Due: eslint, stylelint

chore: stylelint baseline
  .changeset/yummy-socks-stare.md
  .stylelintrc
  package.json
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Table/Table.module.css
  packages/reshaped/src/components/Tabs/Tabs.module.css
  packages/reshaped/src/components/Text/Text.module.css
  packages/reshaped/src/components/TextArea/TextArea.module.css
  packages/reshaped/src/components/TextField/TextField.module.css
  pnpm-lock.yaml
Due: stylelint

feat: React compiler setup
  .changeset/wild-lands-exist.md
  package.json
  packages/headless/package.json
  packages/headless/vite.config.mjs
  packages/reshaped/package.json
  packages/reshaped/vite.config.mjs
  pnpm-lock.yaml
Due: none

fix: storybook
  .storybook/preview.jsx
  packages/reshaped/src/components/Theme/GlobalColorMode.tsx
Due: eslint

feat(themes): add semantic control radius tokens
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/MenuItem/MenuItem.module.css
  packages/reshaped/src/components/Select/Select.module.css
  packages/reshaped/src/components/TextArea/TextArea.module.css
  packages/reshaped/src/components/TextField/TextField.module.css
  packages/reshaped/src/themes/_generator/tokens/radius/radius.transforms.ts
  packages/reshaped/src/themes/_generator/tokens/radius/radius.types.ts
  packages/reshaped/src/themes/figma/theme.json
  packages/reshaped/src/themes/reshaped/theme.json
  packages/reshaped/src/themes/slate/theme.json
Due: eslint, stylelint

fix(Text): reset inherit
  .changeset/two-tools-thank.md
  packages/reshaped/src/components/Text/Text.module.css
Due: stylelint

fix(types): Add `@types/culori` to `reshaped` package `dependencies`
  .changeset/small-zoos-wait.md
  packages/reshaped/package.json
  pnpm-lock.yaml
Due: none

fix(Flyout): removed error throw
  .changeset/rare-eyes-return.md
  packages/utilities/src/flyout/utilities/applyPosition.ts
Due: eslint

fix(ButtonGroup): separator color
  .changeset/four-bikes-move.md
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/ToggleButtonGroup/tests/ToggleButtonGroup.stories.tsx
Due: eslint, stylelint

fix(ButtonGroup): separator color (#584)
  .changeset/four-bikes-move.md
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/ToggleButtonGroup/tests/ToggleButtonGroup.stories.tsx
Due: eslint, stylelint

fix(Modal): max height
  .changeset/grumpy-beers-sneeze.md
  packages/reshaped/src/components/Modal/Modal.module.css
Due: stylelint

chore: add stories to the build
  .changeset/pink-animals-exist.md
  packages/reshaped/package.json
  packages/reshaped/tsconfig.json
Due: none
