Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

fix(scroll): detect container overflow correctly when locking scroll (#639)
  .changeset/fix-lockstandard-scrollbar.md
  packages/utilities/src/scroll/lockStandard.ts
  packages/utilities/src/scroll/tests/lock.test.ts
Due: eslint

fix(scroll): scope StyleCache to a single locked element
  .changeset/fix-stylecache-scoped-reset.md
  packages/utilities/src/css/StyleCache.ts
  packages/utilities/src/css/tests/StyleCache.test.ts
  packages/utilities/src/scroll/lockSafari.ts
  packages/utilities/src/scroll/lockStandard.ts
  packages/utilities/src/scroll/tests/lock.test.ts
Due: eslint

fix(scroll): scope StyleCache.reset to the locked element (#641)
  .changeset/fix-stylecache-scoped-reset.md
  packages/utilities/src/css/StyleCache.ts
  packages/utilities/src/css/tests/StyleCache.test.ts
  packages/utilities/src/scroll/lockSafari.ts
  packages/utilities/src/scroll/lockStandard.ts
  packages/utilities/src/scroll/tests/lock.test.ts
Due: eslint

trap focus: fixed mid queue release
  packages/utilities/src/a11y/TrapFocus.ts
Due: eslint

fix(TrapFocus): trap focus when content is added to an empty container (#638)
  .changeset/fix-trapfocus-observer-leak.md
  packages/utilities/src/a11y/TrapFocus.ts
  packages/utilities/src/a11y/tests/TrapFocus.test.ts
Due: eslint

lock scroll
  packages/utilities/src/scroll/lock.ts
  packages/utilities/src/scroll/tests/lock.test.ts
Due: eslint

fix(scroll): reference-count locks so stacked locks release correctly (#640)
  .changeset/fix-lockscroll-refcount.md
  packages/utilities/src/scroll/lock.ts
  packages/utilities/src/scroll/tests/lock.test.ts
Due: eslint

fix(theming): prevent reference errors on CJS require call
  .changeset/orange-bugs-fold.md
  packages/theming/src/cli/run.ts
Due: eslint

fix(theming): prevent reference errors on CJS require call (#645)
  .changeset/orange-bugs-fold.md
  packages/theming/src/cli/run.ts
Due: eslint

LoaderText
  .changeset/dark-results-hide.md
  packages/reshaped/src/components/LoaderText/LoaderText.module.css
  packages/reshaped/src/components/LoaderText/LoaderText.tsx
  packages/reshaped/src/components/LoaderText/LoaderText.types.ts
  packages/reshaped/src/components/LoaderText/index.ts
  packages/reshaped/src/components/LoaderText/tests/LoaderText.stories.tsx
  packages/reshaped/src/index.ts
Due: eslint, stylelint

ScrollArea height observer
  .changeset/red-oranges-help.md
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
  packages/reshaped/src/components/ScrollArea/tests/ScrollArea.stories.tsx
Due: eslint, stylelint

feat(ScrollArea): add fadeMask prop for fading scrollable sides
  .changeset/scrollarea-fade-mask.md
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
  packages/reshaped/src/components/ScrollArea/ScrollArea.types.ts
  packages/reshaped/src/components/ScrollArea/tests/ScrollArea.stories.tsx
Due: eslint, stylelint

chore: apply oxfmt formatting
  README.md
  packages/theming/src/cli/run.ts
Due: eslint

refactor(ScrollArea): rename fadeMask prop to fade, remove comments
  .changeset/scrollarea-fade-mask.md
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
  packages/reshaped/src/components/ScrollArea/ScrollArea.types.ts
  packages/reshaped/src/components/ScrollArea/tests/ScrollArea.stories.tsx
Due: eslint, stylelint

refactor(ScrollArea): ease the fade mask gradient
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
Due: stylelint

refactor(Table): render scroll fade with scroll-driven animations
  .changeset/table-fade-scroll-driven.md
  packages/reshaped/src/components/Table/Table.module.css
  packages/reshaped/src/components/Table/Table.tsx
Due: eslint, stylelint

fade size
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/Table/Table.module.css
  packages/reshaped/src/components/Table/tests/Table.stories.tsx
Due: eslint, stylelint

feat(ScrollArea): add fade prop for fading scrollable sides, migrate Table fade to scroll-driven animations (#648)
  .changeset/scrollarea-fade-mask.md
  .changeset/table-fade-scroll-driven.md
  README.md
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
  packages/reshaped/src/components/ScrollArea/ScrollArea.types.ts
  packages/reshaped/src/components/ScrollArea/tests/ScrollArea.stories.tsx
  packages/reshaped/src/components/Table/Table.module.css
  packages/reshaped/src/components/Table/Table.tsx
  packages/reshaped/src/components/Table/tests/Table.stories.tsx
  packages/theming/src/cli/run.ts
Due: eslint, stylelint

skeleton opacity
  .changeset/chilly-peas-own.md
  packages/reshaped/src/components/Skeleton/Skeleton.module.css
  packages/reshaped/src/components/Skeleton/Skeleton.tsx
Due: eslint, stylelint

flyout on small screens
  .changeset/hip-ways-know.md
  packages/utilities/src/flyout/utilities/applyPosition.ts
  packages/utilities/src/flyout/utilities/calculateLayoutAdjustment.ts
  packages/utilities/src/flyout/utilities/tests/applyPosition.test.ts
  packages/utilities/src/flyout/utilities/tests/calculateLayoutAdjustment.test.ts
Due: eslint

view z-index
  .changeset/view-zindex-tokens.md
  packages/reshaped/src/components/View/View.module.css
  packages/reshaped/src/components/View/View.tsx
  packages/reshaped/src/components/View/View.types.ts
  packages/reshaped/src/components/View/tests/View.stories.tsx
  packages/reshaped/src/styles/mixin.ts
  packages/reshaped/src/styles/resolvers/zIndex/__snapshots__/index.test.ts.snap
  packages/reshaped/src/styles/resolvers/zIndex/index.test.ts
  packages/reshaped/src/styles/resolvers/zIndex/index.ts
  packages/reshaped/src/styles/resolvers/zIndex/zIndex.css
  packages/reshaped/src/styles/types.ts
Due: eslint, stylelint

View: add center keyword for insetInline and insetBlock
  .changeset/view-inset-center.md
  packages/reshaped/src/components/View/View.tsx
  packages/reshaped/src/components/View/View.types.ts
  packages/reshaped/src/components/View/tests/View.stories.tsx
  packages/reshaped/src/styles/resolvers/inset/__snapshots__/index.test.ts.snap
  packages/reshaped/src/styles/resolvers/inset/index.test.ts
  packages/reshaped/src/styles/resolvers/inset/index.ts
  packages/reshaped/src/styles/resolvers/inset/inset.css
  packages/reshaped/src/styles/resolvers/inset/inset.module.css
  packages/reshaped/src/styles/resolvers/zIndex/index.ts
  packages/reshaped/src/styles/types.ts
Due: eslint, stylelint

View: add center keyword for insetInline and insetBlock (#650)
  .changeset/view-inset-center.md
  packages/reshaped/src/components/View/View.tsx
  packages/reshaped/src/components/View/View.types.ts
  packages/reshaped/src/components/View/tests/View.stories.tsx
  packages/reshaped/src/styles/resolvers/inset/__snapshots__/index.test.ts.snap
  packages/reshaped/src/styles/resolvers/inset/index.test.ts
  packages/reshaped/src/styles/resolvers/inset/index.ts
  packages/reshaped/src/styles/resolvers/inset/inset.css
  packages/reshaped/src/styles/resolvers/inset/inset.module.css
  packages/reshaped/src/styles/resolvers/zIndex/index.ts
  packages/reshaped/src/styles/types.ts
Due: eslint, stylelint

fix(Button): keep group border above highlighted buttons
  .changeset/fix-button-group-border-zindex.md
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Button/tests/Button.stories.tsx
Due: eslint, stylelint

fix(Button): keep group border above highlighted buttons (#651)
  .changeset/fix-button-group-border-zindex.md
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Button/tests/Button.stories.tsx
Due: eslint, stylelint

feat(View): support inset="center" for centering on both axes
  .changeset/view-inset-center.md
  packages/reshaped/src/components/View/View.types.ts
  packages/reshaped/src/components/View/tests/View.stories.tsx
  packages/reshaped/src/styles/resolvers/inset/__snapshots__/index.test.ts.snap
  packages/reshaped/src/styles/resolvers/inset/index.test.ts
  packages/reshaped/src/styles/resolvers/inset/index.ts
  packages/reshaped/src/styles/resolvers/inset/inset.css
  packages/reshaped/src/styles/types.ts
Due: eslint, stylelint

popover readius
  .changeset/honest-poets-tickle.md
  packages/reshaped/src/components/Button/tests/Button.stories.tsx
  packages/reshaped/src/components/Popover/Popover.tsx
Due: eslint

dark mode colors
  .changeset/puny-parrots-sleep.md
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
Due: eslint, stylelint

updated deps
  .oxfmtrc.json
  .storybook/main.ts
  package.json
  packages/reshaped/package.json
  packages/reshaped/src/components/TextField/TextField.module.css
  packages/reshaped/src/components/Toast/ToastContainer.tsx
  packages/theming/package.json
  packages/utilities/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, stylelint

accordiong content relative position
  .changeset/fresh-ants-watch.md
  .oxfmtrc.json
  packages/reshaped/src/components/TextField/TextField.module.css
  packages/reshaped/src/components/_private/Expandable/Expandable.module.css
Due: stylelint

animation variabes
  .changeset/sour-hornets-joke.md
  packages/reshaped/src/components/Checkbox/Checkbox.module.css
  packages/reshaped/src/components/LoaderText/LoaderText.module.css
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/package.json
  packages/theming/src/generation/definitions/figma.ts
  packages/theming/src/generation/definitions/slate.ts
Due: eslint, stylelint

chore: canary release
  .changeset/pre.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/theming/CHANGELOG.md
  packages/theming/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

chore: release
  .changeset/chilly-peas-own.md
  .changeset/dark-results-hide.md
  .changeset/fix-button-group-border-zindex.md
  .changeset/fix-calendar-firstweekday.md
  .changeset/fix-calendar-month-overflow.md
  .changeset/fix-carousel-focus-theft.md
  .changeset/fix-lockscroll-refcount.md
  .changeset/fix-lockstandard-scrollbar.md
  .changeset/fix-select-listbox-a11y.md
  .changeset/fix-slider-default-zero.md
  .changeset/fix-slider-range-swap-zero.md
  .changeset/fix-stylecache-scoped-reset.md
  .changeset/fix-toast-focustrap-leak.md
  .changeset/fix-toast-stray-zero.md
  .changeset/fix-toast-timer-leak.md
  .changeset/fix-trapfocus-observer-leak.md
  .changeset/fresh-ants-watch.md
  .changeset/hip-ways-know.md
  .changeset/honest-poets-tickle.md
  .changeset/orange-bugs-fold.md
  .changeset/pre.json
  .changeset/puny-parrots-sleep.md
  .changeset/red-oranges-help.md
  .changeset/scrollarea-fade-mask.md
  .changeset/sour-hornets-joke.md
  .changeset/table-fade-scroll-driven.md
  .changeset/view-inset-center.md
  .changeset/view-zindex-tokens.md
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/theming/CHANGELOG.md
  packages/theming/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

fix(View): pass fallbackKey to renderItem in default children branch
  packages/reshaped/src/components/View/View.tsx
Due: eslint

fix: export postcss config subpath with file extension
  .changeset/fix-postcss-config-subpath-extension.md
  packages/reshaped/package.json
Due: none

fix: export postcss config subpath with file extension (#654)
  .changeset/fix-postcss-config-subpath-extension.md
  packages/reshaped/package.json
Due: none

feat(Select): add renderTrigger for custom trigger elements
  .changeset/select-render-trigger.md
  packages/reshaped/src/components/Select/Select.types.ts
  packages/reshaped/src/components/Select/SelectCustomControlled.tsx
  packages/reshaped/src/components/Select/SelectHiddenInput.tsx
  packages/reshaped/src/components/Select/SelectTrigger.tsx
  packages/reshaped/src/components/Select/index.ts
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
  packages/reshaped/src/index.ts
Due: eslint

Select: updated stories
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
Due: eslint

Select: PR review
  packages/reshaped/src/components/Select/Select.types.ts
  packages/reshaped/src/components/Select/SelectCustomControlled.tsx
  packages/reshaped/src/components/Select/index.ts
  packages/reshaped/src/index.ts
Due: eslint

feat(Select): add renderTrigger for custom trigger elements (#655)
  .changeset/select-render-trigger.md
  packages/reshaped/src/components/Select/Select.types.ts
  packages/reshaped/src/components/Select/SelectCustomControlled.tsx
  packages/reshaped/src/components/Select/SelectHiddenInput.tsx
  packages/reshaped/src/components/Select/SelectTrigger.tsx
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
Due: eslint

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
