Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

feat(Modal): disableSwipeGesture
  CHANGELOG.md
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/tests/Modal.stories.tsx
Due: eslint

v3.0.2
  package.json
Due: none

fix: reset styles in rs.reset
  CHANGELOG.md
  src/components/Reshaped/Reshaped.css
Due: stylelint

feat(Slider): vertical orientation
  CHANGELOG.md
  src/components/Slider/Slider.module.css
  src/components/Slider/Slider.types.ts
  src/components/Slider/SliderControlled.tsx
  src/components/Slider/SliderThumb.tsx
  src/components/Slider/tests/Slider.stories.tsx
  src/utilities/dom.ts
Due: eslint, stylelint

v3.0.3
  package.json
Due: none

feat(Tooltip): added animation cooldown, disabled flag and fixed positioning
  CHANGELOG.md
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.ts
  src/components/Tooltip/tests/Tooltip.stories.tsx
  src/components/_private/Flyout/Flyout.constants.ts
  src/components/_private/Flyout/Flyout.module.css
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.test.tsx
  src/components/_private/Flyout/utilities/calculatePosition.ts
  src/components/_private/Flyout/utilities/cooldown.ts
  src/constants/timeouts.ts
Due: eslint, stylelint

feat(Flyout): containerRef support
  CHANGELOG.md
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/Popover/Popover.tsx
  src/components/Popover/Popover.types.ts
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/components/_private/Flyout/tests/Flyout.test.tsx
  src/components/_private/Flyout/useFlyout.ts
Due: eslint

feat(Text): responsive weight
  CHANGELOG.md
  src/components/Text/Text.module.css
  src/components/Text/Text.tsx
  src/components/Text/Text.types.ts
  src/components/Text/tests/Text.stories.tsx
Due: eslint, stylelint

docs: updated stories
  src/components/_private/Flyout/tests/Flyout.stories.tsx
Due: eslint

feat(View): responsive border color
  CHANGELOG.md
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/Autocomplete.types.ts
  src/components/View/View.module.css
  src/components/View/View.tsx
  src/components/View/View.types.ts
  src/components/View/tests/View.stories.tsx
  src/styles/border/__snapshots__/index.test.ts.snap
  src/styles/border/border.module.css
  src/styles/border/index.test.ts
  src/styles/border/index.ts
  src/styles/types.ts
Due: eslint, stylelint

feat(Flyout): dynamic positioning
  CHANGELOG.md
  src/components/Carousel/Carousel.types.ts
  src/components/Carousel/index.ts
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/DropdownMenu/index.ts
  src/components/Popover/Popover.types.ts
  src/components/Popover/index.ts
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/index.ts
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/components/_private/Flyout/useFlyout.ts
  src/index.ts
Due: eslint

fix(Flyout): fixed type errors
  src/components/Carousel/Carousel.types.ts
  src/components/DropdownMenu/DropdownMenu.tsx
Due: eslint

feat(Flyout): support for disabled content hover
  CHANGELOG.md
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Popover/Popover.tsx
  src/components/Popover/Popover.types.ts
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.ts
  src/components/_private/Flyout/Flyout.module.css
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
Due: eslint, stylelint

fix(Flyout): calculate position correctly inside fixed position containers that are not top: 0
  CHANGELOG.md
  src/components/_private/Flyout/useFlyout.ts
  src/components/_private/Flyout/utilities/calculatePosition.ts
Due: eslint

fix(Flyout): nested flyout cooldown
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
Due: eslint

fix(Modal): swipe improvements
  CHANGELOG.md
  src/components/Modal/Modal.tsx
Due: eslint

v3.0.4
  package.json
Due: none

fix(Modal, Flyout): fixes
  CHANGELOG.md
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Modal/tests/Modal.test.tsx
  src/components/Overlay/Overlay.module.css
  src/components/Overlay/Overlay.tsx
  src/components/Overlay/Overlay.types.ts
  src/components/Tooltip/tests/Tooltip.stories.tsx
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/utilities/cooldown.ts
  src/components/_private/Portal/Portal.types.ts
  src/hooks/tests/useScrollLock.test.tsx
  src/hooks/useScrollLock.ts
Due: eslint, stylelint

v3.0.5
  package.json
Due: none

fix(TrapFocus): fixed screen reader trap for shadow root
  src/utilities/a11y/TrapScreenReader.ts
Due: eslint

v3.0.6
  package.json
Due: none

fix(Modal): shadow dom rendering
  src/components/Modal/Modal.module.css
  src/components/Overlay/Overlay.module.css
  src/components/Overlay/Overlay.tsx
Due: eslint, stylelint

v3.0.7
  package.json
Due: none

fix: removed container ref and added auto shadow root detection
  CHANGELOG.md
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Modal/tests/Modal.test.tsx
  src/components/Overlay/Overlay.module.css
  src/components/Overlay/Overlay.tsx
  src/components/Overlay/Overlay.types.ts
  src/components/Overlay/tests/Overlay.stories.tsx
  src/components/Overlay/tests/Overlay.test.tsx
  src/components/_private/Portal/Portal.tsx
  src/hooks/tests/useScrollLock.test.tsx
  src/hooks/useScrollLock.ts
Due: eslint, stylelint

fix(Flyout): fixed cooldown and disabled
  src/components/Tooltip/tests/Tooltip.stories.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/utilities/cooldown.ts
  src/components/_private/Portal/Portal.module.css
  src/components/_private/Portal/Portal.tsx
  src/utilities/a11y/TrapFocus.ts
Due: eslint, stylelint

v3.0.8-rc.0
  package.json
Due: none

fix(Flyout): keyboard mode for focus events
  CHANGELOG.md
  src/components/_private/Flyout/FlyoutControlled.tsx
Due: eslint

v3.0.8-rc.1
  package.json
Due: none

feat(Popover): dismissible
  CHANGELOG.md
  src/components/Dismissible/Dismissible.module.css
  src/components/Popover/Popover.tsx
  src/components/Popover/tests/Popover.stories.tsx
  src/components/Popover/tests/Popover.test.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/components/_private/Flyout/tests/Flyout.test.tsx
Due: eslint, stylelint

fixes
  CHANGELOG.md
  src/components/Autocomplete/tests/Autocomplete.test.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/Overlay/tests/Overlay.test.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
Due: eslint

feat(useDrag): hook implementation + splitter initial
  CHANGELOG.md
  src/components/Splitter/Splitter.module.css
  src/components/Splitter/Splitter.tsx
  src/components/Splitter/Splitter.types.ts
  src/components/Splitter/index.ts
  src/components/Splitter/tests/Splitter.stories.tsx
  src/components/Splitter/tests/Splitter.test.tsx
  src/hooks/tests/useDrag.stories.tsx
  src/hooks/tests/useDrag.test.tsx
  src/hooks/tests/useElementId.test.tsx
  src/hooks/useDrag.ts
  src/hooks/useToggle.ts
  src/index.ts
Due: eslint, stylelint

fix: focus visible
  CHANGELOG.md
  src/components/Card/Card.module.css
  src/components/Checkbox/Checkbox.module.css
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Radio/Radio.module.css
  src/components/Slider/Slider.module.css
  src/components/Switch/Switch.module.css
Due: eslint, stylelint

v3.0.9
  package.json
Due: none

feat(Splitter): keyboard + custom handle
  src/components/Splitter/Splitter.module.css
  src/components/Splitter/Splitter.tsx
  src/components/Splitter/Splitter.types.ts
  src/components/Splitter/tests/Splitter.stories.tsx
  src/hooks/tests/useDrag.stories.tsx
  src/hooks/useDrag.ts
Due: eslint, stylelint

feat: rename splitter to resizable
  CHANGELOG.md
  src/components/Resizable/Resizable.module.css
  src/components/Resizable/Resizable.tsx
  src/components/Resizable/Resizable.types.ts
  src/components/Resizable/index.ts
  src/components/Resizable/tests/Resizable.stories.tsx
  src/components/Resizable/tests/Resizable.test.tsx
  src/components/Slider/Slider.types.ts
  src/components/Slider/SliderThumb.tsx
  src/components/Slider/tests/Slider.stories.tsx
  src/components/Slider/tests/Slider.test.tsx
  src/components/Splitter/Splitter.tsx
  src/components/Splitter/index.ts
  src/hooks/useDrag.ts
Due: eslint, stylelint

feat(Resizable): edge cases
  src/components/Resizable/Resizable.module.css
  src/components/Resizable/Resizable.tsx
  src/components/Resizable/Resizable.types.ts
  src/components/Resizable/tests/Resizable.stories.tsx
  src/hooks/tests/useDrag.stories.tsx
  src/hooks/useDrag.ts
  src/index.ts
  src/types/global.ts
Due: eslint, stylelint

test: updated tests
  src/components/Resizable/tests/Resizable.test.tsx
  src/hooks/tests/useDrag.test.tsx
  src/hooks/useDrag.ts
Due: eslint

fix: nested popovers fix
  CHANGELOG.md
  src/components/DropdownMenu/DropdownMenu.module.css
  src/components/Tooltip/tests/Tooltip.stories.tsx
  src/components/Tooltip/tests/Tooltip.test.tsx
  src/components/_private/Flyout/Flyout.context.ts
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Portal/Portal.module.css
Due: eslint, stylelint

feat: disableCloseOnOutsideClick
  CHANGELOG.md
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/Popover/Popover.tsx
  src/components/Popover/Popover.types.ts
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
Due: eslint

feat: useHandlerRef for effects
  bin/cli.js
  src/components/Button/Button.module.css
  src/components/Button/tests/Button.stories.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Overlay/Overlay.tsx
  src/components/Overlay/tests/Overlay.stories.tsx
  src/components/ScrollArea/ScrollArea.tsx
  src/components/Slider/SliderControlled.tsx
  src/components/Toast/Toast.types.ts
  src/components/Toast/index.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/hooks/_private/useOnClickOutside.ts
  src/hooks/useDrag.ts
  src/hooks/useHandlerRef.ts
  src/index.ts
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
