Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

fix
  src/styles/bleed/__snapshots__/index.test.ts.snap
  src/styles/height/__snapshots__/index.test.ts.snap
  src/styles/inset/__snapshots__/index.test.ts.snap
  src/styles/maxHeight/__snapshots__/index.test.ts.snap
  src/styles/maxWidth/__snapshots__/index.test.ts.snap
  src/styles/minHeight/__snapshots__/index.test.ts.snap
  src/styles/minWidth/__snapshots__/index.test.ts.snap
  src/styles/width/__snapshots__/index.test.ts.snap
  src/utilities/a11y/TrapFocus.ts
Due: eslint

test: vitest initial setup
  package.json
  src/components/Accordion/tests/Accordion.browser.test.tsx
  src/components/Accordion/tests/Accordion.test.tsx
  tsconfig.json
  vitest-example/HelloWorld.test.tsx
  vitest-example/HelloWorld.tsx
  vitest.workspace.ts
  yarn.lock
Due: eslint

fix(Flyout): ref merging inside another popover content
  src/components/_private/Flyout/Flyout.context.ts
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/FlyoutTrigger.tsx
Due: eslint

v3.3.1
  package.json
Due: none

fix: silence use client warnings in vite storybook build
  tools/storybook/main.ts
Due: eslint

test(Accordion): vitest integration
  package.json
  results.json
  src/components/Accordion/tests/Accordion.browser.test.tsx
  src/utilities/vitest/index.ts
  src/utilities/vitest/render.tsx
  tools/jest/jest.config.ts
  vitest.config.ts
  vitest.workspace.ts
  yarn.lock
Due: eslint

test: updated actions tests
  .github/workflows/pull-request.yml
Due: none

test: fixed build
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
  vitest-example/HelloWorld.test.tsx
  vitest-example/HelloWorld.tsx
Due: eslint

chore: add playwright for CI
  package.json
  yarn.lock
Due: none

ci: updated yarn install
  .github/workflows/pull-request.yml
  package.json
  yarn.lock
Due: none

ci: playwright
  .github/workflows/pull-request.yml
Due: none

ci: parallel jobs
  .github/workflows/pull-request.yml
  CHANGELOG.md
Due: none

ci: update
  .github/workflows/pull-request.yml
Due: none

ci: size limit
  .github/workflows/pull-request.yml
  package.json
  vite.config.mjs
Due: none

ci: size limit
  .github/workflows/pull-request.yml
  package.json
Due: none

test
  src/components/Button/Button.module.css
  src/components/Button/tests/Button.stories.tsx
  src/components/Button/tests/Button.stories2.tsx
  src/components/Button/tests/Button.test.stories.tsx
  src/components/Button/tests/Button.test.tsx
  tools/storybook/preview.tsx
Due: eslint, stylelint

fix(scroll): scroll lock to only lock for container el
  CHANGELOG.md
  src/utilities/scroll/lock.ts
Due: eslint

v3.3.2
  package.json
Due: none

fix(ScrollArea): nesting and dynamic height change
  CHANGELOG.md
  src/components/ScrollArea/ScrollArea.module.css
  src/components/ScrollArea/ScrollArea.tsx
  src/components/ScrollArea/tests/ScrollArea.stories.tsx
Due: eslint, stylelint

v3.3.3
  package.json
Due: none

v3.3.4-rc.0
  package.json
Due: none

fix(Accordion): preact animation
  CHANGELOG.md
  src/components/_private/Expandable/Expandable.tsx
Due: eslint

v3.3.5
  package.json
Due: none

test: storybook test
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/plugins/iframe.js
  .storybook/plugins/preset.js
  .storybook/postcss.config.js
  .storybook/preview.tsx
  .storybook/public/logo.svg
  .storybook/vitest.setup.ts
  package.json
  results.json
  src/components/Accordion/tests/Accordion.browser.test.tsx
  src/components/Accordion/tests/Accordion.stories.tsx
  src/components/Accordion/tests/Accordion.test.stories.tsx
  src/components/Accordion/tests/Accordion.test.tsx
  src/utilities/storybook/Example.module.css
  src/utilities/storybook/Example.tsx
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
  tsconfig.stories.json
  vitest.config.ts
  vitest.workspace.mjs
  vitest.workspace.ts
  yarn.lock
Due: eslint, stylelint

test: migration to storybook test
  .storybook/main.ts
  .storybook/plugins/iframe.js
  CHANGELOG.md
  src/components/Accordion/tests/Accordion.test.stories.tsx
  src/components/ActionBar/tests/ActionBar.stories.tsx
  src/components/ActionBar/tests/ActionBar.test.stories.tsx
  src/components/ActionBar/tests/ActionBar.test.tsx
  src/components/Actionable/tests/Actionable.stories.tsx
  src/components/Actionable/tests/Actionable.test.stories.tsx
  src/components/Actionable/tests/Actionable.test.tsx
  src/components/Alert/Alert.tsx
  src/components/Alert/tests/Alert.stories.tsx
  src/components/Alert/tests/Alert.test.stories.tsx
  src/components/Alert/tests/Alert.test.tsx
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
  src/components/Container/Container.module.css
  src/components/Container/tests/Container.stories.tsx
  src/components/Container/tests/Container.test.stories.tsx
  src/components/Container/tests/Container.test.tsx
  src/components/Dismissible/Dismissible.tsx
  src/components/Dismissible/tests/Dismissible.stories.tsx
  src/components/Dismissible/tests/Dismissible.test.stories.tsx
  src/components/Dismissible/tests/Dismissible.test.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
Due: eslint, stylelint

test: storybook test
  src/components/FormControl/tests/FormControl.stories.tsx
  src/components/FormControl/tests/FormControl.test.stories.tsx
  src/components/FormControl/tests/FormControl.test.tsx
  src/components/Grid/tests/Grid.stories.tsx
  src/components/Grid/tests/Grid.test.stories.tsx
  src/components/Grid/tests/Grid.test.tsx
  src/components/Hidden/tests/Hidden.stories.tsx
  src/components/Hidden/tests/Hidden.test.stories.tsx
  src/components/Hidden/tests/Hidden.test.tsx
  src/components/HiddenVisually/tests/HiddenVisually.stories.tsx
  src/components/HiddenVisually/tests/HiddenVisually.test.stories.tsx
  src/components/HiddenVisually/tests/HiddenVisually.test.tsx
  src/components/Icon/tests/Icon.stories.tsx
  src/components/Icon/tests/Icon.test.stories.tsx
  src/components/Icon/tests/Icon.test.tsx
  src/components/Image/tests/Image.stories.tsx
  src/components/Image/tests/Image.test.stories.tsx
  src/components/Image/tests/Image.test.tsx
  src/components/Overlay/Overlay.tsx
  src/components/Overlay/tests/Overlay.stories.tsx
  src/components/Overlay/tests/Overlay.test.stories.tsx
  src/components/Overlay/tests/Overlay.test.tsx
  src/components/Text/Text.tsx
  src/components/Text/tests/Text.stories.tsx
  src/components/Text/tests/Text.test.stories.tsx
  src/components/Text/tests/Text.test.tsx
Due: eslint

test: storybook test
  src/components/FormControl/FormControlCaption.tsx
  src/components/FormControl/FormControlLabel.tsx
  src/components/FormControl/tests/FormControl.stories.tsx
  src/components/HiddenVisually/tests/HiddenVisually.test.stories.tsx
  src/components/Tabs/tests/Tabs.stories.tsx
  src/components/Text/tests/Text.stories.tsx
  src/components/Text/tests/Text.test.stories.tsx
Due: eslint

test: storybook test
  src/components/Theme/tests/Theme.stories.tsx
  src/components/Theme/tests/Theme.test.stories.tsx
  src/components/Theme/tests/Theme.test.tsx
  src/components/View/tests/View.stories.tsx
  src/components/View/tests/View.test.stories.tsx
Due: eslint

fix(Autocomplete): open on click
  src/components/Autocomplete/Autocomplete.tsx
Due: eslint

v3.3.6
  package.json
Due: none

fix(Flyout): reduced motion outside click in submenu
  CHANGELOG.md
  src/hooks/_private/useOnClickOutside.ts
Due: eslint

v3.3.7-rc.0
  package.json
Due: none

fix(Carousel): reported bugs
  CHANGELOG.md
  src/components/Carousel/Carousel.module.css
  src/components/Carousel/Carousel.tsx
Due: eslint, stylelint

v3.3.7
  package.json
Due: none

fix(View): key + deps
  package.json
  src/components/View/View.tsx
  yarn.lock
Due: eslint

test: migration to storybook test
  package.json
  src/components/Actionable/Actionable.tsx
  src/components/Button/tests/Button.stories.tsx
  src/components/Button/tests/Button.stories2.tsx
  src/components/Button/tests/Button.test.stories.tsx
  src/components/Button/tests/Button.test.tsx
  src/components/View/View.tsx
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/HiddenInput/HiddenInput.tsx
  tsconfig.esm.json
  tsconfig.stories.json
  yarn.lock
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
