Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

feat(Reshaped): scoped dark mode
  CHANGELOG.md
  src/components/Reshaped/Reshaped.tsx
  src/components/Tabs/TabsList.tsx
  src/components/Theme/GlobalColorMode.tsx
  src/components/Theme/Theme.context.ts
  src/components/Theme/Theme.tsx
  src/components/Theme/Theme.types.ts
  src/components/Theme/Theme.utilities.ts
  src/components/Theme/tests/Theme.stories.tsx
  src/components/Theme/tests/Theme.test.tsx
  src/components/Theme/useTheme.ts
  src/hooks/_private/useSingletonHotkeys.tsx
  src/hooks/useHotkeys.ts
Due: eslint

v3.2.6-rc.0
  package.json
Due: none

test(Reshaped): scoped tests
  src/components/Reshaped/tests/Reshaped.test.tsx
Due: eslint

feat(Table): row on click
  CHANGELOG.md
  src/components/Table/Table.module.css
  src/components/Table/Table.tsx
  src/components/Table/Table.types.ts
  src/components/Table/tests/Table.stories.tsx
  src/components/Table/tests/Table.test.tsx
Due: eslint, stylelint

feat(Tabs): auto scrolling and new nav controls
  CHANGELOG.md
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/TabsItem.tsx
  src/components/Tabs/TabsList.tsx
  src/components/TextField/TextField.module.css
  src/utilities/dom/find.ts
  src/utilities/dom/index.ts
Due: eslint, stylelint

feat(Modal, Overlay): onAfterOpen, onAfterClose
  CHANGELOG.md
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Overlay/Overlay.tsx
  src/components/Overlay/Overlay.types.ts
  src/components/Overlay/tests/Overlay.test.tsx
Due: eslint

test: updated unit tests
  src/components/Overlay/Overlay.tsx
  src/components/Table/tests/Table.test.tsx
Due: eslint

v3.2.7
  package.json
Due: none

feat: mixins
  src/styles/aspectRatio/aspectRatio.module.css
  src/styles/height/height.module.css
  src/styles/height/index.ts
Due: eslint, stylelint

fix
  src/styles/height/__snapshots__/index.test.ts.snap
Due: none

fix
  src/styles/height/__snapshots__/index.test.ts.snap
  src/styles/height/height.module.css
  src/styles/height/index.ts
Due: eslint, stylelint

fix
  src/components/Overlay/tests/Overlay.test.tsx
  src/styles/height/height.module.css
Due: eslint, stylelint

feat: mixins
  CHANGELOG.md
  src/components/Card/Card.tsx
  src/components/Grid/Grid.tsx
  src/components/Modal/Modal.tsx
  src/components/Overlay/tests/Overlay.test.tsx
  src/components/Popover/Popover.tsx
  src/components/View/View.module.css
  src/components/View/View.tsx
  src/components/View/View.types.ts
  src/components/View/tests/View.stories.tsx
  src/styles/align/__snapshots__/index.test.ts.snap
  src/styles/align/align.css
  src/styles/align/align.module.css
  src/styles/align/index.ts
  src/styles/aspectRatio/aspectRatio.css
  src/styles/aspectRatio/index.ts
  src/styles/bleed/bleed.module.css
  src/styles/bleed/index.ts
  src/styles/height/height.module.css
  src/styles/height/index.ts
  src/styles/inset/index.ts
  src/styles/inset/inset.css
  src/styles/inset/inset.module.css
  src/styles/justify/index.ts
  src/styles/justify/justify.css
  src/styles/justify/justify.module.css
  src/styles/maxHeight/index.ts
  src/styles/maxWidth/index.ts
  src/styles/padding/index.ts
  src/styles/padding/padding.css
  src/styles/padding/padding.module.css
  src/styles/position/index.ts
  src/styles/position/position.module.css
  src/styles/types.ts
Due: eslint, stylelint

fixes
  CHANGELOG.md
  src/components/Grid/Grid.tsx
  src/components/Tabs/Tabs.types.ts
  src/components/Tabs/TabsPanel.tsx
Due: eslint

fix
  src/styles/position/position.css
Due: stylelint

feat: postcss rsponsive css
  CHANGELOG.md
  tools/build/postcss.responsive.js
Due: eslint

feat: migrate mixins
  src/components/Text/Text.tsx
  src/components/View/View.tsx
  src/styles/align/align.css
  src/styles/aspectRatio/aspectRatio.css
  src/styles/bleed/bleed.module.css
  src/styles/height/height.module.css
  src/styles/inset/inset.css
  src/styles/justify/justify.css
  src/styles/maxHeight/maxHeight.module.css
  src/styles/maxWidth/maxWidth.module.css
  src/styles/minHeight/minHeight.module.css
  src/styles/minWidth/minWidth.module.css
  src/styles/padding/padding.css
  src/styles/position/position.css
  src/styles/textAlign/index.ts
  src/styles/textAlign/textAlign.css
  src/styles/textAlign/textAlign.module.css
  src/styles/width/width.module.css
Due: eslint, stylelint

fix: snapshots
  CHANGELOG.md
  src/styles/aspectRatio/__snapshots__/index.test.ts.snap
  src/styles/bleed/__snapshots__/index.test.ts.snap
  src/styles/height/__snapshots__/index.test.ts.snap
  src/styles/inset/__snapshots__/index.test.ts.snap
  src/styles/justify/__snapshots__/index.test.ts.snap
  src/styles/maxHeight/__snapshots__/index.test.ts.snap
  src/styles/maxWidth/__snapshots__/index.test.ts.snap
  src/styles/padding/__snapshots__/index.test.ts.snap
  src/styles/position/__snapshots__/index.test.ts.snap
  src/styles/textAlign/__snapshots__/index.test.ts.snap
Due: none

fix: mixins
  src/styles/align/align.css
  src/styles/aspectRatio/aspectRatio.css
  src/styles/bleed/bleed.module.css
  src/styles/height/height.module.css
  src/styles/inset/inset.css
  src/styles/justify/justify.css
  src/styles/maxHeight/maxHeight.module.css
  src/styles/maxWidth/maxWidth.module.css
  src/styles/minHeight/minHeight.module.css
  src/styles/minWidth/minWidth.module.css
  src/styles/padding/padding.css
  src/styles/position/position.css
  src/styles/textAlign/textAlign.css
  src/styles/width/width.module.css
Due: stylelint

fix: mixins
  src/components/View/View.module.css
  src/components/View/View.tsx
  src/styles/minHeight/index.ts
  src/styles/minWidth/index.ts
  src/styles/width/index.ts
Due: eslint, stylelint

feat: resizable bordered variant
  CHANGELOG.md
  src/components/Resizable/Resizable.module.css
  src/components/Resizable/Resizable.tsx
  src/components/Resizable/Resizable.types.ts
  src/components/Resizable/tests/Resizable.stories.tsx
Due: eslint, stylelint

test: update snapshots
  src/styles/minHeight/__snapshots__/index.test.ts.snap
  src/styles/minWidth/__snapshots__/index.test.ts.snap
  src/styles/width/__snapshots__/index.test.ts.snap
Due: none

test: updated overlay unit
  src/components/Overlay/tests/Overlay.test.tsx
Due: eslint

chore: updated deps
  package.json
  src/components/Alert/tests/Alert.stories.tsx
  src/components/Toast/Toast.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/_private/Portal/Portal.tsx
  src/styles/minHeight/__snapshots__/index.test.ts.snap
  src/styles/minWidth/__snapshots__/index.test.ts.snap
  src/styles/width/__snapshots__/index.test.ts.snap
  src/themes/_generator/tests/themes.stories.tsx
  yarn.lock
Due: eslint

test: fixed keys
  src/components/_private/Portal/Portal.tsx
Due: eslint

test: overlay transition test update
  src/components/Overlay/tests/Overlay.test.tsx
Due: eslint

test: comment
  src/components/Overlay/tests/Overlay.test.tsx
Due: eslint

feat(TextField): clickable affixes
  CHANGELOG.md
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.tsx
  src/components/TextField/TextField.types.ts
Due: eslint, stylelint

feat: context menu
  CHANGELOG.md
  src/components/ContextMenu/ContextMenu.module.css
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/index.ts
  src/components/ContextMenu/tests/ContextMenu.stories.tsx
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/Popover/Popover.types.ts
  src/components/ScrollArea/ScrollArea.types.ts
  src/components/_private/Flyout/Flyout.module.css
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/components/_private/Flyout/useFlyout.ts
  src/components/_private/Flyout/utilities/isFullyVisible.ts
  src/hooks/_private/useOnClickOutside.ts
  src/hooks/tests/useDrag.test.tsx
  src/themes/_generator/utilities/generateColors.ts
  src/themes/_generator/utilities/resolveTokenReference.ts
  src/types/global.ts
  src/utilities/dom/flyout.ts
  src/utilities/dom/index.ts
Due: eslint, stylelint

feat(ContextMenu): new component
  CHANGELOG.md
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/ContextMenu.types.ts
  src/components/ContextMenu/index.ts
  src/components/ContextMenu/tests/ContextMenu.stories.tsx
  src/components/ContextMenu/tests/ContextMenu.test.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.ts
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/components/_private/Flyout/useFlyout.ts
  src/hooks/_private/useSingletonKeyboardMode.ts
  src/index.ts
  src/utilities/dom/find.ts
  src/utilities/dom/flyout.ts
  src/utilities/dom/index.ts
  src/utilities/scroll/lock.ts
Due: eslint

fix(ScrollArea): dynamic content resizing
  CHANGELOG.md
  src/components/ScrollArea/ScrollArea.module.css
  src/components/ScrollArea/tests/ScrollArea.stories.tsx
Due: eslint, stylelint

fix(trapFocus): tabIndex -1 handling
  CHANGELOG.md
  src/utilities/a11y/TrapFocus.ts
  src/utilities/a11y/focus.ts
  src/utilities/a11y/tests/TrapFocus.stories.tsx
Due: eslint

fix(Flyout): outside click
  CHANGELOG.md
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/hooks/_private/useOnClickOutside.ts
Due: eslint

feat(DropdownMenu): all item props on subtrigger
  CHANGELOG.md
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/DropdownMenu/tests/DropdownMenu.stories.tsx
Due: eslint

feat: updated themes
  CHANGELOG.md
  src/components/Badge/Badge.module.css
  src/components/Button/Button.module.css
  src/components/Hotkey/Hotkey.module.css
  src/components/Modal/Modal.module.css
  src/components/ScrollArea/tests/ScrollArea.stories.tsx
  src/components/Table/Table.module.css
  src/components/Tabs/Tabs.module.css
  src/components/_private/Flyout/Flyout.module.css
  src/themes/_generator/definitions/figma.ts
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/tokens/duration/duration.types.ts
  src/themes/_generator/utilities/generateBackgroundColors.ts
  src/themes/_generator/utilities/generateColors.ts
  src/themes/figma/theme.css
  src/themes/figma/theme.json
  src/themes/reshaped/theme.css
  src/themes/reshaped/theme.json
  src/themes/slate/theme.css
  src/themes/slate/theme.json
Due: eslint, stylelint

fix(ScrollArea): onScroll args
  CHANGELOG.md
  src/components/ScrollArea/ScrollArea.module.css
  src/components/ScrollArea/ScrollArea.tsx
  src/components/ScrollArea/tests/ScrollArea.stories.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/hooks/_private/useOnClickOutside.ts
Due: eslint, stylelint

fixes
  CHANGELOG.md
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/Autocomplete.types.ts
  src/components/Autocomplete/tests/Autocomplete.test.tsx
  src/components/View/View.module.css
  src/styles/align/align.css
  src/styles/aspectRatio/aspectRatio.css
  src/styles/bleed/bleed.module.css
  src/styles/bleed/index.ts
  src/styles/height/height.module.css
  src/styles/height/index.ts
  src/styles/inset/index.ts
  src/styles/inset/inset.css
  src/styles/justify/justify.css
  src/styles/maxHeight/index.ts
  src/styles/maxHeight/maxHeight.module.css
  src/styles/maxWidth/index.ts
  src/styles/maxWidth/maxWidth.module.css
  src/styles/minHeight/index.ts
  src/styles/minHeight/minHeight.module.css
  src/styles/minWidth/index.ts
  src/styles/minWidth/minWidth.module.css
  src/styles/padding/padding.css
  src/styles/position/position.css
  src/styles/textAlign/textAlign.css
  src/styles/width/index.ts
  src/styles/width/width.module.css
  tools/build/postcss.responsive.js
Due: eslint, stylelint

fix: pre-release
  src/components/ContextMenu/ContextMenu.tsx
  src/components/Table/Table.module.css
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/utilities/generateBackgroundColors.ts
  src/themes/_generator/utilities/generateColors.ts
  src/themes/figma/theme.css
  src/themes/figma/theme.json
  src/themes/reshaped/theme.css
  src/themes/reshaped/theme.json
  src/themes/slate/theme.css
  src/themes/slate/theme.json
Due: eslint, stylelint

fix: pre-release
  src/styles/height/height.module.css
  src/styles/inset/inset.css
Due: stylelint

v3.3.0
  package.json
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
