Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{ts,tsx}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}

prepare-commit-msg:
  commands:
    "review commit method":
      run: |
        COMMIT_MSG_FILE="$1"

        if [ ! -s "$COMMIT_MSG_FILE" ]; then
          exit 0
        fi

        if [ -z "$ALLOW_COMMIT" ]; then
          echo "ðŸš« Use 'yarn commit' instead of 'git commit'."
          exit 1
        fi

commit-msg:
  commands:
    "lint commit message":
      run: npx commitlint --color --edit {1}

ci: added pr title validation
  .github/workflows/pull-request.yml
Due: none

ci: updated pr title validation
  .github/workflows/pull-request.yml
Due: none

ci: updated pr title validation regex
  .github/workflows/pull-request.yml
Due: none

ci: updated pr validation regex
  .github/workflows/pull-request.yml
Due: none

docs(Flyout): added containerRef example
  src/components/Flyout/tests/Flyout.stories.tsx
Due: eslint

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix(Flyout): fixed fallbackAdjustLayout positioning
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Flyout/utilities/calculatePosition.ts
  src/components/Flyout/utilities/flyout.ts
  src/components/Reshaped/Reshaped.css
Due: eslint, stylelint

chore: updated canary release script
  package.json
Due: none

3.8.1-canary.0
  CHANGELOG.md
  package.json
Due: none

3.8.1-canary.0
  package.json
Due: none

3.8.2-canary.0
  package.json
Due: none

v3.8.0-canary.1
  CHANGELOG.md
  package.json
Due: none

docs: updated changelog
  CHANGELOG.md
Due: none

feat(Actionable, Link, Button, MenuItem): added render prop
  src/components/Actionable/Actionable.tsx
  src/components/Actionable/Actionable.types.ts
  src/components/Actionable/tests/Actionable.stories.tsx
  src/components/Actionable/tests/Actionable.test.stories.tsx
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
  src/components/Button/tests/Button.test.stories.tsx
  src/components/Link/Link.tsx
  src/components/Link/Link.types.ts
  src/components/Link/tests/Link.test.stories.tsx
  src/components/MenuItem/MenuItem.tsx
  src/components/MenuItem/MenuItem.types.ts
  src/components/MenuItem/tests/MenuItem.test.stories.tsx
Due: eslint

feat(ToggleButton): relaxed variant types
  src/components/ToggleButton/ToggleButton.types.ts
Due: eslint

v3.8.0-canary.2
  CHANGELOG.md
  package.json
Due: none

chore: added pushing tags to the canary release
  package.json
Due: none

v3.8.0-canary.3
  CHANGELOG.md
  package.json
Due: none

feat: add useMenuItemNavigation hook with dropdown support
  src/hooks/useMenuItemNavigation.stories.tsx
  src/hooks/useMenuItemNavigation.ts
  src/index.ts
Due: eslint

fix(Modal): fixed nested modals not closing one by one
  src/components/Modal/tests/Modal.stories.tsx
  src/hooks/_private/useIsDismissible.ts
Due: eslint

v3.8.0-canary.4
  CHANGELOG.md
  package.json
Due: none

fix(Modal): additional fix for the nested closing modals
  src/components/Overlay/Overlay.tsx
  src/hooks/_private/useIsDismissible.ts
Due: eslint

v3.8.0-canary.5
  CHANGELOG.md
  package.json
Due: none

feat(Flyout, Popover, DropdownMenu, Autocomplete): added size calculations for fallbackAdjustLayout, added fallbackMinWidth and fallbackMinHeight
  src/components/Flyout/Flyout.module.css
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutContent.tsx
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Flyout/useFlyout.ts
  src/components/Flyout/utilities/calculatePosition.ts
  src/components/Flyout/utilities/flyout.ts
Due: eslint, stylelint

feat(Flyout, Popover, DropdownMenu, Autocomplete): added size for fallbackAdjustLayout, fallbackMinWidth and fallbackMinHeight
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/Autocomplete.types.ts
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Flyout/utilities/calculatePosition.ts
  src/components/Popover/Popover.types.ts
Due: eslint

feat(Icon): blank icon support
  src/components/Icon/Icon.tsx
  src/components/Icon/Icon.types.ts
  src/components/Icon/tests/Icon.stories.tsx
Due: eslint

chore: updated PR template
  .github/pull_request_template.md
Due: none

feat(Select): added custom select support
  .storybook/public/logo.svg
  src/Sandbox.stories.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/Icon/Icon.tsx
  src/components/Icon/Icon.types.ts
  src/components/Icon/tests/Icon.stories.tsx
  src/components/MenuItem/MenuItem.module.css
  src/components/Popover/Popover.module.css
  src/components/Popover/Popover.tsx
  src/components/Popover/Popover.types.ts
  src/components/Reshaped/Reshaped.css
  src/components/Select/Select.module.css
  src/components/Select/Select.tsx
  src/components/Select/Select.types.ts
  src/components/Select/SelectCustom.tsx
  src/components/Select/SelectCustomControlled.tsx
  src/components/Select/SelectCustomUncontrolled.tsx
  src/components/Select/SelectEndContent.tsx
  src/components/Select/SelectNative.tsx
  src/components/Select/SelectOption.tsx
  src/components/Select/SelectOptionGroup.tsx
  src/components/Select/SelectRoot.tsx
  src/components/Select/SelectStartContent.tsx
  src/components/Select/SelectTrigger.tsx
  src/components/Select/tests/Select.stories.tsx
  src/components/Select/tests/Select.test.stories.tsx
  src/utilities/props.ts
Due: eslint, stylelint

feat(Select): added keyboard selection
  src/components/Select/SelectCustomControlled.tsx
Due: eslint

fix: added child id to all components used in React.Children.map
  src/components/Hidden/Hidden.tsx
  src/components/Resizable/Resizable.tsx
  src/components/Table/Table.tsx
  src/components/Timeline/Timeline.tsx
  src/components/Timeline/tests/Timeline.stories.tsx
  src/components/View/View.tsx
  src/utilities/props.ts
Due: eslint

v3.8.0-canary.6
  CHANGELOG.md
  package.json
Due: none

feat(Stepper): make gap property configurable
  src/components/Stepper/Stepper.tsx
  src/components/Stepper/Stepper.types.ts
  src/components/Stepper/tests/Stepper.stories.tsx
Due: eslint

test(Stepper): remove unneeded stories/tests
  src/components/Stepper/tests/Stepper.stories.tsx
Due: eslint

feat(DropdownMenu): pass through more menu props to submenu
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/DropdownMenu/DropdownMenu.types.ts
Due: eslint

test(Select): added stories and tests
  src/Sandbox.stories.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/Icon.types.ts
  src/components/Select/Select.module.css
  src/components/Select/Select.types.ts
  src/components/Select/SelectCustomControlled.tsx
  src/components/Select/SelectTrigger.tsx
  src/components/Select/tests/Select.stories.tsx
Due: eslint, stylelint

test(Select): added more tests
  src/components/Flyout/utilities/flyout.ts
  src/components/Flyout/utilities/getPositionFallbacks.ts
  src/components/Flyout/utilities/isFullyVisible.ts
  src/components/Icon/tests/Icon.stories.tsx
  src/components/Popover/Popover.module.css
  src/components/Select/SelectCustomControlled.tsx
  src/components/Select/tests/Select.stories.tsx
  src/components/Select/tests/Select.test.stories.tsx
Due: eslint, stylelint
