Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

Migrated build to vite
  .eslintignore
  .test
  lefthook.yml
  package-old.json
  package-root.json
  package.json
  src/index.ts
  tools/jest/css.stub.js
  tools/jest/jest.config.js
  vite.config.js
  yarn.lock
Due: eslint

Size limit setup
  .github/workflows/size-limit.yml
  package.json
Due: none

Updated actions
  .github/workflows/size-limit.yml
Due: none

Removed limit script
  tools/size-limit/index.js
Due: eslint

Removed ds_store
  .DS_Store
Due: none

Fixed jest query error
  package.json
  tools/jest/jest.config.js
  yarn.lock
Due: eslint

Update stories
  .env
  .stylelintrc
  package.json
  src/components/Accordion/tests/Accordion.stories.tsx
  src/components/Avatar/Avatar.module.css
  src/components/Button/Button.module.css
  src/components/Card/Card.module.css
  src/components/MenuItem/MenuItem.module.css
  src/components/Progress/Progress.module.css
  src/components/Scrim/Scrim.module.css
  src/components/Tabs/Tabs.module.css
  src/components/View/View.module.css
  src/styles/height/height.module.css
  src/utilities/storybook/Example.module.css
Due: eslint, stylelint

Updated teting library
  package.json
  tools/.DS_Store
  yarn.lock
Due: none

Updated env
  .chromatic
  .gitignore
  package.json
Due: none

Updated publish scripts
  package.json
Due: none

v2.0.0-nightly.6
  package.json
Due: none

Release copy script
  .gitignore
  bin/copy-release.sh
  package.json
Due: none

Text: Add automatic default tags for title variants
  CHANGELOG.md
  src/components/Reshaped/Reshaped.css
  src/components/Text/Text.tsx
  src/components/Text/Text.types.ts
  src/components/Text/tests/Text.test.tsx
Due: eslint, stylelint

Overlay: Fixed transitionEnd triggering from children components
  CHANGELOG.md
  src/components/Overlay/Overlay.tsx
Due: eslint

Fixed types
  src/components/Overlay/Overlay.tsx
Due: eslint

useHotkeys: Added support for `mod` hotkey
  CHANGELOG.md
  package.json
  src/hooks/_private/useSingletonHotkeys.tsx
  src/hooks/tests/useHotkeys.test.tsx
Due: eslint

v2 updates
  CHANGELOG.md
  src/components/Button/Button.module.css
  src/components/MenuItem/MenuItem.tsx
  src/components/Reshaped/Reshaped.css
  src/components/Select/Select.module.css
  src/components/Select/Select.tsx
  src/components/TextArea/TextArea.module.css
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.tsx
  src/components/TextField/TextField.types.ts
  src/components/TextField/tests/TextField.stories.tsx
Due: eslint, stylelint

v2.0.0
  package.json
Due: none

Updated release script
  bin/copy-release.sh
Due: none

Fixed MenuItem gap
  CHANGELOG.md
  src/components/MenuItem/MenuItem.tsx
Due: eslint

Update text field and select
  package.json
  src/components/Select/Select.module.css
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.tsx
Due: eslint, stylelint

Update stories accessibility
  CHANGELOG.md
  package.json
  src/cli/theming/definitions/reshaped.ts
  src/components/Accordion/tests/Accordion.stories.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Breadcrumbs/Breadcrumbs.types.ts
  src/components/Breadcrumbs/tests/Breadcrumbs.stories.tsx
  src/components/Button/tests/Button.stories.tsx
  src/components/Card/tests/Card.stories.tsx
  src/components/Dismissible/Dismissible.tsx
  src/components/FormControl/FormControl.context.ts
  src/components/FormControl/FormControl.tsx
  src/components/FormControl/FormControl.types.ts
  src/components/FormControl/tests/FormControl.stories.tsx
  src/components/Hotkey/tests/Hotkey.stories.tsx
  src/components/Select/tests/Select.stories.tsx
  src/components/Switch/tests/Switch.stories.tsx
  src/components/Tabs/tests/Tabs.stories.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/themes/reshaped/theme.css
  tools/storybook/main.ts
  yarn.lock
Due: eslint, stylelint

Small component updates
  src/components/Button/Button.module.css
  src/components/Skeleton/Skeleton.module.css
Due: stylelint

Fixed unit test act warnings
  src/components/Modal/tests/Modal.test.tsx
  src/components/Tabs/tests/Tabs.test.tsx
  src/components/_private/Flyout/tests/Flyout.test.tsx
  src/hooks/tests/useHotkeys.test.tsx
  tools/jest/jest.setup.ts
  tools/jest/transition-event-polyfill.ts
Due: eslint

Badge large size, icon support, dimissible
  .stylelintrc
  CHANGELOG.md
  src/components/Actionable/Actionable.module.css
  src/components/Badge/Badge.module.css
  src/components/Badge/Badge.tsx
  src/components/Badge/Badge.types.ts
  src/components/Badge/tests/Badge.stories.tsx
  src/components/Badge/tests/Badge.test.tsx
Due: eslint, stylelint

Figma theme improvements
  .eslintignore
  CHANGELOG.md
  src/cli/theming/definitions/figma.ts
  src/cli/theming/definitions/reshaped.ts
  src/cli/theming/reshaped.config.ts
  src/cli/theming/tokens/fontWeight/fontWeight.types.ts
  src/components/Badge/Badge.module.css
  src/components/Badge/Badge.tsx
  src/components/Button/Button.module.css
  src/components/Checkbox/Checkbox.module.css
  src/components/FormControl/FormControl.tsx
  src/components/Icon/Icon.module.css
  src/components/Radio/Radio.module.css
  src/components/Select/Select.module.css
  src/components/Select/Select.tsx
  src/components/Tabs/Tabs.module.css
  src/components/TextArea/TextArea.module.css
  src/components/TextField/TextField.module.css
  src/themes/figma/theme.css
  src/themes/reshaped/theme.css
  tools/storybook/preview.tsx
Due: eslint, stylelint

Slate theme
  src/cli/theming/definitions/slate.ts
  src/cli/theming/reshaped.config.ts
  src/components/Button/Button.module.css
  src/components/DropdownMenu/tests/DropdownMenu.stories.tsx
  src/components/Image/tests/Image.stories.tsx
  src/components/Toast/ToastContainer.tsx
  src/themes/slate/theme.css
  tools/storybook/preview.tsx
Due: eslint, stylelint

Update
  CHANGELOG.md
  src/components/Divider/Divider.module.css
  src/components/Reshaped/Reshaped.css
Due: stylelint

Storybook theme update
  tools/storybook/preview.tsx
Due: eslint

Button icon only size
  src/components/Button/Button.module.css
Due: stylelint

v2.1.0
  package.json
Due: none

Updated select end padding
  src/components/Select/Select.module.css
Due: stylelint

Autocomplete
  CHANGELOG.md
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/Autocomplete.types.ts
  src/components/Autocomplete/index.ts
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/MenuItem/MenuItem.module.css
  src/components/Popover/Popover.tsx
  src/components/Popover/Popover.types.ts
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/FlyoutTrigger.tsx
  src/constants/attributes.ts
  src/constants/keys.ts
  src/index.ts
  src/types/global.ts
  src/utilities/a11y.ts
Due: eslint, stylelint

Fixed types
  src/components/_private/Flyout/Flyout.types.ts
Due: eslint

fixes
  src/components/Autocomplete/Autocomplete.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/_private/Flyout/FlyoutContent.tsx
  src/utilities/a11y.ts
Due: eslint

fixes
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/Autocomplete.types.ts
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
  src/components/Autocomplete/tests/Autocomplete.test.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/FlyoutTrigger.tsx
Due: eslint

Update package publishing
  LICENSE.md
  bin/copy-release.sh
  package.json
Due: none

Updated keywords
  package.json
Due: none

Updated stories
  .prettierrc
  src/components/Button/tests/Button.stories.tsx
  yarn.lock
Due: eslint

Slider implementation
  src/components/Slider/Slider.module.css
  src/components/Slider/Slider.tsx
  src/components/Slider/Slider.types.ts
  src/components/Slider/SliderControlled.tsx
  src/components/Slider/SliderThumb.tsx
  src/components/Slider/SliderUncontrolled.tsx
  src/components/Slider/index.ts
  src/components/Slider/tests/Slider.stories.tsx
  src/index.ts
  src/utilities/helpers.ts
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
