Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{ts,tsx}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}

prepare-commit-msg:
  commands:
    "review commit method":
      run: |
        COMMIT_MSG_FILE="$1"

        if [ ! -s "$COMMIT_MSG_FILE" ]; then
          exit 0
        fi

        if [ -z "$ALLOW_COMMIT" ]; then
          echo "ðŸš« Use 'yarn commit' instead of 'git commit'."
          exit 1
        fi

commit-msg:
  commands:
    "lint commit message":
      run: npx commitlint --color --edit {1}

feat(Badge): added transitions
  .changeset/plain-teams-taste.md
  packages/reshaped/src/components/Badge/Badge.module.css
  packages/reshaped/src/components/Badge/tests/Badge.stories.tsx
Due: eslint, stylelint

feat(Badge): as support
  .changeset/shaky-crabs-push.md
  packages/reshaped/src/components/Badge/Badge.tsx
  packages/reshaped/src/components/Badge/Badge.types.ts
  packages/reshaped/src/components/Flyout/utilities/flyout.ts
  packages/reshaped/src/components/HiddenInput/HiddenInput.module.css
  packages/reshaped/src/components/HiddenInput/HiddenInput.tsx
  packages/reshaped/src/components/HiddenInput/tests/HiddenInput.stories.tsx
Due: eslint, stylelint

fix(Tabs, Slider): drag and clipping improvements
  .changeset/empty-owls-roll.md
  .changeset/young-rockets-chew.md
  packages/reshaped/src/components/Modal/Modal.tsx
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
  packages/reshaped/src/components/Slider/SliderControlled.tsx
  packages/reshaped/src/components/Tabs/Tabs.module.css
  packages/reshaped/src/components/Tabs/tests/Tabs.stories.tsx
  packages/reshaped/src/hooks/_private/useDrag.ts
  packages/reshaped/src/utilities/dom/index.ts
  packages/reshaped/src/utilities/dom/userSelect.ts
  packages/reshaped/src/utilities/scroll/disable.ts
Due: eslint, stylelint

feat(Actionable): hiddenInput focus
  .changeset/ninety-wolves-bet.md
  packages/reshaped/src/components/Actionable/Actionable.module.css
  packages/reshaped/src/components/HiddenInput/HiddenInput.module.css
  packages/reshaped/src/components/HiddenInput/HiddenInput.tsx
Due: eslint, stylelint

chore: canary release
  .changeset/pre.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
Due: none

chore: canary release
  .changeset/pre.json
Due: none

chore: release
  .changeset/strong-weeks-judge.md
Due: none

chore: scripts
  .changeset/common-suits-tease.md
  bin/release-canary.sh
  bin/release.sh
Due: none

chore: ignore
  .changeset/modern-teams-itch.md
  .gitignore
Due: none

fix(Actionable): focus ring for labels
  .changeset/cuddly-hands-fly.md
  packages/reshaped/src/components/Actionable/Actionable.module.css
Due: stylelint

fix(Popover): border radius css
  .changeset/sweet-buttons-sink.md
  packages/reshaped/src/components/Popover/Popover.module.css
Due: stylelint

fix(Flyout): updated z index
  .changeset/jolly-pens-jump.md
  packages/reshaped/src/components/Flyout/Flyout.module.css
Due: stylelint

fix(Flyout): updated z index
  .changeset/hungry-cups-float.md
  packages/reshaped/src/components/Flyout/Flyout.module.css
Due: stylelint

chore: release workflow
  .github/workflows/release.yml
Due: none

chore: changelog consolidation
  CHANGELOG-extra.md
  CHANGELOG.md
  packages/reshaped/CHANGELOG.md
Due: none

fix(Slider): keyboard nav after clicking
  .changeset/dirty-monkeys-stand.md
  packages/reshaped/src/components/Slider/SliderControlled.tsx
Due: eslint

fix(Reshaped): theme fonts reset specificity
  .changeset/tricky-bats-clean.md
  CHANGELOG.md
  packages/reshaped/src/components/Reshaped/Reshaped.css
Due: stylelint

fix: reduce motion duration
  .changeset/chubby-papayas-ask.md
  packages/reshaped/src/components/Reshaped/Reshaped.css
Due: stylelint

fix(Image): fallback attributes
  .changeset/tender-mirrors-act.md
  packages/reshaped/src/components/Image/Image.tsx
  packages/reshaped/src/components/Image/tests/Image.stories.tsx
Due: eslint

chore: release process
  .changeset/social-months-warn.md
  .github/workflows/release.yml
Due: none

chore: updated release process
  .changeset/upset-eyes-appear.md
  .github/workflows/release.yml
Due: none

chore: release process
  .changeset/cyan-games-live.md
  .github/workflows/release.yml
Due: none

feat(Actionable): moved to core
  .changeset/shiny-buckets-stop.md
  package.json
  packages/core/package.json
  packages/core/src/components/Actionable/Actionable.tsx
  packages/core/src/components/Actionable/Actionable.types.ts
  packages/core/src/components/Actionable/index.ts
  packages/core/src/constants/keys.ts
  packages/core/src/index.ts
  packages/core/src/types/global.ts
  packages/core/src/utilities/classNames.ts
  packages/core/tsconfig.esm.json
  packages/core/tsconfig.json
  packages/reshaped/package.json
  packages/reshaped/src/components/Actionable/Actionable.tsx
  packages/reshaped/src/components/Actionable/Actionable.types.ts
  packages/reshaped/src/components/Actionable/index.ts
  pnpm-lock.yaml
Due: eslint

chore: extracted unstyled actionable
  packages/reshaped/src/components/Actionable/Actionable.tsx
  packages/reshaped/src/components/Actionable/Actionable.types.ts
  packages/reshaped/src/components/Actionable/index.ts
  packages/reshaped/src/core/Actionable/Actionable.tsx
  packages/reshaped/src/core/Actionable/Actionable.types.ts
  packages/reshaped/src/core/Actionable/index.ts
Due: eslint

chore: updated dependencies
  .storybook/main.ts
  package.json
  packages/reshaped/src/components/Badge/tests/Badge.stories.tsx
  pnpm-lock.yaml
Due: eslint

chore: downgrade storybook
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: eslint
