Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{ts,tsx}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}

prepare-commit-msg:
  commands:
    "review commit method":
      run: |
        COMMIT_MSG_FILE="$1"

        if [ ! -s "$COMMIT_MSG_FILE" ]; then
          exit 0
        fi

        if [ -z "$ALLOW_COMMIT" ]; then
          echo "ðŸš« Use 'yarn commit' instead of 'git commit'."
          exit 1
        fi

commit-msg:
  commands:
    "lint commit message":
      run: npx commitlint --color --edit {1}

chore: canary release
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: none

fix(Flyout): fallbackAdjustLayout height mutation
  .changeset/violet-nights-punch.md
  src/components/Flyout/Flyout.module.css
Due: stylelint

fix(FileUpload): outline radius
  .changeset/fancy-buses-worry.md
  src/components/FileUpload/FileUpload.tsx
Due: eslint

fix(Avatar,Badge,FileUpload): design fixes
  .changeset/fair-bananas-grin.md
  src/components/Avatar/Avatar.module.css
  src/components/Badge/Badge.module.css
  src/components/FileUpload/FileUpload.module.css
  src/components/FileUpload/tests/FileUpload.stories.tsx
Due: eslint, stylelint

fix(ScrollArea): horizontal drag
  .changeset/loud-emus-kneel.md
  src/components/ScrollArea/ScrollArea.tsx
Due: eslint

fix(ScrollArea): horizontal drag (#527)
  .changeset/loud-emus-kneel.md
  src/components/ScrollArea/ScrollArea.tsx
Due: eslint

chore: release
  .changeset/loud-emus-kneel.md
  CHANGELOG.md
  package.json
Due: none

fix(Modal): scrolling fix
  .changeset/yellow-shirts-heal.md
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
Due: eslint, stylelint

fix(Modal): scrolling fix (#528)
  .changeset/yellow-shirts-heal.md
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
Due: eslint, stylelint

fix(FileUpload, Text): composition improvements, numeric text support
  .changeset/funny-rabbits-laugh.md
  src/components/FileUpload/FileUpload.module.css
  src/components/FileUpload/FileUpload.tsx
  src/components/Text/Text.module.css
  src/components/Text/Text.tsx
  src/components/Text/Text.types.ts
  src/components/Text/tests/Text.stories.tsx
Due: eslint, stylelint

feat(Image, Avatar): outline property
  .changeset/sharp-turkeys-push.md
  src/components/Avatar/Avatar.module.css
  src/components/Avatar/Avatar.tsx
  src/components/Image/Image.module.css
  src/components/Image/Image.tsx
  src/components/Image/Image.types.ts
  src/components/Image/tests/Image.stories.tsx
Due: eslint, stylelint

feat(FileUpload): disabled
  .changeset/thin-rocks-hang.md
  src/components/FileUpload/FileUpload.module.css
  src/components/FileUpload/FileUpload.tsx
  src/components/FileUpload/FileUpload.types.ts
  src/components/FileUpload/tests/FileUpload.stories.tsx
Due: eslint, stylelint

feat(Scrim): padding, borderRadius
  .changeset/nice-aliens-wear.md
  src/components/Scrim/Scrim.module.css
  src/components/Scrim/Scrim.tsx
  src/components/Scrim/Scrim.types.ts
  src/components/Scrim/tests/Scrim.stories.tsx
Due: eslint, stylelint

feat(HiddenInput): new utility
  .changeset/fresh-dolls-nail.md
  src/components/Checkbox/Checkbox.tsx
  src/components/HiddenInput/HiddenInput.module.css
  src/components/HiddenInput/HiddenInput.tsx
  src/components/HiddenInput/HiddenInput.types.ts
  src/components/HiddenInput/index.ts
  src/components/HiddenInput/tests/HiddenInput.stories.tsx
  src/components/Radio/Radio.tsx
  src/components/Tabs/TabsItem.tsx
Due: eslint, stylelint

test(HiddenInput): added more tests and group integrations
  src/Sandbox.stories.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/HiddenInput/HiddenInput.tsx
  src/components/HiddenInput/HiddenInput.types.ts
  src/components/HiddenInput/tests/HiddenInput.stories.tsx
  src/components/Radio/Radio.tsx
Due: eslint

feat(Tabs): disableSelectionAnimation
  .changeset/afraid-eyes-guess.md
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/Tabs.types.ts
  src/components/Tabs/TabsControlled.tsx
  src/components/Tabs/TabsItem.tsx
  src/components/Tabs/TabsList.tsx
  src/components/Tabs/TabsPanel.tsx
  src/components/Tabs/tests/Tabs.stories.tsx
Due: eslint, stylelint

test(FileUpload): fixed test
  src/components/FileUpload/tests/FileUpload.stories.tsx
Due: eslint

feat(Tabs): disableSelectionAnimation (#530)
  .changeset/afraid-eyes-guess.md
  src/components/FileUpload/tests/FileUpload.stories.tsx
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/Tabs.types.ts
  src/components/Tabs/TabsControlled.tsx
  src/components/Tabs/TabsItem.tsx
  src/components/Tabs/TabsList.tsx
  src/components/Tabs/TabsPanel.tsx
  src/components/Tabs/tests/Tabs.stories.tsx
Due: eslint, stylelint

fix: canary fixes
  src/components/HiddenInput/HiddenInput.tsx
  src/components/Popover/Popover.module.css
Due: eslint, stylelint

fix(Tabs): scrolling in view item
  .changeset/dirty-kids-fly.md
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/TabsItem.tsx
Due: eslint, stylelint

fix(Tabs): scrolling in view item (#531)
  .changeset/dirty-kids-fly.md
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/TabsItem.tsx
Due: eslint, stylelint

fix(HiddenInput): exported from the library
  src/index.ts
Due: eslint

chore: canary release
  .changeset/pre.json
Due: none

fix(ToggleButtonGroup): fullwidth buttons
  .changeset/crisp-rabbits-watch.md
  src/components/Button/Button.module.css
  src/components/Button/tests/Button.stories.tsx
Due: eslint, stylelint

fix(Flyout): auto reposition on content resize
  .changeset/wide-lamps-fail.md
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Tooltip/Tooltip.types.ts
Due: eslint

fix(Flyout): auto reposition on content resize (#533)
  .changeset/wide-lamps-fail.md
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Tooltip/Tooltip.types.ts
Due: eslint

fix(Tooltip): contentMaxWidth and small screen fallbacks
  .changeset/clever-pillows-shake.md
  src/components/Flyout/Flyout.module.css
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutContent.tsx
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Flyout/utilities/flyout.ts
  src/components/Tooltip/Tooltip.module.css
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.ts
  src/components/Tooltip/tests/Tooltip.stories.tsx
Due: eslint, stylelint

fix(Tooltip): contentMaxWidth and small screen fallbacks (#534)
  .changeset/clever-pillows-shake.md
  src/components/Flyout/Flyout.module.css
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutContent.tsx
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Flyout/utilities/flyout.ts
  src/components/Tooltip/Tooltip.module.css
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.ts
  src/components/Tooltip/tests/Tooltip.stories.tsx
Due: eslint, stylelint

fix(Flyout): fallbackMinHeight calc
  .changeset/eighty-jars-knock.md
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Flyout/utilities/calculatePosition.ts
  src/components/Flyout/utilities/constants.ts
  src/components/Flyout/utilities/flyout.ts
  src/components/Flyout/utilities/isFullyVisible.ts
Due: eslint

fix(Flyout): mouseleave
  .changeset/eighty-jars-knock.md
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Flyout/useFlyout.ts
Due: eslint
