Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

test: color ramp
  src/themes/_generator/tests/themes.stories.tsx
Due: eslint

chore: updated deps
  package.json
  yarn.lock
Due: none

feat: updated color generation to oklch
  src/themes/_generator/tests/ThemesPlayground.tsx
  src/themes/_generator/tests/themes.stories.tsx
  src/themes/_generator/tokens/color/color.transforms.ts
  src/themes/_generator/tokens/color/color.types.ts
  src/themes/_generator/tokens/color/utilities/a11y.ts
  src/themes/_generator/tokens/color/utilities/convert.ts
  src/themes/_generator/tokens/color/utilities/generateColors.ts
  src/themes/_generator/tokens/color/utilities/generateMetaColors.ts
  src/themes/_generator/utilities/generateColors.ts
  src/themes/slate/theme.json
Due: eslint

fix: import from culori/fn
  src/themes/_generator/tokens/color/utilities/a11y.ts
Due: eslint

fix: fixed culori import script
  bin/format-cjs-build.js
  src/tests/ThemesPlayground.tsx
  src/tests/themes.stories.tsx
  src/themes/_generator/definitions/slate.ts
  vite.config.mjs
Due: eslint

fix: culori contrast to custom function
  src/tests/themes.stories.tsx
  src/themes/_generator/tokens/color/utilities/a11y.ts
Due: eslint

test: color generation
  src/tests/themes.stories.tsx
  src/themes/_generator/tokens/color/tests/color.test.ts
  src/themes/_generator/tokens/color/utilities/generateColors.ts
  src/themes/_generator/tokens/color/utilities/tests/__snapshots__/convert.test.ts.snap
  src/themes/_generator/tokens/color/utilities/tests/__snapshots__/generateColors.test.ts.snap
  src/themes/_generator/tokens/color/utilities/tests/a11y.test.ts
  src/themes/_generator/tokens/color/utilities/tests/convert.test.ts
  src/themes/_generator/tokens/color/utilities/tests/generateColors.test.ts
Due: eslint

feat: updated generated themes
  src/cli/theming/index.ts
  src/cli/theming/tailwind.ts
  src/themes/_generator/tokens/color/color.transforms.ts
  src/themes/_generator/tokens/color/utilities/convert.ts
  src/themes/_generator/transform.ts
  src/themes/figma/theme.css
  src/themes/figma/theme.json
  src/themes/fragments/twitter/theme.css
  src/themes/fragments/twitter/theme.json
  src/themes/reshaped/theme.css
  src/themes/reshaped/theme.json
  src/themes/slate/theme.css
  src/themes/slate/theme.json
Due: eslint, stylelint

fix: fixes
  src/themes/_generator/tokens/color/utilities/tests/__snapshots__/convert.test.ts.snap
  src/themes/_generator/transform.ts
Due: eslint

v3.6.0-canary.5
  package.json
Due: none

chore: update dependencies
  package.json
  yarn.lock
Due: none

fix: regenerated themes with correct hex format
  CHANGELOG.md
  src/cli/theming/index.ts
  src/themes/_generator/transform.ts
  src/themes/figma/theme.json
  src/themes/fragments/twitter/theme.json
  src/themes/reshaped/theme.json
  src/themes/slate/theme.json
Due: eslint

feat(DropdownMenu): added trapFocusMode false support
  CHANGELOG.md
  src/components/DropdownMenu/DropdownMenu.types.ts
Due: eslint

chore: updated dependencies
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

feat(Accordion): added gap support
  CHANGELOG.md
  src/components/Accordion/Accordion.types.ts
  src/components/Accordion/AccordionContent.tsx
  src/components/Accordion/AccordionControlled.tsx
  src/components/Accordion/tests/Accordion.stories.tsx
Due: eslint

fix(ScrollArea): removed tabIndex
  CHANGELOG.md
  src/components/ScrollArea/ScrollArea.tsx
Due: eslint

fix(TextField): attachments sizes
  CHANGELOG.md
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
  src/components/TextField/TextField.module.css
Due: eslint, stylelint

fix(TextField): improved end attachments wrapping
  CHANGELOG.md
  src/Sandbox.stories.tsx
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.tsx
Due: eslint, stylelint

fix: fixed scoped themes in tw v4
  CHANGELOG.md
  src/cli/theming/tailwind.ts
  src/themes/figma/tailwind.css
  src/themes/fragments/twitter/tailwind.css
  src/themes/reshaped/tailwind.css
  src/themes/slate/tailwind.css
Due: eslint, stylelint

v3.6.0-canary.6
  package.json
Due: none

fix: theme unit generation for fragments
  src/themes/_generator/transform.ts
Due: eslint

v3.6.0-canary.7
  package.json
Due: none

fix(Select): text truncation
  CHANGELOG.md
  src/components/Select/Select.module.css
  src/components/Select/Select.tsx
  src/styles/bleed/bleed.module.css
Due: eslint, stylelint

fix(NumberField): float numbers change
  CHANGELOG.md
  src/components/NumberField/NumberFieldControlled.tsx
  src/components/NumberField/tests/NumberField.stories.tsx
Due: eslint

chore: changelog
  CHANGELOG.md
Due: none

fix: removed irrelevant hover effects for touch events not using a pointer device
  CHANGELOG.md
  src/components/Badge/Badge.module.css
  src/components/Button/Button.module.css
  src/components/Calendar/Calendar.module.css
  src/components/Card/Card.module.css
  src/components/Checkbox/Checkbox.module.css
  src/components/FileUpload/FileUpload.module.css
  src/components/Link/Link.module.css
  src/components/MenuItem/MenuItem.module.css
  src/components/NumberField/NumberField.module.css
  src/components/Radio/Radio.module.css
  src/components/Tabs/Tabs.module.css
Due: stylelint

feat: yellow color update in the color gen
  src/themes/_generator/tokens/color/utilities/generateColors.ts
  src/themes/slate/theme.css
  src/themes/slate/theme.json
Due: eslint, stylelint

test: updated snapshots
  src/themes/_generator/tokens/color/utilities/tests/__snapshots__/generateColors.test.ts.snap
Due: none

feat(ToggleButton,ToggleButtonGroup): new components
  CHANGELOG.md
  src/Sandbox.stories.tsx
  src/components/Button/Button.module.css
  src/components/ToggleButton/ToggleButton.tsx
  src/components/ToggleButton/ToggleButton.types.ts
  src/components/ToggleButton/ToggleButtonControlled.tsx
  src/components/ToggleButton/ToggleButtonUncontrolled.tsx
  src/components/ToggleButton/index.ts
  src/components/ToggleButton/tests/ToggleButton.stories.tsx
  src/components/ToggleButtonGroup/ToggleButtonGroup.context.ts
  src/components/ToggleButtonGroup/ToggleButtonGroup.tsx
  src/components/ToggleButtonGroup/ToggleButtonGroup.types.ts
  src/components/ToggleButtonGroup/ToggleButtonGroupControlled.tsx
  src/components/ToggleButtonGroup/ToggleButtonGroupUncontrolled.tsx
  src/components/ToggleButtonGroup/index.ts
  src/components/ToggleButtonGroup/tests/ToggleButtonGroup.stories.tsx
  src/hooks/useToggle.ts
  src/index.ts
Due: eslint, stylelint

test: fixed useToggle passed arguments in stories
  src/components/Modal/tests/Modal.test.stories.tsx
  src/components/Overlay/tests/Overlay.stories.tsx
  src/components/Overlay/tests/Overlay.test.stories.tsx
  src/hooks/tests/useDrag.stories.tsx
  src/hooks/tests/useToggle.stories.tsx
Due: eslint

feat(Button): updated css for hover and highlighted colors
  src/components/Button/Button.module.css
  src/components/Button/tests/Button.stories.tsx
Due: eslint, stylelint

fix(Button): aligned styles with Figma
  src/components/Button/Button.module.css
Due: stylelint

feat(Resizable): custom handle components and status props
  CHANGELOG.md
  src/components/Resizable/Resizable.module.css
  src/components/Resizable/Resizable.tsx
  src/components/Resizable/Resizable.types.ts
  src/components/Resizable/ResizableHandle.tsx
  src/components/Resizable/tests/Resizable.stories.tsx
  src/components/Resizable/tests/Resizable.test.stories.tsx
Due: eslint, stylelint

chore: updated dependencies
  CHANGELOG.md
  package.json
  src/components/Resizable/tests/Resizable.stories.tsx
Due: eslint

feat: added colorOutputFormat option for theming
  CHANGELOG.md
  src/cli/theming/reshaped.config.ts
  src/themes/_generator/definitions/slate.ts
  src/themes/_generator/tokens/color/color.transforms.ts
  src/themes/_generator/tokens/color/color.types.ts
  src/themes/_generator/tokens/color/utilities/convert.ts
  src/themes/_generator/tokens/color/utilities/generateColors.ts
  src/themes/_generator/tokens/color/utilities/generateMetaColors.ts
  src/themes/_generator/tokens/shadow/shadow.transforms.ts
  src/themes/_generator/tokens/types.ts
  src/themes/_generator/transform.ts
  src/types/config.ts
Due: eslint

ci: updated node
  .github/workflows/pull-request.yml
Due: none

chore: lock
  yarn.lock
Due: none

test: updated mixins snapshots
  src/styles/bleed/__snapshots__/index.test.ts.snap
  src/styles/border/__snapshots__/index.test.ts.snap
  src/styles/height/__snapshots__/index.test.ts.snap
  src/styles/maxHeight/__snapshots__/index.test.ts.snap
  src/styles/maxWidth/__snapshots__/index.test.ts.snap
  src/styles/minHeight/__snapshots__/index.test.ts.snap
  src/styles/minWidth/__snapshots__/index.test.ts.snap
  src/styles/radius/__snapshots__/index.test.ts.snap
  src/styles/width/__snapshots__/index.test.ts.snap
Due: none

v3.6.0-canary.8
  package.json
Due: none

feat: types exports
  src/components/Button/index.ts
  src/components/ToggleButtonGroup/ToggleButtonGroup.types.ts
  src/components/ToggleButtonGroup/ToggleButtonGroupControlled.tsx
  src/components/ToggleButtonGroup/tests/ToggleButtonGroup.stories.tsx
  src/index.ts
Due: eslint

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
