Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{ts,tsx}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}

prepare-commit-msg:
  commands:
    "review commit method":
      run: |
        COMMIT_MSG_FILE="$1"

        if [ ! -s "$COMMIT_MSG_FILE" ]; then
          exit 0
        fi

        if [ -z "$ALLOW_COMMIT" ]; then
          echo "ðŸš« Use 'yarn commit' instead of 'git commit'."
          exit 1
        fi

commit-msg:
  commands:
    "lint commit message":
      run: npx commitlint --color --edit {1}

useIsDismissible: defer queue removal and expose as private export
  packages/reshaped/package.json
  packages/reshaped/src/hooks/_private/useIsDismissible.ts
Due: eslint

v4: Alert, Text, Badge, Breadcrumb
  .changeset/dark-eagles-jog.md
  .changeset/lemon-berries-leave.md
  .changeset/sunny-words-say.md
  .changeset/tangy-papers-occur.md
  .changeset/twelve-moles-check.md
  packages/reshaped/src/components/Alert/Alert.module.css
  packages/reshaped/src/components/Alert/Alert.tsx
  packages/reshaped/src/components/Badge/Badge.module.css
  packages/reshaped/src/components/Badge/Badge.tsx
  packages/reshaped/src/components/Badge/Badge.types.ts
  packages/reshaped/src/components/Badge/tests/Badge.stories.tsx
  packages/reshaped/src/components/Link/Link.module.css
  packages/reshaped/src/components/Link/tests/Link.stories.tsx
  packages/reshaped/src/components/Text/Text.module.css
  packages/reshaped/src/components/Text/Text.types.ts
  packages/reshaped/src/components/Text/tests/Text.stories.tsx
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/figma/theme.json
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/definitions/figma.ts
  packages/theming/src/generation/definitions/slate.ts
  packages/theming/src/generation/tokens/unit/utilities/generate.ts
Due: eslint, stylelint

v4: checkbox, checkbox group, divider, container
  .changeset/polite-doodles-enter.md
  .changeset/public-readers-add.md
  packages/reshaped/src/components/Checkbox/Checkbox.module.css
  packages/reshaped/src/components/Checkbox/Checkbox.tsx
  packages/reshaped/src/components/Checkbox/tests/Checkbox.stories.tsx
  packages/reshaped/src/components/Container/Container.types.ts
  packages/reshaped/src/components/Divider/Divider.module.css
  packages/reshaped/src/components/Divider/Divider.tsx
  packages/reshaped/src/components/Divider/Divider.types.ts
  packages/reshaped/src/components/Divider/tests/Divider.stories.tsx
  packages/reshaped/src/styles/mixin.ts
Due: eslint, stylelint

v4: overlay
  .changeset/moody-lands-lead.md
  packages/reshaped/src/components/Overlay/Overlay.module.css
  packages/reshaped/src/styles/mixin.ts
Due: eslint, stylelint

v4: shadows, Card
  .changeset/cool-tables-sip.md
  .changeset/cyan-bars-sniff.md
  .changeset/slow-carpets-behave.md
  packages/reshaped/src/components/Card/Card.module.css
  packages/reshaped/src/components/Card/Card.tsx
  packages/reshaped/src/components/Card/Card.types.ts
  packages/reshaped/src/components/Card/tests/Card.stories.tsx
  packages/reshaped/src/styles/mixin.ts
  packages/reshaped/src/styles/resolvers/bleed/bleed.module.css
  packages/reshaped/src/styles/resolvers/border/borderWidth.css
  packages/reshaped/src/styles/resolvers/padding/padding.css
  packages/reshaped/src/styles/resolvers/shadow/index.ts
  packages/reshaped/src/styles/resolvers/shadow/shadow.module.css
  packages/reshaped/src/styles/types.ts
  packages/reshaped/src/themes/figma/tailwind.css
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/figma/theme.json
  packages/reshaped/src/themes/fragments/twitter/tailwind.css
  packages/reshaped/src/themes/slate/tailwind.css
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/definitions/figma.ts
  packages/theming/src/generation/definitions/slate.ts
  packages/theming/src/generation/tokens/shadow/shadow.transforms.ts
  packages/theming/src/generation/tokens/shadow/shadow.types.ts
Due: eslint, stylelint

v4: Avatar, Card
  .changeset/beige-sheep-chew.md
  .changeset/young-meals-clap.md
  packages/reshaped/src/components/Avatar/Avatar.tsx
  packages/reshaped/src/components/Card/Card.module.css
  packages/reshaped/src/components/Card/Card.tsx
  packages/reshaped/src/components/Card/Card.types.ts
  packages/reshaped/src/components/Card/tests/Card.stories.tsx
Due: eslint, stylelint

v4: Skeleton, MenuItem
  .changeset/proud-baboons-camp.md
  .changeset/slick-symbols-love.md
  .changeset/warm-tigers-wait.md
  packages/reshaped/src/components/Actionable/Actionable.module.css
  packages/reshaped/src/components/Card/Card.tsx
  packages/reshaped/src/components/Checkbox/Checkbox.module.css
  packages/reshaped/src/components/MenuItem/MenuItem.module.css
  packages/reshaped/src/components/MenuItem/MenuItem.tsx
  packages/reshaped/src/components/MenuItem/tests/MenuItem.stories.tsx
  packages/reshaped/src/components/Radio/Radio.module.css
  packages/reshaped/src/components/Radio/Radio.tsx
  packages/reshaped/src/components/Skeleton/Skeleton.module.css
  packages/reshaped/src/components/Skeleton/Skeleton.tsx
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/figma/theme.json
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/definitions/slate.ts
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
Due: eslint, stylelint

v4: Scrim
  .changeset/shaky-bottles-live.md
  packages/reshaped/src/components/Scrim/Scrim.module.css
  packages/reshaped/src/components/Scrim/Scrim.tsx
  packages/reshaped/src/components/Scrim/Scrim.types.ts
  packages/reshaped/src/components/Scrim/index.ts
  packages/reshaped/src/components/Scrim/tests/Scrim.stories.tsx
Due: eslint, stylelint

useIsDismissible
  .changeset/some-planes-kick.md
  package.json
  packages/headless/src/hooks/tests/useElementId.stories.tsx
  packages/headless/src/hooks/useElementId.ts
  packages/headless/src/hooks/useIsDismissible.ts
  packages/headless/src/index.ts
  packages/reshaped/src/components/Accordion/AccordionControlled.tsx
  packages/reshaped/src/components/Autocomplete/Autocomplete.tsx
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/FormControl/FormControl.tsx
  packages/reshaped/src/components/Modal/Modal.tsx
  packages/reshaped/src/components/NumberField/NumberFieldControlled.tsx
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/components/Select/SelectRoot.tsx
  packages/reshaped/src/components/Slider/SliderControlled.tsx
  packages/reshaped/src/components/Switch/Switch.tsx
  packages/reshaped/src/components/Tabs/TabsControlled.tsx
  packages/reshaped/src/components/TextArea/TextArea.tsx
  packages/reshaped/src/components/TextField/TextField.tsx
  packages/reshaped/src/index.ts
  pnpm-lock.yaml
Due: eslint

chore: canary release
  .changeset/pre.json
  packages/headless/CHANGELOG.md
  packages/headless/package.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

chore: canary release
  .changeset/pre.json
Due: none

canary
  .changeset/sixty-queens-do.md
Due: none

v4: timeline, stepper
  .changeset/dirty-rats-spend.md
  .changeset/open-peas-work.md
  packages/reshaped/src/components/Stepper/Stepper.module.css
  packages/reshaped/src/components/Stepper/Stepper.tsx
  packages/reshaped/src/components/Stepper/Stepper.types.ts
  packages/reshaped/src/components/Stepper/index.ts
  packages/reshaped/src/components/Stepper/tests/Stepper.stories.tsx
  packages/reshaped/src/components/Timeline/Timeline.module.css
  packages/reshaped/src/components/Timeline/Timeline.tsx
  packages/reshaped/src/components/Timeline/Timeline.types.ts
  packages/reshaped/src/components/Timeline/index.ts
  packages/reshaped/src/components/Timeline/tests/Timeline.stories.tsx
Due: eslint, stylelint

v4: switch
  .changeset/green-ads-sing.md
  packages/reshaped/src/components/ProgressIndicator/tests/ProgressIndicator.stories.tsx
  packages/reshaped/src/components/Switch/Switch.module.css
  packages/reshaped/src/components/Switch/tests/Switch.stories.tsx
Due: eslint, stylelint

Calendar: renderDateValue
  .changeset/bright-eagles-cover.md
  packages/reshaped/src/components/Calendar/Calendar.types.ts
  packages/reshaped/src/components/Calendar/CalendarControlled.tsx
  packages/reshaped/src/components/Calendar/CalendarDate.tsx
  packages/reshaped/src/components/Calendar/CalendarMonth.tsx
  packages/reshaped/src/components/Calendar/tests/Calendar.stories.tsx
Due: eslint

feat(calendar): renderDateValue (#602)
  .changeset/bright-eagles-cover.md
  packages/reshaped/src/components/Calendar/Calendar.types.ts
  packages/reshaped/src/components/Calendar/CalendarControlled.tsx
  packages/reshaped/src/components/Calendar/CalendarDate.tsx
  packages/reshaped/src/components/Calendar/CalendarMonth.tsx
  packages/reshaped/src/components/Calendar/tests/Calendar.stories.tsx
Due: eslint

canary
  .changeset/pink-olives-fry.md
  packages/reshaped/package.json
Due: none

v4: FormControl
  .changeset/gentle-frogs-cheer.md
  packages/reshaped/src/components/FileUpload/tests/FileUpload.stories.tsx
  packages/reshaped/src/components/FormControl/FormControl.module.css
  packages/reshaped/src/components/FormControl/FormControl.tsx
  packages/reshaped/src/components/FormControl/FormControl.types.ts
  packages/reshaped/src/components/FormControl/FormControlCaption.tsx
  packages/reshaped/src/components/FormControl/FormControlLabel.tsx
  packages/reshaped/src/components/FormControl/tests/FormControl.stories.tsx
  packages/reshaped/src/components/Table/tests/Table.stories.tsx
  packages/reshaped/src/styles/mixin.ts
Due: eslint, stylelint

v4: progress bar
  .changeset/purple-areas-hunt.md
  .changeset/tall-chefs-report.md
  packages/reshaped/src/components/Progress/index.ts
  packages/reshaped/src/components/ProgressBar/ProgressBar.module.css
  packages/reshaped/src/components/ProgressBar/ProgressBar.tsx
  packages/reshaped/src/components/ProgressBar/ProgressBar.types.ts
  packages/reshaped/src/components/ProgressBar/index.ts
  packages/reshaped/src/components/ProgressBar/tests/ProgressBar.stories.tsx
  packages/reshaped/src/index.ts
Due: eslint, stylelint

v4: card
  packages/reshaped/src/components/Card/Card.module.css
  packages/reshaped/src/components/Card/Card.types.ts
  packages/reshaped/src/components/Card/tests/Card.stories.tsx
Due: eslint, stylelint

v4: button
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Button/Button.types.ts
  packages/reshaped/src/components/Button/tests/Button.stories.tsx
  packages/reshaped/src/components/Card/Card.module.css
  packages/reshaped/src/styles/mixin.ts
  packages/reshaped/src/themes/figma/tailwind.css
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/figma/theme.json
  packages/reshaped/src/themes/fragments/twitter/tailwind.css
  packages/reshaped/src/themes/slate/tailwind.css
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/definitions/figma.ts
  packages/theming/src/generation/tokens/color/color.types.ts
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
Due: eslint, stylelint

v4: Button
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Button/Button.tsx
  packages/reshaped/src/components/Button/tests/Button.stories.tsx
  packages/reshaped/src/components/Card/Card.tsx
  packages/reshaped/src/components/Card/Card.types.ts
  packages/reshaped/src/components/Card/tests/Card.stories.tsx
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
Due: eslint, stylelint

v4: button
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Button/Button.tsx
  packages/reshaped/src/components/Button/Button.types.ts
  packages/reshaped/src/components/Button/tests/Button.stories.tsx
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
Due: eslint, stylelint

V4 button (#604)
  .changeset/purple-areas-hunt.md
  .changeset/tall-chefs-report.md
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Button/Button.tsx
  packages/reshaped/src/components/Button/Button.types.ts
  packages/reshaped/src/components/Button/tests/Button.stories.tsx
  packages/reshaped/src/components/Card/Card.module.css
  packages/reshaped/src/components/Card/Card.tsx
  packages/reshaped/src/components/Card/Card.types.ts
  packages/reshaped/src/components/Card/tests/Card.stories.tsx
  packages/reshaped/src/components/Progress/index.ts
  packages/reshaped/src/components/ProgressBar/ProgressBar.module.css
  packages/reshaped/src/components/ProgressBar/ProgressBar.tsx
  packages/reshaped/src/components/ProgressBar/ProgressBar.types.ts
  packages/reshaped/src/components/ProgressBar/index.ts
  packages/reshaped/src/components/ProgressBar/tests/ProgressBar.stories.tsx
  packages/reshaped/src/index.ts
  packages/reshaped/src/styles/mixin.ts
  packages/reshaped/src/themes/figma/tailwind.css
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/figma/theme.json
  packages/reshaped/src/themes/fragments/twitter/tailwind.css
  packages/reshaped/src/themes/slate/tailwind.css
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/definitions/figma.ts
  packages/theming/src/generation/tokens/color/color.types.ts
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
Due: eslint, stylelint

v4: button, hotkey
  .changeset/four-cases-slide.md
  .changeset/late-zebras-push.md
  .changeset/silly-plums-ask.md
  .changeset/tasty-animals-drive.md
  packages/reshaped/src/components/Badge/tests/Badge.stories.tsx
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Button/tests/Button.stories.tsx
  packages/reshaped/src/components/Hotkey/Hotkey.module.css
  packages/reshaped/src/components/Hotkey/Hotkey.tsx
  packages/reshaped/src/components/Hotkey/Hotkey.types.ts
  packages/reshaped/src/components/Hotkey/index.ts
  packages/reshaped/src/components/Hotkey/tests/Hotkey.stories.tsx
  packages/reshaped/src/components/ProgressBar/ProgressBar.module.css
Due: eslint, stylelint

v4: TextField, minor component design polish
  .changeset/tall-schools-kick.md
  .changeset/thirty-socks-rule.md
  packages/reshaped/src/components/Alert/Alert.tsx
  packages/reshaped/src/components/Avatar/Avatar.tsx
  packages/reshaped/src/components/FileUpload/FileUpload.module.css
  packages/reshaped/src/components/NumberField/NumberField.module.css
  packages/reshaped/src/components/PinField/PinField.module.css
  packages/reshaped/src/components/PinField/PinFieldControlled.tsx
  packages/reshaped/src/components/TextField/TextField.module.css
  packages/reshaped/src/components/TextField/TextField.tsx
  packages/reshaped/src/components/TextField/tests/TextField.stories.tsx
  packages/reshaped/src/components/View/View.module.css
  packages/reshaped/src/components/View/View.tsx
  packages/reshaped/src/components/View/View.types.ts
Due: eslint, stylelint

v4: text area
  .changeset/petite-cooks-wish.md
  packages/reshaped/src/components/Reshaped/Reshaped.css
  packages/reshaped/src/components/TextArea/TextArea.module.css
  packages/reshaped/src/components/TextArea/TextArea.tsx
  packages/reshaped/src/components/TextArea/tests/TextArea.stories.tsx
  packages/reshaped/src/components/TextField/TextField.module.css
Due: eslint, stylelint

v4: calendar
  .changeset/sour-lies-look.md
  packages/reshaped/src/components/Calendar/Calendar.module.css
  packages/reshaped/src/components/Calendar/CalendarDate.tsx
Due: eslint, stylelint

v4: scroll area
  .changeset/shiny-chefs-peel.md
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
  packages/reshaped/src/components/ScrollArea/tests/ScrollArea.stories.tsx
Due: eslint, stylelint

v4: overlay, modal
  .changeset/bumpy-oranges-trade.md
  .changeset/three-dingos-chew.md
  packages/reshaped/src/Sandbox.stories.tsx
  packages/reshaped/src/components/Modal/Modal.module.css
  packages/reshaped/src/components/Modal/Modal.tsx
  packages/reshaped/src/components/Modal/tests/Modal.stories.tsx
  packages/reshaped/src/components/Overlay/Overlay.module.css
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/components/Overlay/Overlay.types.ts
  packages/reshaped/src/components/Overlay/index.tsx
Due: eslint, stylelint

v4: Popover
  .changeset/bold-facts-fail.md
  .changeset/itchy-icons-switch.md
  .changeset/spicy-poets-make.md
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Card/Card.tsx
  packages/reshaped/src/components/Checkbox/Checkbox.module.css
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.module.css
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.tsx
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.types.ts
  packages/reshaped/src/components/Flyout/Flyout.module.css
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/reshaped/src/components/Modal/Modal.module.css
  packages/reshaped/src/components/Modal/tests/Modal.stories.tsx
  packages/reshaped/src/components/Overlay/Overlay.module.css
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/components/PinField/PinFieldControlled.tsx
  packages/reshaped/src/components/Popover/Popover.module.css
  packages/reshaped/src/components/Popover/Popover.tsx
  packages/reshaped/src/components/Popover/Popover.types.ts
  packages/reshaped/src/components/Popover/tests/Popover.stories.tsx
  packages/reshaped/src/components/Radio/Radio.module.css
  packages/reshaped/src/components/TextArea/TextArea.tsx
  packages/reshaped/src/components/TextField/TextField.tsx
  packages/reshaped/src/components/Tooltip/Tooltip.tsx
  packages/reshaped/src/styles/resolvers/shadow/shadow.module.css
  packages/reshaped/src/styles/types.ts
  packages/reshaped/src/themes/figma/tailwind.css
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/figma/theme.json
  packages/reshaped/src/themes/fragments/twitter/tailwind.css
  packages/reshaped/src/themes/slate/tailwind.css
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/definitions/figma.ts
  packages/theming/src/generation/definitions/slate.ts
  packages/theming/src/generation/tokens/shadow/shadow.types.ts
Due: eslint, stylelint

v4: select
  .changeset/deep-ducks-sin.md
  .changeset/green-jeans-tell.md
  .changeset/ninety-worms-return.md
  packages/reshaped/src/components/Flyout/Flyout.module.css
  packages/reshaped/src/components/Select/Select.module.css
  packages/reshaped/src/components/Select/Select.tsx
  packages/reshaped/src/components/Select/Select.types.ts
  packages/reshaped/src/components/Select/SelectCustomControlled.tsx
  packages/reshaped/src/components/Select/SelectNative.tsx
  packages/reshaped/src/components/Select/SelectRoot.tsx
  packages/reshaped/src/components/Select/SelectTrigger.tsx
  packages/reshaped/src/components/Select/index.ts
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
  packages/reshaped/src/components/TextArea/TextArea.module.css
  packages/reshaped/src/components/TextField/TextField.module.css
  packages/reshaped/src/index.ts
Due: eslint, stylelint

v4: tooltip
  .changeset/quick-sheep-dress.md
  packages/reshaped/src/components/Tooltip/Tooltip.module.css
  packages/reshaped/src/components/Tooltip/Tooltip.tsx
Due: eslint, stylelint

v4: toast
  .changeset/fifty-papayas-count.md
  packages/reshaped/src/Sandbox.stories.tsx
  packages/reshaped/src/components/Reshaped/Reshaped.tsx
  packages/reshaped/src/components/Reshaped/Reshaped.types.ts
  packages/reshaped/src/components/Toast/Toast.constants.ts
  packages/reshaped/src/components/Toast/Toast.module.css
  packages/reshaped/src/components/Toast/Toast.tsx
  packages/reshaped/src/components/Toast/Toast.types.ts
  packages/reshaped/src/components/Toast/ToastContainer.tsx
  packages/reshaped/src/components/Toast/ToastProvider.tsx
  packages/reshaped/src/components/Toast/ToastRegion.tsx
  packages/reshaped/src/components/Toast/tests/Toast.stories.tsx
Due: eslint, stylelint

v4: review tokens
  .changeset/silver-ants-cheer.md
  packages/reshaped/src/components/Card/Card.module.css
  packages/reshaped/src/components/ProgressBar/ProgressBar.module.css
  packages/reshaped/src/components/ProgressIndicator/ProgressIndicator.module.css
  packages/reshaped/src/components/Table/Table.module.css
  packages/reshaped/src/components/View/View.module.css
  packages/reshaped/src/components/View/tests/View.stories.tsx
  packages/reshaped/src/components/_private/Expandable/Expandable.module.css
  packages/reshaped/src/icons/ChevronDown.tsx
  packages/reshaped/src/icons/ChevronLeft.tsx
  packages/reshaped/src/icons/ChevronRight.tsx
  packages/reshaped/src/styles/resolvers/shadow/shadow.module.css
  packages/reshaped/src/styles/types.ts
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/figma/theme.json
  packages/reshaped/src/themes/fragments/twitter/theme.css
  packages/reshaped/src/themes/fragments/twitter/theme.json
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/reshaped/src/utilities/storybook/Example.tsx
  packages/theming/src/generation/definitions/figma.ts
  packages/theming/src/generation/definitions/slate.ts
  packages/theming/src/generation/tokens/color/color.types.ts
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
  packages/theming/src/generation/tokens/color/utilities/generateMetaColors.ts
  packages/theming/src/generation/tokens/types.ts
Due: eslint, stylelint
