Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{ts,tsx}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}

prepare-commit-msg:
  commands:
    "review commit method":
      run: |
        COMMIT_MSG_FILE="$1"

        if [ ! -s "$COMMIT_MSG_FILE" ]; then
          exit 0
        fi

        if [ -z "$ALLOW_COMMIT" ]; then
          echo "ðŸš« Use 'yarn commit' instead of 'git commit'."
          exit 1
        fi

commit-msg:
  commands:
    "lint commit message":
      run: npx commitlint --color --edit {1}

fix(Button): updated :active styles
  CHANGELOG.md
  src/components/Button/Button.module.css
Due: stylelint

v3.7.0-canary.12
  package.json
Due: none

feat(Theme): support multiple fragments
  CHANGELOG.md
  src/components/Theme/Theme.tsx
  src/components/Theme/Theme.types.ts
  src/components/Theme/tests/Theme.test.stories.tsx
  src/themes/_generator/tokens/css.ts
  src/themes/figma/theme.css
  src/themes/fragments/twitter/theme.css
  src/themes/reshaped/theme.css
  src/themes/slate/theme.css
  src/types/global.ts
Due: eslint, stylelint

fix: updated types
  src/components/Reshaped/tests/Reshaped.stories.tsx
  src/components/Theme/GlobalColorMode.tsx
  src/components/Theme/index.ts
  src/index.ts
Due: eslint

v3.7.0-canary.13
  package.json
Due: none

fix(FormControl): remove last child label margin
  CHANGELOG.md
  src/components/FormControl/FormControl.module.css
  src/components/FormControl/tests/FormControl.stories.tsx
Due: eslint, stylelint

v3.7.0-canary.14
  package.json
Due: none

fix(DropdownMenu): items working inside router links
  CHANGELOG.md
  src/components/DropdownMenu/DropdownMenu.tsx
Due: eslint

v3.7.0-canary.15
  package.json
Due: none

fix(Tooltip): aria-describedby when active only
  CHANGELOG.md
  src/components/Flyout/FlyoutTrigger.tsx
Due: eslint

fix(TextField,TextArea,Select): placeholder color
  CHANGELOG.md
  src/components/Reshaped/Reshaped.css
  src/components/Select/Select.module.css
Due: stylelint

fix(Tab): added missing button ids
  CHANGELOG.md
  src/components/Tabs/TabsItem.tsx
Due: eslint

fix(Carousel): a11y and button size
  CHANGELOG.md
  src/Sandbox.stories.tsx
  src/components/Carousel/Carousel.tsx
  src/components/Carousel/Carousel.types.ts
  src/components/Carousel/CarouselControl.tsx
Due: eslint

fix(Calendar): improved tabindex management
  CHANGELOG.md
  src/Sandbox.stories.tsx
  src/components/Calendar/Calendar.types.ts
  src/components/Calendar/Calendar.utils.ts
  src/components/Calendar/CalendarDate.tsx
  src/components/Calendar/CalendarMonth.tsx
  src/components/Calendar/tests/Calendar.stories.tsx
Due: eslint

fix: increased contrast of primary border color in dark mode
  CHANGELOG.md
  src/Sandbox.stories.tsx
  src/themes/_generator/tokens/color/utilities/generateColors.ts
  src/themes/slate/theme.css
  src/themes/slate/theme.json
Due: eslint, stylelint

fix: increased touch areas, added radius-circular
  CHANGELOG.md
  src/components/Actionable/Actionable.module.css
  src/components/Actionable/Actionable.tsx
  src/components/Actionable/Actionable.types.ts
  src/components/Badge/Badge.tsx
  src/components/Reshaped/Reshaped.css
  src/components/Switch/Switch.module.css
  src/components/Switch/Switch.tsx
  src/components/Tabs/TabsList.tsx
Due: eslint, stylelint

feat: github requests
  .storybook/preview.jsx
  CHANGELOG.md
  src/Sandbox.stories.tsx
  src/components/Badge/Badge.module.css
  src/components/Badge/Badge.tsx
  src/components/Badge/Badge.types.ts
  src/components/Badge/tests/Badge.stories.tsx
  src/components/Button/Button.module.css
  src/components/Checkbox/Checkbox.module.css
  src/components/Grid/Grid.tsx
  src/components/Grid/Grid.types.ts
  src/components/Grid/tests/Grid.stories.tsx
  src/components/PinField/PinField.module.css
  src/components/ProgressIndicator/ProgressIndicator.module.css
  src/components/Resizable/Resizable.module.css
  src/components/ScrollArea/ScrollArea.module.css
  src/components/Slider/Slider.module.css
  src/components/TextField/TextField.module.css
  src/components/TextField/tests/TextField.stories.tsx
Due: eslint, stylelint

v3.7.0-canary.16
  package.json
Due: none

feat(Autocomplete): better screen reader navigation
  .storybook/preview.jsx
  CHANGELOG.md
  src/Sandbox.stories.tsx
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/Autocomplete.types.ts
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
  src/components/Flyout/FlyoutContent.tsx
  src/components/MenuItem/MenuItem.module.css
  src/components/MenuItem/MenuItem.tsx
  src/components/MenuItem/MenuItem.types.ts
  src/components/Popover/Popover.tsx
Due: eslint, stylelint

v3.7.0-canary.17
  package.json
Due: none

feat(ActionBar): new props
  CHANGELOG.md
  src/components/ActionBar/ActionBar.module.css
  src/components/ActionBar/ActionBar.tsx
  src/components/ActionBar/ActionBar.types.ts
  src/components/ActionBar/tests/ActionBar.stories.tsx
  src/components/ActionBar/tests/ActionBar.test.stories.tsx
Due: eslint, stylelint

docs(Popover): updated examples a11y
  src/components/Popover/tests/Popover.stories.tsx
Due: eslint

feat(FileUpload): variant, inline, render props
  CHANGELOG.md
  src/components/FileUpload/FileUpload.module.css
  src/components/FileUpload/FileUpload.tsx
  src/components/FileUpload/FileUpload.types.ts
  src/components/FileUpload/tests/FileUpload.stories.tsx
  src/components/FileUpload/tests/FileUpload.test.stories.tsx
Due: eslint, stylelint

v3.7.0-canary.18
  package.json
Due: none

fix(ActionBar): pure selector
  src/components/ActionBar/ActionBar.module.css
Due: stylelint

v3.7.0-canary.19
  package.json
Due: none

fix(ActionBar): remove blurred prop
  CHANGELOG.md
  src/components/ActionBar/ActionBar.module.css
  src/components/ActionBar/ActionBar.tsx
  src/components/ActionBar/ActionBar.types.ts
Due: eslint, stylelint

feat: mixins dev
  CHANGELOG.md
  src/components/View/View.tsx
  src/styles/mixin.ts
  src/styles/resolvers/align/index.test.ts
  src/styles/resolvers/align/index.ts
  src/styles/resolvers/aspectRatio/index.test.ts
  src/styles/resolvers/aspectRatio/index.ts
  src/styles/resolvers/bleed/index.test.ts
  src/styles/resolvers/bleed/index.ts
  src/styles/resolvers/border/index.test.ts
  src/styles/resolvers/border/index.ts
  src/styles/resolvers/height/index.test.ts
  src/styles/resolvers/height/index.ts
  src/styles/resolvers/inset/index.test.ts
  src/styles/resolvers/inset/index.ts
  src/styles/resolvers/inset/inset.css
  src/styles/resolvers/justify/index.test.ts
  src/styles/resolvers/justify/index.ts
  src/styles/resolvers/maxHeight/index.test.ts
  src/styles/resolvers/maxHeight/index.ts
  src/styles/resolvers/maxWidth/index.test.ts
  src/styles/resolvers/maxWidth/index.ts
  src/styles/resolvers/minHeight/index.test.ts
  src/styles/resolvers/minHeight/index.ts
  src/styles/resolvers/minWidth/index.test.ts
  src/styles/resolvers/minWidth/index.ts
  src/styles/resolvers/padding/index.test.ts
  src/styles/resolvers/padding/index.ts
  src/styles/resolvers/position/index.test.ts
  src/styles/resolvers/position/index.ts
  src/styles/resolvers/radius/index.test.ts
  src/styles/resolvers/radius/index.ts
  src/styles/resolvers/textAlign/index.test.ts
  src/styles/resolvers/textAlign/index.ts
  src/styles/resolvers/width/index.test.ts
  src/styles/resolvers/width/index.ts
  src/styles/types.ts
Due: eslint, stylelint

feat: mixins, individual insets and padding
  CHANGELOG.md
  src/components/Reshaped/Reshaped.css
  src/styles/resolvers/inset/index.test.ts
  src/styles/resolvers/inset/index.ts
  src/styles/resolvers/inset/inset.css
  src/styles/resolvers/padding/index.test.ts
  src/styles/resolvers/padding/index.ts
  src/styles/resolvers/padding/padding.css
Due: eslint, stylelint

feat: mixins
  src/components/ActionBar/tests/ActionBar.stories.tsx
  src/styles/mixin.ts
  src/styles/resolvers/margin/index.test.ts
  src/styles/resolvers/margin/index.ts
  src/styles/resolvers/margin/padding.css
  src/styles/types.ts
Due: eslint, stylelint

docs: changelog
  CHANGELOG.md
Due: none

feat: updated components to use resolveMixin
  CHANGELOG.md
  src/components/Avatar/Avatar.tsx
  src/components/Card/Card.module.css
  src/components/Card/Card.tsx
  src/components/Grid/Grid.tsx
  src/components/Icon/Icon.tsx
  src/components/Image/Image.tsx
  src/components/Modal/Modal.tsx
  src/components/Popover/Popover.module.css
  src/components/Popover/Popover.tsx
  src/components/ScrollArea/ScrollArea.tsx
  src/components/Table/Table.tsx
  src/components/Text/Text.tsx
  src/components/View/View.module.css
  src/components/View/View.tsx
  src/styles/resolvers/border/border.module.css
  src/styles/resolvers/margin/margin.css
  src/styles/resolvers/padding/padding.css
Due: eslint, stylelint

feat: mixins border
  CHANGELOG.md
  src/components/Accordion/Accordion.types.ts
  src/components/View/View.tsx
  src/components/View/View.types.ts
  src/components/View/tests/View.stories.tsx
  src/styles/mixin.ts
  src/styles/resolvers/align/align.css
  src/styles/resolvers/aspectRatio/aspectRatio.css
  src/styles/resolvers/bleed/bleed.module.css
  src/styles/resolvers/border/border.module.css
  src/styles/resolvers/border/borderWidth.css
  src/styles/resolvers/border/index.test.ts
  src/styles/resolvers/border/index.ts
  src/styles/resolvers/justify/justify.css
  src/styles/resolvers/margin/margin.css
  src/styles/resolvers/maxHeight/maxHeight.module.css
  src/styles/resolvers/maxWidth/maxWidth.module.css
  src/styles/resolvers/minHeight/minHeight.module.css
  src/styles/resolvers/minWidth/minWidth.module.css
  src/styles/resolvers/padding/padding.css
  src/styles/resolvers/position/position.css
  src/styles/resolvers/textAlign/textAlign.css
  src/styles/resolvers/width/width.module.css
  src/styles/types.ts
Due: eslint, stylelint

test: update snapshots
  src/styles/resolvers/align/__snapshots__/index.test.ts.snap
  src/styles/resolvers/aspectRatio/__snapshots__/index.test.ts.snap
  src/styles/resolvers/bleed/__snapshots__/index.test.ts.snap
  src/styles/resolvers/border/__snapshots__/index.test.ts.snap
  src/styles/resolvers/height/__snapshots__/index.test.ts.snap
  src/styles/resolvers/inset/__snapshots__/index.test.ts.snap
  src/styles/resolvers/justify/__snapshots__/index.test.ts.snap
  src/styles/resolvers/margin/__snapshots__/index.test.ts.snap
  src/styles/resolvers/maxHeight/__snapshots__/index.test.ts.snap
  src/styles/resolvers/maxWidth/__snapshots__/index.test.ts.snap
  src/styles/resolvers/minHeight/__snapshots__/index.test.ts.snap
  src/styles/resolvers/minWidth/__snapshots__/index.test.ts.snap
  src/styles/resolvers/padding/__snapshots__/index.test.ts.snap
  src/styles/resolvers/position/__snapshots__/index.test.ts.snap
  src/styles/resolvers/radius/__snapshots__/index.test.ts.snap
  src/styles/resolvers/textAlign/__snapshots__/index.test.ts.snap
  src/styles/resolvers/width/__snapshots__/index.test.ts.snap
  src/themes/_generator/tokens/color/utilities/tests/__snapshots__/generateColors.test.ts.snap
Due: none

fix: remove blurred
  src/components/ActionBar/tests/ActionBar.stories.tsx
Due: eslint

chore: update dependencies
  package.json
  yarn.lock
Due: none

test: snapshots
  src/themes/_generator/tokens/color/utilities/tests/__snapshots__/convert.test.ts.snap
  src/themes/_generator/tokens/color/utilities/tests/__snapshots__/generateColors.test.ts.snap
Due: none

test: fixed tests
  package.json
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/Modal/tests/Modal.test.stories.tsx
  src/components/Overlay/tests/Overlay.test.stories.tsx
  src/components/Theme/tests/Theme.stories.tsx
  src/hooks/_private/useIsDismissible.ts
  src/utilities/a11y/tests/TrapFocus.stories.tsx
  yarn.lock
Due: eslint

chore: fixed stylelint
  .stylelintrc
  src/components/HiddenVisually/HiddenVisually.module.css
Due: stylelint
