Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

feat(Flyout): flyoutAttributes and flyoutClassName
  CHANGELOG.md
  src/components/Flyout/Flyout.module.css
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutContent.tsx
Due: eslint, stylelint

chore: switched storybook preview to JS
  .storybook/preview.js
Due: eslint

chore: updated changelog
  CHANGELOG.md
Due: none

fix: revert flyout attributes and classname
  CHANGELOG.md
  src/components/Flyout/Flyout.module.css
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutContent.tsx
Due: eslint, stylelint

fix: rename storybook preview to jsx
  .storybook/preview.jsx
Due: eslint

fix(NumberField): touch selection
  src/components/NumberField/NumberField.module.css
Due: stylelint

v3.5.1-canary.0
  package.json
Due: none

fix(View): switch to inferred return types
  src/components/View/View.tsx
Due: eslint

fix(Tabs): fixed arrow navigation
  CHANGELOG.md
  src/utilities/a11y/focus.ts
  src/utilities/a11y/types.ts
Due: eslint

fix(Slider): fixed drag propagation to swipeable modals
  CHANGELOG.md
  src/components/Slider/Slider.types.ts
  src/components/Slider/SliderControlled.tsx
  src/components/Slider/tests/Slider.stories.tsx
Due: eslint

fix(Card): fixed absolute positioning inside the cards
  CHANGELOG.md
  src/components/Card/Card.module.css
  src/components/Card/Card.tsx
Due: eslint, stylelint

fix: preserve themes/modes in storybook
  .storybook/preview.jsx
  CHANGELOG.md
Due: eslint

fix: storybook theme fallback
  .storybook/preview.jsx
Due: eslint

v3.5.1
  package.json
Due: none

feat(Flyout): positioning calculation updates
  CHANGELOG.md
  src/components/Flyout/Flyout.constants.ts
  src/components/Flyout/FlyoutContent.tsx
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Flyout/useFlyout.ts
  src/components/Flyout/utilities/calculatePosition.ts
  src/components/Flyout/utilities/flyout.ts
  src/components/Flyout/utilities/isFullyVisible.ts
  src/utilities/dom/find.ts
  src/utilities/dom/index.ts
  src/utilities/scroll/lock.ts
Due: eslint

ci: added ci to canary MRs
  .github/workflows/pull-request.yml
Due: none

v3.6.0-canary.0
  package.json
Due: none

fix(Checkbox,Radio): removed css layers to keep tw3 preflight compatibility
  src/components/Checkbox/Checkbox.module.css
  src/components/Radio/Radio.module.css
Due: stylelint

docs: changelog
  CHANGELOG.md
Due: none

chore: updated renovate based branch
  renovate.json
Due: none

chore: update dependencies
  package.json
  yarn.lock
Due: none

fix(ScrollArea): fixed maxHeight
  CHANGELOG.md
  src/components/ScrollArea/ScrollArea.tsx
  src/components/ScrollArea/tests/ScrollArea.stories.tsx
  src/components/ScrollArea/tests/ScrollArea.test.stories.tsx
Due: eslint

fix: updated sideEffects to *.css
  CHANGELOG.md
  package.json
Due: none

chore: added changelog generation
  CHANGELOG-old.md
  bin/commit.sh
  package.json
  yarn.lock
Due: none

chore: test changelog
  CHANGELOG.md
  bin/commit.sh
Due: none

chore: updated changelog
  bin/commit.sh
Due: none

chore: test changelog
  CHANGELOG copy.md
  bin/commit.sh
  changelog.config.cjs
Due: none

chore: test changelog
  bin/commit.sh
  package.json
Due: none

chore: test changelog
  bin/commit.sh
Due: none

chore: test changelog
  CHANGELOG.md
  bin/commit.sh
  changelog.config.cjs
Due: none

chore: test changelog
  CHANGELOG copy.md
  CHANGELOG.md
Due: none

fix: test changelog
  CHANGELOG.md
Due: none

fix: test changelog again
  CHANGELOG.md
  bin/commit.sh
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
