Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

chore: patch
  .changeset/pre.json
  .changeset/thirty-rings-tickles.md
Due: none

chore: canary release
  .changeset/pre.json
Due: none

chore: patch
  .changeset/pre.json
  .changeset/thirty-rings-tickle.md
Due: none

chore: version sync
  .changeset/pre.json
  .changeset/thirty-rings-tickles.md
Due: none

Badge: touchHitbox
  .changeset/great-adults-tie.md
  packages/reshaped/src/components/Badge/Badge.module.css
  packages/reshaped/src/components/Badge/Badge.tsx
Due: eslint, stylelint

fix: flyout scrollable position
  .changeset/perky-worms-sip.md
  packages/utilities/src/flyout/utilities/applyPosition.ts
  packages/utilities/src/flyout/utilities/calculatePosition.ts
  packages/utilities/src/flyout/utilities/isFullyVisible.ts
Due: eslint

fix(Flyout): simiplified position calculations
  .changeset/big-ants-design.md
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/utilities/src/flyout/Flyout.ts
  packages/utilities/src/flyout/constants.ts
  packages/utilities/src/flyout/utilities/applyPosition.ts
  packages/utilities/src/flyout/utilities/calculatePosition.ts
  packages/utilities/src/flyout/utilities/findClosestFixedContainer.tsx
  packages/utilities/src/flyout/utilities/isFullyVisible.ts
  packages/utilities/src/flyout/utilities/tests/calculatePosition.test.ts
  packages/utilities/src/flyout/utilities/tests/findClosestFixedContainer.test.ts
  packages/utilities/src/flyout/utilities/tests/isFullyVisible.test.ts
Due: eslint

Flyout: positioning
  .changeset/calm-dogs-joke.md
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/utilities/src/flyout/utilities/applyPosition.ts
  packages/utilities/src/flyout/utilities/calculateLayoutAdjustment.ts
  packages/utilities/src/flyout/utilities/calculatePosition.ts
  packages/utilities/src/flyout/utilities/tests/calculateLayoutAdjustment.test.ts
  packages/utilities/src/flyout/utilities/tests/calculatePosition.test.ts
Due: eslint

chore: canary release
  .changeset/pre.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

feat(TrapFocus): moved to utilities
  .changeset/sweet-planets-marry.md
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/components/Tabs/TabsPanel.tsx
  packages/reshaped/src/components/Toast/ToastContainer.tsx
  packages/reshaped/src/components/Toast/ToastRegion.tsx
  packages/reshaped/src/hooks/_private/useSingletonKeyboardMode.tsx
  packages/reshaped/src/hooks/useKeyboardArrowNavigation.tsx
  packages/reshaped/src/index.ts
  packages/reshaped/src/utilities/a11y/tests/TrapFocus.stories.tsx
  packages/reshaped/src/utilities/tests/Chain.test.ts
  packages/reshaped/src/utilities/tests/__snapshots__/Chain.test.ts.snap
  packages/utilities/package.json
  packages/utilities/src/a11y/Chain.ts
  packages/utilities/src/a11y/TrapFocus.ts
  packages/utilities/src/a11y/TrapScreenReader.ts
  packages/utilities/src/a11y/focus.ts
  packages/utilities/src/a11y/index.ts
  packages/utilities/src/a11y/keyboardMode.ts
  packages/utilities/src/a11y/tests/Chain.test.ts
  packages/utilities/src/a11y/tests/TrapFocus.test.ts
  packages/utilities/src/a11y/tests/TrapScreenReader.test.ts
  packages/utilities/src/a11y/tests/focus.test.ts
  packages/utilities/src/a11y/tests/keyboardMode.test.ts
  packages/utilities/src/a11y/types.ts
  packages/utilities/src/constants/keys.ts
  packages/utilities/src/flyout/tests/__screenshots__/Flyout.test.ts/flyout-Flyout-updates-position-1.png
  packages/utilities/src/flyout/tests/__screenshots__/Flyout.test.ts/flyout-Flyout-updates-position-on-RTL-direction-change-1.png
  packages/utilities/src/flyout/types.ts
  packages/utilities/src/index.ts
  packages/utilities/src/internal.ts
  packages/utilities/tsconfig.json
Due: eslint

chore: build
  packages/utilities/src/a11y/tests/TrapFocus.test.ts
  packages/utilities/tsconfig.json
Due: eslint

chore: build
  packages/reshaped/tsconfig.esm.json
  packages/utilities/tsconfig.json
Due: none

feat(TrapFocus): moved to utilities (#564)
  .changeset/sweet-planets-marry.md
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/components/Tabs/TabsPanel.tsx
  packages/reshaped/src/components/Toast/ToastContainer.tsx
  packages/reshaped/src/components/Toast/ToastRegion.tsx
  packages/reshaped/src/hooks/_private/useSingletonKeyboardMode.tsx
  packages/reshaped/src/hooks/useKeyboardArrowNavigation.tsx
  packages/reshaped/src/index.ts
  packages/reshaped/src/utilities/a11y/tests/TrapFocus.stories.tsx
  packages/reshaped/src/utilities/tests/Chain.test.ts
  packages/reshaped/src/utilities/tests/__snapshots__/Chain.test.ts.snap
  packages/reshaped/tsconfig.esm.json
  packages/utilities/package.json
  packages/utilities/src/a11y/Chain.ts
  packages/utilities/src/a11y/TrapFocus.ts
  packages/utilities/src/a11y/TrapScreenReader.ts
  packages/utilities/src/a11y/focus.ts
  packages/utilities/src/a11y/index.ts
  packages/utilities/src/a11y/keyboardMode.ts
  packages/utilities/src/a11y/tests/Chain.test.ts
  packages/utilities/src/a11y/tests/TrapFocus.test.ts
  packages/utilities/src/a11y/tests/TrapScreenReader.test.ts
  packages/utilities/src/a11y/tests/focus.test.ts
  packages/utilities/src/a11y/tests/keyboardMode.test.ts
  packages/utilities/src/a11y/types.ts
  packages/utilities/src/constants/keys.ts
  packages/utilities/src/flyout/tests/__screenshots__/Flyout.test.ts/flyout-Flyout-updates-position-1.png
  packages/utilities/src/flyout/tests/__screenshots__/Flyout.test.ts/flyout-Flyout-updates-position-on-RTL-direction-change-1.png
  packages/utilities/src/flyout/types.ts
  packages/utilities/src/index.ts
  packages/utilities/src/internal.ts
  packages/utilities/tsconfig.json
Due: eslint

fix(slider): commit value on keyboard interactions
  packages/reshaped/src/components/Slider/SliderThumb.tsx
Due: eslint

chore: add changeset
  .changeset/silver-geese-notice.md
Due: none

feat(Overlay): add keepPositionFixed prop and update classNames logic
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/components/Overlay/Overlay.types.ts
  packages/reshaped/src/components/Overlay/tests/Overlay.stories.tsx
Due: eslint

feat(Modal): integrate keepPositionFixed prop and update related logic
  packages/reshaped/src/components/Modal/Modal.tsx
  packages/reshaped/src/components/Modal/Modal.types.ts
  packages/reshaped/src/components/Modal/tests/Modal.stories.tsx
  packages/reshaped/src/components/Overlay/tests/Overlay.stories.tsx
Due: eslint

chore: moved and cleaned-up other utilities
  packages/reshaped/src/components/Carousel/Carousel.tsx
  packages/reshaped/src/components/Slider/Slider.utilities.ts
  packages/reshaped/src/components/Slider/SliderControlled.tsx
  packages/reshaped/src/components/Tabs/TabsItem.tsx
  packages/reshaped/src/hooks/_private/useFadeSide.ts
  packages/reshaped/src/utilities/css.ts
  packages/reshaped/src/utilities/dom/event.ts
  packages/reshaped/src/utilities/dom/find.ts
  packages/reshaped/src/utilities/dom/index.ts
  packages/reshaped/src/utilities/dom/shadowDom.ts
  packages/reshaped/src/utilities/helpers.ts
  packages/utilities/src/dom/findParent.ts
  packages/utilities/src/dom/index.ts
  packages/utilities/src/dom/tests/findClosestScrollableContainer.test.ts
  packages/utilities/src/dom/tests/findParent.test.ts
  packages/utilities/src/flyout/utilities/tests/findClosestScrollableContainer.test.ts
  packages/utilities/src/internal.ts
Due: eslint

chore: make build scripts cross-platform
  bin/release-canary.sh
  bin/release.sh
  package.json
  packages/core/package.json
  packages/reshaped/bin/clean.sh
  packages/reshaped/package.json
  pnpm-lock.yaml
Due: none

fix(Slider): simplify keyboard commit detection
  packages/reshaped/src/components/Slider/SliderControlled.tsx
  packages/reshaped/src/components/Slider/SliderThumb.tsx
Due: eslint

test(Slider): add onChangeCommit test cases
  packages/reshaped/src/components/Slider/tests/Slider.stories.tsx
Due: eslint

fix(slider): trigger onChangeCommit on keyboard interaction (#566)
  .changeset/silver-geese-notice.md
  packages/reshaped/src/components/Slider/SliderControlled.tsx
  packages/reshaped/src/components/Slider/tests/Slider.stories.tsx
Due: eslint

chore: make build scripts cross-platform (#567)
  bin/release-canary.sh
  bin/release.sh
  package.json
  packages/core/package.json
  packages/reshaped/bin/clean.sh
  packages/reshaped/package.json
  pnpm-lock.yaml
Due: none

refactor(Modal, Overlay): rename keepPositionFixed to contained and update related logic
  packages/reshaped/src/components/Modal/Modal.tsx
  packages/reshaped/src/components/Modal/Modal.types.ts
  packages/reshaped/src/components/Modal/tests/Modal.stories.tsx
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/components/Overlay/Overlay.types.ts
  packages/reshaped/src/components/Overlay/tests/Overlay.stories.tsx
Due: eslint

docs: adding changeset
  .changeset/shaky-eagles-rescue.md
Due: none

chore: added utilities readme
  .changeset/config.json
  .changeset/fast-bars-learn.md
  .changeset/pre.json
  README.md
  packages/core/src/index.ts
  packages/headless/CHANGELOG.md
  packages/headless/package.json
  packages/headless/src/index.ts
  packages/headless/tsconfig.json
  packages/reshaped/src/components/Flyout/useFlyout.ts
  packages/utilities/CHANGELOG.md
  packages/utilities/README.md
  packages/utilities/src/flyout/Flyout.ts
  packages/utilities/src/flyout/tests/Flyout.test.ts
  packages/utilities/src/flyout/types.ts
  packages/utilities/src/flyout/utilities/tests/applyPosition.test.ts
  packages/utilities/src/scroll/lock.ts
Due: eslint

chore: canary release
  .changeset/pre.json
  packages/headless/CHANGELOG.md
  packages/headless/package.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

feat(Overlay/Modal): keep position fixed (#569)
  .changeset/shaky-eagles-rescue.md
  packages/reshaped/src/components/Modal/Modal.tsx
  packages/reshaped/src/components/Modal/Modal.types.ts
  packages/reshaped/src/components/Modal/tests/Modal.stories.tsx
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/components/Overlay/Overlay.types.ts
  packages/reshaped/src/components/Overlay/tests/Overlay.stories.tsx
Due: eslint

feat: headless classNames and TrapFocus
  .changeset/ready-donuts-marry.md
  packages/headless/package.json
  packages/headless/src/index.ts
  pnpm-lock.yaml
Due: eslint

Flyout: contentZIndex
  .changeset/plenty-colts-lie.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/reshaped/src/components/Autocomplete/Autocomplete.tsx
  packages/reshaped/src/components/Autocomplete/Autocomplete.types.ts
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.types.ts
  packages/reshaped/src/components/Flyout/Flyout.module.css
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/reshaped/src/components/Popover/Popover.types.ts
  packages/reshaped/src/components/Tooltip/Tooltip.types.ts
  packages/utilities/src/flyout/utilities/applyPosition.ts
  pnpm-lock.yaml
Due: eslint, stylelint

feat(Flyout): contentZIndex (#571)
  .changeset/plenty-colts-lie.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/reshaped/src/components/Autocomplete/Autocomplete.tsx
  packages/reshaped/src/components/Autocomplete/Autocomplete.types.ts
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.types.ts
  packages/reshaped/src/components/Flyout/Flyout.module.css
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/reshaped/src/components/Popover/Popover.types.ts
  packages/reshaped/src/components/Tooltip/Tooltip.types.ts
  packages/utilities/src/flyout/utilities/applyPosition.ts
  pnpm-lock.yaml
Due: eslint, stylelint

fix(Flyout): width
  .changeset/fiery-toys-cover.md
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/utilities/src/flyout/utilities/applyPosition.ts
Due: eslint

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
