Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

feat: updated shadows
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/utilities/generateColors.ts
  src/themes/figma/theme.css
  src/themes/figma/theme.json
  src/themes/fragments/twitter/theme.css
  src/themes/fragments/twitter/theme.json
  src/themes/reshaped/theme.css
  src/themes/reshaped/theme.json
  src/themes/slate/theme.css
  src/themes/slate/theme.json
Due: eslint, stylelint

feat(theming): updated radius and font weight tokens structure
  CHANGELOG.md
  src/themes/_generator/definitions/figma.ts
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/tokens/fontWeight/fontWeight.types.ts
  src/themes/_generator/tokens/radius/radius.transforms.ts
  src/themes/_generator/tokens/radius/radius.types.ts
  src/themes/_generator/tokens/transforms.ts
  src/themes/_generator/tokens/types.ts
  src/themes/_generator/tokens/unit/unit.types.ts
Due: eslint

feat(hidden): switched to display contents
  CHANGELOG.md
  src/components/Hidden/Hidden.module.css
  src/components/Hidden/Hidden.tsx
  src/components/Hidden/Hidden.types.ts
  src/components/Hidden/tests/Hidden.stories.tsx
  src/components/Hidden/tests/Hidden.test.tsx
  src/components/View/View.tsx
  src/components/View/tests/View.stories.tsx
Due: eslint, stylelint

fix: updates themes
  src/themes/_generator/utilities/generateColors.ts
  src/themes/figma/theme.css
  src/themes/figma/theme.json
  src/themes/reshaped/theme.css
  src/themes/reshaped/theme.json
  src/themes/slate/theme.css
  src/themes/slate/theme.json
  tools/storybook/preview.tsx
Due: eslint, stylelint

fix: updated radius variables naming
  src/components/Badge/Badge.module.css
  src/components/Button/Button.module.css
  src/components/Calendar/Calendar.module.css
  src/components/Checkbox/Checkbox.module.css
  src/components/Hotkey/Hotkey.module.css
  src/components/MenuItem/MenuItem.module.css
  src/components/Modal/Modal.module.css
  src/components/Popover/Popover.module.css
  src/components/Progress/Progress.module.css
  src/components/Select/Select.module.css
  src/components/Slider/Slider.module.css
  src/components/Table/Table.module.css
  src/components/Tabs/Tabs.module.css
  src/components/TextArea/TextArea.module.css
  src/components/TextField/TextField.module.css
  src/components/Toast/Toast.module.css
  src/components/Tooltip/Tooltip.module.css
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/styles/radius/radius.module.css
  src/themes/figma/theme.css
  src/utilities/storybook/Placeholder.tsx
Due: eslint, stylelint

fix: fixed repeat hotkeys
  CHANGELOG.md
  package.json
  src/components/Hidden/Hidden.tsx
  src/hooks/_private/useSingletonHotkeys.tsx
  src/hooks/tests/useHotkeys.stories.tsx
  src/hooks/tests/useHotkeys.test.tsx
  src/themes/_generator/utilities/tests/__snapshots__/generateColors.test.ts.snap
  src/themes/_generator/utilities/tests/color.test.ts
  src/themes/_generator/utilities/tests/generateColors.test.ts
  tools/jest/jest.config.ts
  tools/storybook/preview.tsx
  yarn.lock
Due: eslint

fix: backport v3 hotkeys
  src/hooks/_private/useSingletonHotkeys.tsx
  src/hooks/tests/useHotkeys.test.tsx
Due: eslint

feat: modal full-screen position
  CHANGELOG.md
  src/components/Badge/Badge.types.ts
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.types.ts
  src/components/Modal/tests/Modal.stories.tsx
Due: eslint, stylelint

v2.11.10
  package.json
Due: none

fix(Tooltip): support for optional text
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.ts
  src/components/Tooltip/tests/Tooltip.stories.tsx
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutTrigger.tsx
Due: eslint

changelog
  CHANGELOG.md
Due: none

fix(Accordion): fixed accordion content transition delay
  src/components/_private/Expandable/Expandable.module.css
  src/components/_private/Expandable/Expandable.tsx
Due: eslint, stylelint

fix(Alert): increased gap before actions when using inline layout
  CHANGELOG.md
  src/components/Alert/Alert.tsx
Due: eslint

feat(Link): added warning color
  CHANGELOG.md
  src/components/Alert/tests/Alert.stories.tsx
  src/components/Checkbox/Checkbox.module.css
  src/components/Link/Link.module.css
  src/components/Link/Link.types.ts
  src/components/Link/tests/Link.stories.tsx
Due: eslint, stylelint

fix: v3 prep
  CHANGELOG.md
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/Autocomplete.types.ts
  src/components/Autocomplete/tests/Autocomplete.test.tsx
  src/components/Badge/Badge.module.css
  src/components/Badge/Badge.tsx
  src/components/Badge/Badge.types.ts
  src/components/Badge/tests/Badge.stories.tsx
  src/components/Container/Container.tsx
  src/components/Container/Container.types.ts
  src/components/Container/tests/Container.stories.tsx
  src/components/MenuItem/MenuItem.module.css
  src/components/TextField/TextField.module.css
  src/components/Tooltip/Tooltip.types.ts
  src/components/_private/Flyout/Flyout.types.ts
  src/themes/_generator/utilities/generateColors.ts
  src/themes/figma/theme.css
  src/themes/slate/theme.css
  src/themes/slate/theme.json
Due: eslint, stylelint

fix(ScrollArea): thumb hover effects
  CHANGELOG.md
  src/components/ScrollArea/ScrollArea.module.css
Due: stylelint

initial flyout
  src/components/Alert/Alert.tsx
  src/components/Tooltip/tests/Tooltip.stories.tsx
  src/components/_private/Flyout/Flyout.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/hooks/_private/useFlyout.ts
  src/utilities/flyout/constants.ts
  src/utilities/flyout/flyout.ts
  src/utilities/flyout/position.ts
  src/utilities/flyout/types.ts
  src/utilities/flyout/utilities.ts
  tools/storybook/preview.tsx
Due: eslint

fix: removed double effect
  src/components/Slider/SliderControlled.tsx
  src/components/Slider/tests/Slider.stories.tsx
Due: eslint

fix: v3 updates
  CHANGELOG.md
  src/components/Badge/Badge.module.css
  src/components/Button/Button.module.css
  src/components/Button/Button.types.ts
  src/components/Button/tests/Button.stories.tsx
  src/components/Card/Card.module.css
  src/components/Dismissible/Dismissible.tsx
  src/components/Hotkey/tests/Hotkey.stories.tsx
  src/components/Link/Link.module.css
  src/components/Loader/Loader.module.css
  src/components/MenuItem/MenuItem.module.css
  src/components/MenuItem/tests/MenuItem.stories.tsx
  src/components/Progress/Progress.module.css
  src/components/ScrollArea/ScrollArea.module.css
  src/components/Toast/Toast.tsx
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/tokens/color/color.types.ts
  src/themes/_generator/utilities/generateColors.ts
  src/themes/figma/theme.css
  src/themes/figma/theme.json
  src/themes/reshaped/theme.css
  src/themes/reshaped/theme.json
  src/themes/slate/theme.css
  src/themes/slate/theme.json
Due: eslint, stylelint

fix: flyout responsive visibility
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/useFlyout.ts
  src/components/_private/Flyout/utilities/calculatePosition.ts
  src/utilities/flyout/constants.ts
  src/utilities/flyout/flyout.ts
  src/utilities/flyout/position.ts
  src/utilities/flyout/types.ts
  src/utilities/flyout/utilities.ts
Due: eslint

fix(Flyout): responsive visibility support
  src/components/PinField/tests/PinField.test.tsx
  src/components/Tooltip/Tooltip.types.ts
  src/components/Tooltip/tests/Tooltip.stories.tsx
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/useFlyout.ts
  tools/storybook/preview.tsx
Due: eslint

fix(Modal): autofocus and aialabel support
  .eslintrc.json
  CHANGELOG.md
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Overlay/Overlay.tsx
  src/utilities/a11y/TrapFocus.ts
Due: eslint, stylelint

v2.11.11
  package.json
Due: none

fix(Flyout): fixed submenu animation
  src/components/Tooltip/tests/Tooltip.stories.tsx
  src/components/_private/Flyout/Flyout.context.ts
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/FlyoutTrigger.tsx
Due: eslint

fix(PinField): edit mode on mount
  CHANGELOG.md
  src/components/PinField/PinFieldControlled.tsx
Due: eslint

pin field fix
  src/components/PinField/PinFieldControlled.tsx
Due: eslint

fix(Toast): Added translateZ
  src/components/Toast/Toast.module.css
Due: stylelint

fix types
  src/components/_private/Flyout/FlyoutControlled.tsx
Due: eslint

testing v3
  bin/cli.js
  bin/format-cjs-build.js
  package.json
  src/.DS_Store
  src/components/Calendar/Calendar.module.css
  src/components/Carousel/CarouselControl.tsx
  src/components/Modal/Modal.tsx
  src/themes/index.ts
  tools/build/postcss.config.mjs
  tools/build/postcss.responsive.mjs
  tsconfig.cjs.json
  yarn.lock
Due: eslint, stylelint

fix: removed logs
  src/components/Modal/Modal.tsx
  src/components/Overlay/Overlay.tsx
Due: eslint

v2.11.12
  package.json
Due: none

feat: fluid typography
  CHANGELOG.md
  src/components/Alert/Alert.module.css
  src/components/Alert/Alert.tsx
  src/components/Button/Button.module.css
  src/components/Checkbox/Checkbox.module.css
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Overlay/Overlay.module.css
  src/components/Overlay/Overlay.tsx
  src/components/Overlay/Overlay.types.ts
  src/components/Overlay/tests/Overlay.test.tsx
  src/components/Progress/Progress.module.css
  src/components/Progress/Progress.types.ts
  src/components/Progress/tests/Progress.stories.tsx
  src/components/Radio/Radio.module.css
  src/components/Reshaped/Reshaped.css
  src/components/Slider/SliderControlled.tsx
  src/themes/_generator/tokens/font/font.transforms.ts
  src/themes/figma/theme.css
  src/themes/reshaped/theme.css
  src/themes/slate/theme.css
  src/utilities/a11y/TrapFocus.ts
  tools/build/postcss.config.js
  tools/build/postcss.config.mjs
  tools/build/postcss.responsive.js
  tools/storybook/postcss.config.js
Due: eslint, stylelint

fix: theming
  CHANGELOG.md
  src/components/Reshaped/Reshaped.css
  src/components/Theme/Theme.context.ts
  src/components/Theme/Theme.tsx
  src/components/Theme/Theme.types.ts
  src/components/Theme/tests/Theme.test.tsx
  src/components/Theme/useTheme.ts
  src/themes/_generator/tokens/font/font.transforms.ts
  src/themes/figma/theme.css
  src/themes/reshaped/theme.css
  src/themes/slate/theme.css
  src/utilities/dom.ts
  tools/storybook/preview.tsx
Due: eslint, stylelint

fix: vrt
  src/components/Reshaped/Reshaped.css
  src/components/Tooltip/tests/Tooltip.stories.tsx
Due: eslint, stylelint

v3.0.0
  package.json
Due: none

chore: updated tsconfig
  src/cli/theming/reshaped.config.ts
  src/components/Badge/Badge.tsx
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/Carousel/tests/Carousel.stories.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/Link/Link.tsx
  src/components/Loader/tests/Loader.stories.tsx
  src/components/MenuItem/MenuItem.tsx
  src/components/Overlay/Overlay.tsx
  src/components/Reshaped/Reshaped.css
  src/components/Select/Select.types.ts
  src/components/Tabs/TabsItem.tsx
  src/components/TextArea/TextArea.types.ts
  src/components/Toast/Toast.tsx
  src/components/View/View.tsx
  src/components/View/tests/View.stories.tsx
  src/config/tailwind.ts
  src/hooks/tests/useResponsiveClientValue.stories.tsx
  src/themes/_generator/constants.ts
  src/themes/_generator/definitions/figma.ts
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/definitions/slate.ts
  src/themes/_generator/types.ts
  src/themes/_generator/utilities/generateUnits.ts
  src/types/config.ts
  tsconfig.cjs.json
  tsconfig.json
Due: eslint, stylelint

v3.0.1
  package.json
Due: none

feat(Slider): vertical direction support
  src/components/Slider/Slider.module.css
  src/components/Slider/Slider.types.ts
  src/components/Slider/Slider.utilities.ts
  src/components/Slider/SliderControlled.tsx
  src/components/Slider/SliderThumb.tsx
  src/components/Slider/tests/Slider.stories.tsx
Due: eslint, stylelint

fix(Modal): added attributes.ref support
  CHANGELOG.md
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/tests/Modal.test.tsx
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
