Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{ts,tsx}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}

prepare-commit-msg:
  commands:
    "review commit method":
      run: |
        COMMIT_MSG_FILE="$1"

        if [ ! -s "$COMMIT_MSG_FILE" ]; then
          exit 0
        fi

        if [ -z "$ALLOW_COMMIT" ]; then
          echo "ðŸš« Use 'yarn commit' instead of 'git commit'."
          exit 1
        fi

commit-msg:
  commands:
    "lint commit message":
      run: npx commitlint --color --edit {1}

fix(Flyout): fallbackMinHeight calc (#535)
  .changeset/eighty-jars-knock.md
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Flyout/useFlyout.ts
  src/components/Flyout/utilities/calculatePosition.ts
  src/components/Flyout/utilities/constants.ts
  src/components/Flyout/utilities/flyout.ts
  src/components/Flyout/utilities/isFullyVisible.ts
Due: eslint

chore: canary release
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: none

fix(Flyout): fallbackAdjustLayout exclude horizontal scrolling
  .changeset/yellow-items-stick.md
  src/components/ContextMenu/tests/ContextMenu.stories.tsx
  src/components/Flyout/utilities/calculatePosition.ts
Due: eslint

fix(Flyout): height recalculations for full width flyouts
  src/components/Flyout/utilities/flyout.ts
Due: eslint

fix(Flyout): submenu close
  .changeset/shiny-monkeys-study.md
  src/components/Flyout/FlyoutControlled.tsx
Due: eslint

chore: enable turbosnap
  .storybook/main.ts
  package.json
Due: eslint

test: updated select tests
  src/components/ContextMenu/tests/ContextMenu.stories.tsx
  src/components/Flyout/utilities/flyout.ts
  src/components/Select/tests/Select.stories.tsx
Due: eslint

fix: better tagName types
  .changeset/petite-plums-help.md
  src/components/Card/Card.types.ts
  src/components/Grid/Grid.types.ts
  src/components/Text/Text.tsx
  src/components/Text/Text.types.ts
  src/components/View/View.types.ts
  src/types/global.ts
Due: eslint

fix: better tagName types (#536)
  .changeset/petite-plums-help.md
  src/components/Card/Card.types.ts
  src/components/Grid/Grid.types.ts
  src/components/Text/Text.tsx
  src/components/Text/Text.types.ts
  src/components/View/View.types.ts
  src/types/global.ts
Due: eslint

chore: chromatic ci
  .github/workflows/chromatic.yml
Due: none

chore: chromatic c
  .github/workflows/chromatic.yml
Due: none

chore: chromatic ci (#537)
  .github/workflows/chromatic.yml
Due: none

chore: manual ci chromatic
  .github/workflows/chromatic.yml
Due: none

chore: chromatic
  .github/workflows/chromatic.yml
Due: none

chore: chromatic ci (#538)
  .github/workflows/chromatic.yml
Due: none

chore: chromatic reviewers
  .github/workflows/chromatic.yml
Due: none

chore: chromatic (#539)
  .github/workflows/chromatic.yml
Due: none

chore: monorepo
  .changeset/easy-crews-knock.md
  .storybook/postcss.config.mjs
  .stylelintignore
  package.json
  packages/reshaped/package.json
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/fragments/twitter/theme.css
  packages/reshaped/src/themes/reshaped/theme.css
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/tools/build/postcss.config.mjs
  pnpm-lock.yaml
Due: stylelint

chore: update ci
  .github/workflows/pull-request.yml
Due: none

chore: update ci
  package.json
  packages/reshaped/package.json
Due: none

feat(Flyout): safe area
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/FlyoutSafeArea.tsx
  packages/reshaped/src/components/Flyout/utilities/getSafeAreaPolygon.ts
Due: eslint

fix(Flyout): hover submeny timer
  .changeset/dark-coins-sneeze.md
  packages/reshaped/src/components/Flyout/Flyout.constants.ts
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
Due: eslint

fix(Flyout): hover submenu timer (#542)
  .changeset/dark-coins-sneeze.md
  packages/reshaped/src/components/Flyout/Flyout.constants.ts
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
Due: eslint

chore: canary release
  .changeset/pre.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
Due: none

chore: storybook alpha
  .storybook/main.ts
  .storybook/preview.jsx
  .storybook/vitest.setup.ts
  package.json
  packages/reshaped/package.json
  pnpm-lock.yaml
Due: eslint

chore: build
  package.json
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/fragments/twitter/theme.css
  packages/reshaped/src/themes/reshaped/theme.css
  packages/reshaped/src/themes/slate/theme.css
  pnpm-lock.yaml
Due: stylelint

chore: canary release
  .changeset/pre.json
Due: none

chore: changeset
  .changeset/chilly-snakes-flash.md
Due: none

fix: css reset dvh
  .changeset/red-phones-check.md
  packages/reshaped/src/components/Reshaped/Reshaped.css
Due: stylelint

fix(Flyout): passed width
  packages/reshaped/src/components/Calendar/Calendar.module.css
  packages/reshaped/src/components/Flyout/utilities/flyout.ts
Due: eslint, stylelint

chore: log
  packages/reshaped/src/components/Flyout/utilities/flyout.ts
Due: eslint

chore: changeset
  .changeset/yummy-insects-stare.md
Due: none
