Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

fix(Table, FormControl): small and RSC fixes
  CHANGELOG.md
  reshaped-test-2.10.0-1.tgz
  reshaped-test-2.10.0-2.tgz
  src/components/FormControl/FormControl.client.tsx
  src/components/FormControl/FormControl.tsx
  src/components/FormControl/FormControl.utilities.ts
  src/components/FormControl/FormControlCaption.tsx
  src/components/FormControl/FormControlError.tsx
  src/components/FormControl/FormControlHelper.tsx
  src/components/FormControl/FormControlLabel.tsx
  src/components/Table/Table.module.css
  src/components/Table/Table.tsx
  src/components/Table/Table.types.ts
  src/components/Table/tests/Table.stories.tsx
Due: eslint, stylelint

feat(Button,MenuItem): added as property support for nested buttons
  CHANGELOG.md
  src/components/Actionable/tests/Actionable.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
  src/components/FormControl/FormControl.tsx
  src/components/FormControl/tests/FormControl.test.tsx
  src/components/MenuItem/MenuItem.tsx
  src/components/MenuItem/MenuItem.types.ts
Due: eslint

feat(Expandable): switched to css transitions
  CHANGELOG.md
  reshaped-test-2.10.0-1.tgz
  reshaped-test-2.10.0-2.tgz
  src/components/Table/Table.tsx
  src/components/_private/Expandable/Expandable.module.css
  src/components/_private/Expandable/Expandable.tsx
Due: eslint, stylelint

fix: pre-release updates
  CHANGELOG.md
  src/components/FormControl/tests/FormControl.test.tsx
  src/components/Pagination/PaginationControlled.tsx
  src/index.ts
Due: eslint

v2.10.0
  package.json
Due: none

fix(Expandable): fixed animation duration
  CHANGELOG.md
  src/components/_private/Expandable/Expandable.module.css
Due: stylelint

v2.10.1
  package.json
Due: none

fix: removed global css reset layer
  src/components/Reshaped/Reshaped.css
Due: stylelint

v2.10.2
  package.json
Due: none

feat(Breadcrumbs): added a disableExpand flag
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Breadcrumbs/Breadcrumbs.types.ts
  src/components/Breadcrumbs/tests/Breadcrumbs.stories.tsx
  src/components/Breadcrumbs/tests/Breadcrumbs.test.tsx
Due: eslint

v2.10.3
  package.json
Due: none

fix(FormControl): fixed import paths for Remix Vite setup
  src/components/FormControl/FormControl.tsx
  src/components/FormControl/FormControlClient.tsx
Due: eslint

v2.10.4
  package.json
Due: none

fix(View): fixed divided flag compatibility with React Fragments
  CHANGELOG.md
  src/components/View/View.tsx
  src/components/View/tests/View.stories.tsx
Due: eslint

v2.10.5
  package.json
Due: none

docs(View): updated divided examples
  src/components/View/tests/View.stories.tsx
Due: eslint

feat(Toast): added support for toast render boundaries
  CHANGELOG.md
  src/components/DropdownMenu/tests/__snapshots__/DropdownMenu.test.tsx.snap
  src/components/Modal/tests/__snapshots__/Modal.test.tsx.snap
  src/components/Toast/Toast.constants.ts
  src/components/Toast/Toast.module.css
  src/components/Toast/Toast.types.ts
  src/components/Toast/ToastProvider.tsx
  src/components/Toast/ToastRegion.tsx
  src/components/Toast/tests/Toast.stories.tsx
  src/components/Toast/tests/Toast.test.tsx
  src/components/Toast/useToast.ts
  src/index.ts
Due: eslint, stylelint

v2.10.6
  package.json
Due: none

fix(DropdownMenu): fixed double enter press handling
  CHANGELOG.md
  src/components/Actionable/Actionable.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
  src/hooks/_private/useSingletonHotkeys.tsx
Due: eslint

v2.10.7
  package.json
Due: none

fix(Slider): float value support
  CHANGELOG.md
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/Slider/Slider.module.css
  src/components/Slider/Slider.types.ts
  src/components/Slider/Slider.utilities.ts
  src/components/Slider/SliderControlled.tsx
  src/components/Slider/SliderThumb.tsx
  src/components/Slider/tests/Slider.stories.tsx
  src/components/Slider/tests/Slider.test.tsx
  src/hooks/tests/useHotkeys.stories.tsx
  src/hooks/useHotkeys.ts
Due: eslint, stylelint

fix: typo
  src/components/Slider/SliderControlled.tsx
Due: eslint

v2.10.8
  package.json
Due: none

feat(Modal): added overlayClassName support
  CHANGELOG.md
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/tests/Modal.test.tsx
Due: eslint

v2.10.9
  package.json
Due: none

fix(Tabs): fixed animation transition
  src/components/Tabs/Tabs.module.css
Due: stylelint

feat(PinField): initial commit
  CHANGELOG.md
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Calendar/useCalendarKeyboardNavigation.ts
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/FormControl/FormControl.context.ts
  src/components/PinField/PinField.constants.ts
  src/components/PinField/PinField.module.css
  src/components/PinField/PinField.tsx
  src/components/PinField/PinField.types.ts
  src/components/PinField/PinFieldControlled.tsx
  src/components/PinField/PinFieldUncontrolled.tsx
  src/components/PinField/index.ts
  src/components/PinField/tests/PinField.stories.tsx
  src/components/PinField/tests/PinField.test.tsx
  src/hooks/_private/tests/useSingletonEnvironment.test.tsx
  src/hooks/_private/useSingletonHotkeys.tsx
  src/hooks/tests/useHotkeys.test.tsx
  src/hooks/useHotkeys.ts
  src/index.ts
Due: eslint, stylelint

v2.10.10
  package.json
Due: none

fix(Actionable): form submission
  src/components/Actionable/Actionable.tsx
  src/components/Actionable/tests/Actionable.stories.tsx
Due: eslint

docs: changelog
  CHANGELOG.md
Due: none

v2.10.11
  package.json
Due: none

v2.10.12
  package.json
Due: none

chore: updated npm package license
  bin/release-source.sh
  package.json
Due: none

v2.10.13
  package.json
Due: none

fix: component style fixes
  CHANGELOG.md
  src/components/Badge/Badge.types.ts
  src/components/Calendar/CalendarMonth.tsx
  src/components/Card/Card.module.css
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/tests/Tabs.stories.tsx
  src/components/TextField/TextField.module.css
  src/components/TextField/tests/TextField.stories.tsx
  src/components/View/View.module.css
  src/styles/padding/padding.module.css
Due: eslint, stylelint

v2.10.14
  package.json
Due: none

fix: small fixes
  CHANGELOG.md
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Pagination/Pagination.module.css
  src/components/Pagination/PaginationControlled.tsx
  src/components/Table/Table.module.css
  src/components/Table/Table.tsx
  src/components/Table/tests/Table.stories.tsx
  src/components/Tabs/TabsItem.tsx
Due: eslint, stylelint

refactor: refactored a11y utilities
  src/components/Actionable/Actionable.tsx
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Overlay/Overlay.tsx
  src/components/Tabs/TabsList.tsx
  src/components/Toast/ToastContainer.tsx
  src/components/Toast/ToastRegion.tsx
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/constants/attributes.ts
  src/hooks/_private/useSingletonKeyboardMode.ts
  src/utilities/a11y.ts
  src/utilities/a11y/TrapFocus.ts
  src/utilities/a11y/TrapScreenReader.ts
  src/utilities/a11y/focus.ts
  src/utilities/a11y/keyboardMode.ts
  src/utilities/a11y/types.ts
Due: eslint

chore: updated commitlint
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
