Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

chore: updated storybook
  package.json
  pnpm-lock.yaml
Due: none

chore: updated dependencies
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: eslint

chore: downgrade vite-tsconfig-paths
  package.json
  pnpm-lock.yaml
Due: none

chore: extracted unstyled actionable (#554)
  package.json
  packages/reshaped/src/components/Actionable/Actionable.tsx
  packages/reshaped/src/components/Actionable/Actionable.types.ts
  packages/reshaped/src/components/Actionable/index.ts
  packages/reshaped/src/components/Badge/tests/Badge.stories.tsx
  packages/reshaped/src/core/Actionable/Actionable.tsx
  packages/reshaped/src/core/Actionable/Actionable.types.ts
  packages/reshaped/src/core/Actionable/index.ts
  pnpm-lock.yaml
Due: eslint

chore: updated dependencies
  pnpm-lock.yaml
Due: none

feat: flyout package utilities
  package.json
  packages/flyout/CHANGELOG.md
  packages/flyout/package.json
  packages/flyout/src/constants.ts
  packages/flyout/src/index.ts
  packages/flyout/src/types.ts
  packages/flyout/src/utilities/centerBySize.ts
  packages/flyout/src/utilities/getPositionFallbacks.ts
  packages/flyout/src/utilities/getRTLPosition.ts
  packages/flyout/src/utilities/isFullyVisible.ts
  packages/flyout/src/utilities/tests/centerBySize.test.ts
  packages/flyout/src/utilities/tests/getPositionFallbacks.test.ts
  packages/flyout/src/utilities/tests/getRTLPosition.test.ts
  packages/flyout/src/utilities/tests/isFullyVisible.test.ts
  packages/flyout/tsconfig.json
  packages/flyout/vite.config.mjs
  packages/flyout/vitest.config.mjs
  packages/reshaped/vitest.config.mjs
Due: eslint

feat: flyout to utilities
  .changeset/easy-pots-sneeze.md
  packages/flyout/src/constants.ts
  packages/flyout/src/index.ts
  packages/flyout/src/types.ts
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/useFlyout.ts
  packages/reshaped/src/components/Flyout/utilities/flyout.ts
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/utilities/src/dom/getShadowRoot.ts
  packages/utilities/src/flyout/Flyout.ts
  packages/utilities/src/flyout/constants.ts
  packages/utilities/src/flyout/index.ts
  packages/utilities/src/flyout/types.ts
  packages/utilities/src/flyout/utilities/applyPosition.ts
  packages/utilities/src/flyout/utilities/calculatePosition.ts
  packages/utilities/src/flyout/utilities/centerBySize.ts
  packages/utilities/src/flyout/utilities/findClosestFixedContainer.tsx
  packages/utilities/src/flyout/utilities/findClosestScrollableContainer.ts
  packages/utilities/src/flyout/utilities/getPositionFallbacks.ts
  packages/utilities/src/flyout/utilities/getRTLPosition.ts
  packages/utilities/src/flyout/utilities/getRectFromCoordinates.ts
  packages/utilities/src/flyout/utilities/isFullyVisible.ts
  packages/utilities/src/flyout/utilities/tests/centerBySize.test.ts
  packages/utilities/src/flyout/utilities/tests/findClosestFixedContainer.test.ts
  packages/utilities/src/flyout/utilities/tests/findClosestScrollableContainer.test.ts
  packages/utilities/src/flyout/utilities/tests/getPositionFallbacks.test.ts
  packages/utilities/src/flyout/utilities/tests/getRTLPosition.test.ts
  packages/utilities/src/flyout/utilities/tests/isFullyVisible.test.ts
  packages/utilities/src/helpers/rafThrottle.ts
  packages/utilities/src/helpers/test/rafThrottle.test.ts
  packages/utilities/src/i18n/isRTL.ts
  packages/utilities/src/i18n/test/isRTL.test.ts
  packages/utilities/src/index.ts
  packages/utilities/tsconfig.json
  packages/utilities/vite.config.mjs
  packages/utilities/vitest.config.mjs
  pnpm-lock.yaml
Due: eslint

feat: moved useFlyout to Flyout utility
  packages/reshaped/package.json
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/useFlyout.ts
  packages/reshaped/src/components/Flyout/utilities/calculatePosition.ts
  packages/reshaped/src/components/Flyout/utilities/constants.ts
  packages/reshaped/src/components/Flyout/utilities/flyout.ts
  packages/reshaped/src/components/Flyout/utilities/getPositionFallbacks.ts
  packages/reshaped/src/components/Flyout/utilities/helpers.ts
  packages/reshaped/src/components/Flyout/utilities/isFullyVisible.ts
  packages/utilities/package.json
  packages/utilities/src/flyout/Flyout.ts
  packages/utilities/src/flyout/types.ts
  packages/utilities/src/flyout/utilities/applyPosition.ts
  packages/utilities/src/flyout/utilities/calculatePosition.ts
  packages/utilities/tsconfig.json
  pnpm-lock.yaml
Due: eslint

fix: updated flyout
  .storybook/preview.jsx
  package.json
  packages/reshaped/package.json
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/useFlyout.ts
  packages/reshaped/src/utilities/dom/flyout.ts
  packages/reshaped/src/utilities/dom/index.ts
  packages/utilities/src/flyout/Flyout.ts
  packages/utilities/src/flyout/utilities/applyPosition.ts
  packages/utilities/src/flyout/utilities/calculatePosition.ts
Due: eslint

fix: flyout scroll
  packages/reshaped/src/components/Flyout/Flyout.module.css
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/reshaped/src/components/Flyout/useFlyout.ts
  packages/reshaped/src/hooks/useOnClickOutside.ts
  packages/utilities/src/flyout/Flyout.ts
  packages/utilities/src/flyout/utilities/applyPosition.ts
  packages/utilities/src/flyout/utilities/calculatePosition.ts
Due: eslint, stylelint

fix: flyout scroll position
  eslint.config.mjs
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/FlyoutTrigger.tsx
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/reshaped/src/components/Flyout/useFlyout.ts
  packages/utilities/src/flyout/utilities/applyPosition.ts
  packages/utilities/src/flyout/utilities/calculatePosition.ts
Due: eslint

chore: lint comments
  packages/reshaped/src/components/Accordion/AccordionControlled.tsx
  packages/reshaped/src/components/Carousel/Carousel.tsx
  packages/reshaped/src/components/Select/SelectCustomControlled.tsx
  packages/reshaped/src/components/Tabs/TabsControlled.tsx
  packages/reshaped/src/components/Toast/ToastContainer.tsx
  packages/reshaped/src/components/_private/Expandable/Expandable.tsx
  packages/reshaped/src/components/_private/Portal/Portal.tsx
  packages/reshaped/src/core/Actionable/Actionable.tsx
  packages/reshaped/src/hooks/_private/usePrevious.ts
Due: eslint

fix: position update
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/useFlyout.ts
  packages/utilities/src/flyout/Flyout.ts
  packages/utilities/src/flyout/types.ts
  packages/utilities/src/flyout/utilities/applyPosition.ts
Due: eslint

test: added more flyout tests
  packages/utilities/src/flyout/tests/Flyout.test.ts
  packages/utilities/src/flyout/tests/__screenshots__/Flyout.test.ts/flyout-Flyout-updates-position-1.png
  packages/utilities/src/flyout/tests/__screenshots__/Flyout.test.ts/flyout-Flyout-updates-position-on-RTL-direction-change-1.png
  packages/utilities/src/flyout/utilities/tests/applyPosition.test.ts
  packages/utilities/src/flyout/utilities/tests/calculatePosition.test.ts
  packages/utilities/src/helpers/tests/rafThrottle.test.ts
  packages/utilities/src/i18n/tests/isRTL.test.ts
Due: eslint

fix: flyout resize handling
  packages/utilities/src/flyout/Flyout.ts
Due: eslint

fix: flyout safe area
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/FlyoutTrigger.tsx
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/reshaped/src/components/Flyout/utilities/safeArea.ts
  packages/reshaped/src/utilities/a11y/TrapFocus.ts
Due: eslint

test: update stories
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
Due: eslint

chore: parallel dev
  .storybook/preview.jsx
  package.json
  packages/core/package.json
  packages/utilities/package.json
  packages/utilities/tsconfig.json
  pnpm-lock.yaml
Due: none

chore: updated scripts
  package.json
Due: none

chore: test setup
  .github/workflows/pull-request.yml
Due: none

chore: test
  .github/workflows/pull-request.yml
  package.json
  packages/utilities/package.json
Due: none

chore: ci
  .github/workflows/pull-request.yml
Due: none

test: fixed tests
  packages/reshaped/src/utilities/a11y/TrapFocus.ts
Due: eslint

fix(Calendar): fixed month matching
  packages/reshaped/src/components/Calendar/Calendar.utils.ts
Due: eslint

fix(Select): support native optgroup elements
  .changeset/chubby-yaks-shave.md
  packages/reshaped/src/components/Select/Select.tsx
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
Due: eslint

fix(Actionable): router link types matching
  .changeset/hip-planets-tap.md
  packages/reshaped/src/core/Actionable/Actionable.tsx
  packages/reshaped/src/core/Actionable/Actionable.types.ts
Due: eslint

fix(Actionable): router link types matching (#562)
  .changeset/hip-planets-tap.md
  packages/reshaped/src/core/Actionable/Actionable.tsx
  packages/reshaped/src/core/Actionable/Actionable.types.ts
Due: eslint

fix(Select): support native optgroup elements (#561)
  .changeset/chubby-yaks-shave.md
  packages/reshaped/src/components/Select/Select.tsx
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
Due: eslint

chore: canary release
  .changeset/pre.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

chore: canary release
  .changeset/pre.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
Due: none

chore: canary release
  .changeset/pre.json
Due: none

chore: sync version
  packages/utilities/package.json
Due: none

feat(Flyout): utility
  .changeset/thirty-rings-tickle.md
Due: none

chore: version sync
  .changeset/pre.json
Due: none

chore: changesets
  .changeset/config.json
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
