Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx,vue}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}
# commit-msg:
#   commands:
#     "lint commit message":
#       run: npx commitlint --color --edit {1}

Reverted color mode effect
  src/components/Theme/GlobalColorMode.tsx
Due: eslint

v2.5.2
  package.json
Due: none

Updated text field and select gaps
  src/components/Select/Select.module.css
  src/components/TextField/TextField.module.css
Due: stylelint

v2.5.3
  package.json
Due: none

fix(Themes): improved baseThemeDefiniion typings
  .czrc
  commitlint.config.ts
  lefthook.yml
  package.json
  src/themes/index.ts
  yarn.lock
Due: eslint

chore: remove commitlint file from tsconfig
  .eslintignore
  commitlint.config.ts
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
Due: eslint

chore: added semantic-release
  package.json
  release.config.js
  yarn.lock
Due: eslint

chore(global): publish
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  bbcf984fd1fc790fb6165e7f37ce11b4625695e8
Due: none

chore: updated release setup
  CHANGELOG.md
  package.json
  release.config.js
Due: eslint

chore: publish
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  440620409c7f639d027a882c708b172ce9a4901a
Due: none

fix(Toast): removed logs
  src/components/DropdownMenu/tests/__snapshots__/DropdownMenu.test.tsx.snap
  src/components/Toast/ToastProvider.tsx
Due: eslint

fix(Flyout): added support for automatic positioning inside position: fixed parent
  src/components/_private/Flyout/Flyout.module.css
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/hooks/_private/useFlyout.ts
  src/utilities/dom.ts
Due: eslint, stylelint

Notes added by 'git notes add'
  4b16d63c50fa10ebaa13c059a536fd95d1b049fe
Due: none

fix(Popover): fixed default render styles and improved transition for trigger width
  src/components/_private/Flyout/Flyout.module.css
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/hooks/_private/useFlyout.ts
Due: eslint, stylelint

Notes added by 'git notes add'
  6e64aff2b53381b024d81817bec47aede8a3fe94
Due: none

fix(Select): fixed custom trigger start padding when used without slots
  src/components/Select/Select.module.css
Due: stylelint

Notes added by 'git notes add'
  fa85a389d7f3ac2189c5e9a68ac7a6776def710d
Due: none

fix(Themes): added a way control individual "on" colors to fix themes with non-gray foreground color
  src/themes/_generator/tests/themes.stories.tsx
  src/themes/_generator/tokens/types.ts
  src/themes/_generator/utilities/generateBackgroundColors.ts
  src/themes/index.ts
  src/types/config.ts
Due: eslint

fix(Breadcrumbs): fixed breadcrumbs rendering when used in RSC
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Breadcrumbs/BreadcrumbsItem.tsx
  src/components/Breadcrumbs/index.ts
Due: eslint

chore: reverted size-limit renovate
  package.json
  yarn.lock
Due: none

build: fixed build errors
  src/components/Breadcrumbs/index.ts
  src/types/config.ts
Due: eslint

Notes added by 'git notes add'
  d9a657a8c29c45f1e183b53b7537bb08608b9cc9
Due: none

test(TextField): added new text field story
  src/components/TextField/tests/TextField.stories.tsx
Due: eslint

test(FileUpload): added tests
  package.json
  src/components/Divider/tests/Divider.test.tsx
  src/components/FileUpload/FileUpload.module.css
  src/components/FileUpload/FileUpload.tsx
  src/components/FileUpload/FileUpload.types.ts
  src/components/FileUpload/index.ts
  src/components/FileUpload/tests/FileUpload.stories.tsx
  src/components/FileUpload/tests/FileUpload.test.tsx
  src/components/HiddenVisually/HiddenVisually.module.css
  src/components/View/View.module.css
  src/index.ts
  yarn.lock
Due: eslint, stylelint

feat: minor version bump
  package.json
Due: none

chore: updated release process
  package.json
  reshaped-source-v2.5.9.zip
Due: none

v2.6.0
  package.json
Due: none

ci: added github actions setup
  .github/workflows/pull-request.yml
  CHANGELOG.md
Due: none

fix(Link): fixed iOS Safari currentcolor
  CHANGELOG.md
  src/components/Link/Link.module.css
Due: stylelint

v2.6.1
  package.json
Due: none

fix: gitHub requests fixes
  CHANGELOG.md
  src/components/Toast/Toast.tsx
  src/components/Toast/Toast.types.ts
  src/components/Toast/tests/Toast.test.tsx
  src/utilities/color.ts
Due: eslint

v2.6.2
  package.json
Due: none

feat(Calendar): new component
  src/components/Calendar/Calendar.module.css
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/Calendar.types.ts
  src/components/Calendar/Calendar.utils.ts
  src/components/Calendar/CalendarControlled.tsx
  src/components/Calendar/CalendarDate.tsx
  src/components/Calendar/CalendarMonth.tsx
  src/components/Calendar/CalendarUncontrolled.tsx
  src/components/Calendar/index.ts
  src/components/Calendar/tests/Calendar.stories.tsx
  src/index.ts
Due: eslint, stylelint
