Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx,vue}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}
# commit-msg:
#   commands:
#     "lint commit message":
#       run: npx commitlint --color --edit {1}

v3.4.2
  package.json
Due: none

feat(useOnClickOutside): moved to public library api
  CHANGELOG.md
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/hooks/tests/useOnClickOutside.stories.tsx
  src/hooks/useOnClickOutside.ts
  src/index.ts
Due: eslint

test: updated hooks stories
  src/hooks/tests/useRTL.stories.tsx
  src/hooks/tests/useScrollLock.stories.tsx
  src/hooks/useScrollLock.ts
Due: eslint

test: updated hooks tests
  .storybook/preview.tsx
  CHANGELOG.md
  src/components/Resizable/Resizable.tsx
  src/components/Resizable/Resizable.types.ts
  src/hooks/_private/useDrag.ts
  src/hooks/tests/useDrag.stories.tsx
  src/hooks/tests/useDrag.test.stories.tsx
  src/hooks/tests/useElementId.stories.tsx
  src/hooks/tests/useHandlerRef.stories.tsx
  src/hooks/tests/useHotkeys.stories.tsx
  src/hooks/tests/useHotkeys.test.stories.tsx
  src/hooks/tests/useKeyboardMode.stories.tsx
  src/hooks/tests/useOnClickOutside.stories.tsx
  src/hooks/tests/useRTL.stories.tsx
  src/hooks/tests/useResponsiveClientValue.stories.tsx
  src/hooks/tests/useScrollLock.stories.tsx
  src/hooks/tests/useToggle.stories.tsx
  src/index.ts
  src/tests/ShadowDOM.stories.tsx
  src/themes/_generator/tests/themes.stories.tsx
Due: eslint

feat(TrapFocus): exported utility
  .storybook/preview.tsx
  CHANGELOG.md
  src/components/Accordion/tests/Accordion.stories.tsx
  src/components/Actionable/tests/Actionable.stories.tsx
  src/components/Actionable/tests/Actionable.test.stories.tsx
  src/components/Container/tests/Container.stories.tsx
  src/components/Container/tests/Container.test.stories.tsx
  src/components/Dismissible/tests/Dismissible.stories.tsx
  src/components/Dismissible/tests/Dismissible.test.stories.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/FormControl/tests/FormControl.stories.tsx
  src/components/FormControl/tests/FormControl.test.stories.tsx
  src/components/Grid/tests/Grid.stories.tsx
  src/components/Grid/tests/Grid.test.stories.tsx
  src/components/Hidden/tests/Hidden.stories.tsx
  src/components/Hidden/tests/Hidden.test.stories.tsx
  src/components/HiddenVisually/tests/HiddenVisually.stories.tsx
  src/components/HiddenVisually/tests/HiddenVisually.test.stories.tsx
  src/components/Icon/tests/Icon.stories.tsx
  src/components/Icon/tests/Icon.test.stories.tsx
  src/components/Image/tests/Image.stories.tsx
  src/components/Image/tests/Image.test.stories.tsx
  src/components/Overlay/tests/Overlay.stories.tsx
  src/components/Overlay/tests/Overlay.test.stories.tsx
  src/components/Reshaped/tests/Reshaped.stories.tsx
  src/components/ScrollArea/tests/ScrollArea.stories.tsx
  src/components/ScrollArea/tests/ScrollArea.test.stories.tsx
  src/components/Text/tests/Text.stories.tsx
  src/components/Text/tests/Text.test.stories.tsx
  src/components/Theme/tests/Theme.test.stories.tsx
  src/components/View/tests/View.stories.tsx
  src/components/View/tests/View.test.stories.tsx
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/hooks/useHandlerRef.ts
  src/hooks/useOnClickOutside.ts
  src/index.ts
  src/utilities/a11y/TrapFocus.ts
  src/utilities/a11y/tests/TrapFocus.stories.tsx
  src/utilities/a11y/types.ts
Due: eslint

v3.4.3
  package.json
Due: none

fix(Icon): smaller content alignment
  CHANGELOG.md
  src/components/Icon/Icon.module.css
Due: stylelint

fix(Flyout): relaxed ref types
  src/components/_private/Flyout/Flyout.types.ts
Due: eslint

feat(Avatar): imageAttributes
  CHANGELOG.md
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/Avatar.types.ts
  src/components/Avatar/tests/Avatar.stories.tsx
  src/components/Avatar/tests/Avatar.test.stories.tsx
  src/utilities/a11y/tests/TrapFocus.stories.tsx
Due: eslint

v3.4.4
  package.json
Due: none

feat(Avatar,Image): renderImage
  CHANGELOG.md
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/Avatar.types.ts
  src/components/Avatar/tests/Avatar.stories.tsx
  src/components/Image/Image.tsx
  src/components/Image/Image.types.ts
  src/components/Image/tests/Image.stories.tsx
  src/components/Image/tests/Image.test.stories.tsx
Due: eslint

v3.4.5
  package.json
Due: none

fix(Avatar,Image): fixed type integration with Next
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/Avatar.types.ts
  src/components/Image/Image.tsx
  src/components/Image/Image.types.ts
Due: eslint

fix(DropdownMenu): trap mode
  .storybook/preview.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
Due: eslint

v3.4.6
  package.json
Due: none

fix(Autocomplete): disabled item handling and tests
  .storybook/public/logo.svg
  CHANGELOG.md
  src/Sandbox.stories.tsx
  src/components/Autocomplete/Autocomplete.module.css
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
  src/components/Autocomplete/tests/Autocomplete.test.stories.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/TextField/TextField.module.css
Due: eslint, stylelint

test(Autocomplete): fixed flaky test
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
Due: eslint

feat(Checkbox,Radio,Switch,Select): sizes alignment
  CHANGELOG.md
  src/Sandbox.stories.tsx
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
  src/components/Checkbox/Checkbox.module.css
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/Checkbox.types.ts
  src/components/Checkbox/tests/Checkbox.stories.tsx
  src/components/FormControl/FormControlLabel.tsx
  src/components/Radio/Radio.module.css
  src/components/Radio/Radio.tsx
  src/components/Radio/Radio.types.ts
  src/components/Radio/tests/Radio.stories.tsx
  src/components/Select/Select.module.css
  src/components/Select/Select.types.ts
  src/components/Select/tests/Select.stories.tsx
  src/components/Switch/Switch.module.css
  src/components/Switch/Switch.tsx
  src/components/Switch/Switch.types.ts
  src/components/Switch/tests/Switch.stories.tsx
  src/icons/ArrowUpRight.tsx
  src/icons/Checkmark.tsx
  src/icons/ChevronDown.tsx
  src/icons/ChevronLeft.tsx
  src/icons/ChevronRight.tsx
  src/icons/ChevronVertical.tsx
  src/icons/Close.tsx
  src/icons/DotsHorizontal.tsx
  src/icons/Mic.tsx
  src/icons/Zap.tsx
Due: eslint, stylelint

feat(PinField,TextField): small size
  CHANGELOG.md
  src/components/Checkbox/Checkbox.module.css
  src/components/Checkbox/Checkbox.tsx
  src/components/PinField/PinField.module.css
  src/components/PinField/PinField.types.ts
  src/components/PinField/PinFieldControlled.tsx
  src/components/PinField/tests/PinField.stories.tsx
  src/components/Radio/Radio.module.css
  src/components/Radio/Radio.tsx
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.types.ts
  src/components/TextField/tests/TextField.stories.tsx
Due: eslint, stylelint

fix(Dismissible): use client
  CHANGELOG.md
  src/components/Dismissible/Dismissible.tsx
Due: eslint

feat(NumberField): new component
  CHANGELOG.md
  src/components/NumberField/NumberField.module.css
  src/components/NumberField/NumberField.tsx
  src/components/NumberField/NumberField.types.ts
  src/components/NumberField/NumberFieldControlled.tsx
  src/components/NumberField/NumberFieldUncontrolled.tsx
  src/components/NumberField/index.ts
  src/components/NumberField/tests/NumberField.stories.tsx
  src/components/TextField/TextField.tsx
  src/components/TextField/TextField.types.ts
  src/components/TextField/index.ts
  src/icons/ChevronUp.tsx
  src/icons/Minus.tsx
  src/index.ts
Due: eslint, stylelint

fix(useScrollLock): race condition when using regular and container lock
  CHANGELOG.md
  src/hooks/tests/useScrollLock.stories.tsx
  src/utilities/scroll/lock.ts
  src/utilities/scroll/lockStandard.ts
Due: eslint

feat(NumberField): improvements
  src/Sandbox.stories.tsx
  src/components/NumberField/NumberField.module.css
  src/components/NumberField/NumberFieldControlled.tsx
  src/components/NumberField/tests/NumberField.stories.tsx
  src/components/TextField/TextField.module.css
Due: eslint, stylelint

fix(Calendar): fixed light mode colors
  src/components/Calendar/Calendar.module.css
Due: stylelint

v3.4.7
  package.json
Due: none

fix(NumberField): sizes and paddings
  src/components/NumberField/NumberField.module.css
  src/components/NumberField/NumberFieldControlled.tsx
  src/components/NumberField/tests/NumberField.stories.tsx
  src/components/TextField/TextField.module.css
Due: eslint, stylelint

fix(TextField): radius
  CHANGELOG.md
  src/components/TextField/TextField.module.css
Due: stylelint

fix(TrapFocus): trap focus API update
  src/components/Button/tests/Button.stories.tsx
  src/components/NumberField/NumberField.types.ts
  src/components/NumberField/NumberFieldControlled.tsx
  src/components/Overlay/Overlay.tsx
  src/components/Toast/ToastContainer.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/utilities/a11y/TrapFocus.ts
  src/utilities/a11y/tests/TrapFocus.stories.tsx
Due: eslint

fix: fixed forwardRef types
  src/components/Badge/Badge.types.ts
  src/components/Button/Button.types.ts
  src/components/MenuItem/MenuItem.types.ts
Due: eslint

chore: updated dependencies
  .stylelintrc
  package.json
  yarn.lock
Due: none

test: fixed a11y issues in stories
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
  src/components/NumberField/NumberFieldControlled.tsx
  src/components/NumberField/tests/NumberField.stories.tsx
Due: eslint

test: updated story tests
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
Due: eslint

chore: disable erasableSyntaxOnly
  tsconfig.json
Due: none

v3.5.0-rc.0
  package.json
Due: none

v3.5.0
  package.json
Due: none

chore: updated release scripts
  package.json
Due: none

chore: updated import order in the index file
  CHANGELOG.md
  src/index.ts
Due: eslint

feat(Flyout): made component public
  CHANGELOG.md
  src/components/Button/Button.types.ts
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/Flyout/Flyout.constants.ts
  src/components/Flyout/Flyout.context.ts
  src/components/Flyout/Flyout.module.css
  src/components/Flyout/Flyout.tsx
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutContent.tsx
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Flyout/FlyoutTrigger.tsx
  src/components/Flyout/FlyoutUncontrolled.tsx
  src/components/Flyout/index.ts
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Flyout/useFlyout.ts
  src/components/Flyout/utilities/calculatePosition.ts
  src/components/Flyout/utilities/cooldown.ts
  src/components/Flyout/utilities/getPositionFallbacks.ts
  src/components/Flyout/utilities/isFullyVisible.ts
  src/components/Popover/Popover.tsx
  src/components/Popover/Popover.types.ts
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.ts
  src/index.ts
Due: eslint, stylelint

fix(NumberField): user-select none for touch controls
  CHANGELOG.md
  src/components/NumberField/NumberField.module.css
Due: stylelint
