Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

v3.8.0-canary.7
  CHANGELOG.md
  package.json
Due: none

feat(Select): added multiple support
  src/components/Flyout/utilities/flyout.ts
  src/components/Select/Select.types.ts
  src/components/Select/SelectCustomControlled.tsx
  src/components/Select/SelectTrigger.tsx
  src/components/Select/tests/Select.stories.tsx
Due: eslint

chore(Select): fixed build
  src/components/Select/Select.types.ts
  src/components/Select/SelectCustom.tsx
  src/components/Select/SelectCustomUncontrolled.tsx
Due: eslint

test(Select): fixed failing test
  src/components/Select/SelectCustomUncontrolled.tsx
Due: eslint

test(Select): updated tests
  src/components/Select/tests/Select.stories.tsx
Due: eslint

feat(Select): added multiple support (#453)
  src/components/Flyout/utilities/flyout.ts
  src/components/Select/Select.types.ts
  src/components/Select/SelectCustom.tsx
  src/components/Select/SelectCustomControlled.tsx
  src/components/Select/SelectCustomUncontrolled.tsx
  src/components/Select/SelectTrigger.tsx
  src/components/Select/tests/Select.stories.tsx
Due: eslint

chore: updated storybook postcss config to mjs
  .storybook/postcss.config.js
Due: none

chore: storybook config to mjs
  .storybook/postcss.config.mjs
  tools/build/postcss.config.js
  tools/build/postcss.config.mjs
  tools/build/postcss.responsive.mjs
Due: none

fix(Modal, Select, TextField, TextArea): fixed mobile scrolling and border dimensions
  .vscode/settings.json
  src/Plus.stories.tsx
  src/components/Actionable/Actionable.module.css
  src/components/Badge/Badge.module.css
  src/components/Card/Card.module.css
  src/components/Carousel/Carousel.module.css
  src/components/Checkbox/Checkbox.module.css
  src/components/FileUpload/FileUpload.module.css
  src/components/Flyout/Flyout.module.css
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Popover/Popover.module.css
  src/components/Radio/Radio.module.css
  src/components/Reshaped/Reshaped.css
  src/components/ScrollArea/ScrollArea.module.css
  src/components/Select/Select.module.css
  src/components/Select/Select.types.ts
  src/components/Select/SelectCustomControlled.tsx
  src/components/Select/tests/Select.stories.tsx
  src/components/Slider/Slider.module.css
  src/components/Switch/Switch.module.css
  src/components/Table/Table.module.css
  src/components/Tabs/Tabs.module.css
  src/components/TextArea/TextArea.module.css
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.tsx
  src/components/TextField/tests/TextField.stories.tsx
  src/components/Theme/Theme.module.css
  src/utilities/scroll/disable.ts
Due: eslint, stylelint

test: fixed stories with failing tests
  src/components/Button/tests/Button.stories.tsx
  src/components/CheckboxGroup/tests/CheckboxGroup.stories.tsx
  src/components/Toast/tests/Toast.stories.tsx
Due: eslint

chore: updated storybook postcss config to mjs (#454)
  .storybook/postcss.config.js
  .storybook/postcss.config.mjs
  tools/build/postcss.config.js
  tools/build/postcss.config.mjs
  tools/build/postcss.responsive.mjs
Due: none

chore: updated stories
  src/Plus.stories.tsx
Due: eslint

fix(Modal, Select, TextField, TextArea): fixed mobile scrolling and border dimensions (#457)
  .vscode/settings.json
  src/components/Actionable/Actionable.module.css
  src/components/Badge/Badge.module.css
  src/components/Card/Card.module.css
  src/components/Carousel/Carousel.module.css
  src/components/Checkbox/Checkbox.module.css
  src/components/FileUpload/FileUpload.module.css
  src/components/Flyout/Flyout.module.css
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Popover/Popover.module.css
  src/components/Radio/Radio.module.css
  src/components/Reshaped/Reshaped.css
  src/components/ScrollArea/ScrollArea.module.css
  src/components/Select/Select.module.css
  src/components/Select/Select.types.ts
  src/components/Select/SelectCustomControlled.tsx
  src/components/Select/tests/Select.stories.tsx
  src/components/Slider/Slider.module.css
  src/components/Switch/Switch.module.css
  src/components/Table/Table.module.css
  src/components/Tabs/Tabs.module.css
  src/components/TextArea/TextArea.module.css
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.tsx
  src/components/Theme/Theme.module.css
  src/utilities/scroll/disable.ts
Due: eslint, stylelint

v3.8.0-canary.8
  CHANGELOG.md
  package.json
Due: none

chore: lint ignores while using react 18
  package.json
  pnpm-lock.yaml
  src/components/Accordion/AccordionControlled.tsx
  src/components/Actionable/Actionable.tsx
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Calendar/CalendarMonth.tsx
  src/components/Carousel/Carousel.tsx
  src/components/Flyout/FlyoutContent.tsx
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Overlay/Overlay.tsx
  src/components/Select/SelectCustomControlled.tsx
  src/components/Tabs/TabsControlled.tsx
  src/components/Toast/ToastContainer.tsx
  src/components/Toast/ToastRegion.tsx
  src/components/Toast/tests/Toast.stories.tsx
  src/components/ToggleButtonGroup/ToggleButtonGroupControlled.tsx
  src/components/View/View.tsx
  src/components/_private/Expandable/Expandable.tsx
  src/components/_private/Portal/Portal.tsx
  src/hooks/_private/usePrevious.ts
Due: eslint

fix: updated selector for variable based css utilities
  src/styles/resolvers/align/align.css
  src/styles/resolvers/aspectRatio/aspectRatio.css
  src/styles/resolvers/bleed/bleed.module.css
  src/styles/resolvers/justify/justify.css
  src/styles/resolvers/maxHeight/maxHeight.module.css
  src/styles/resolvers/maxWidth/maxWidth.module.css
  src/styles/resolvers/minHeight/minHeight.module.css
  src/styles/resolvers/minWidth/minWidth.module.css
  src/styles/resolvers/position/position.css
  src/styles/resolvers/textAlign/textAlign.css
  src/styles/resolvers/width/width.module.css
Due: stylelint

v3.8.0-canary.9
  CHANGELOG.md
  package.json
Due: none

feat(Flyout): exposed TriggerAttributes types
  src/components/Flyout/index.ts
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.ts
  src/index.ts
Due: eslint

feat(Flyout): exposed TriggerAttributes types (#458)
  src/components/Flyout/index.ts
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.ts
  src/index.ts
Due: eslint

fix(useScrollLock): fixed reset conflict when using container on ios
  package.json
  src/components/Hidden/Hidden.tsx
  src/components/Resizable/Resizable.tsx
  src/components/Select/SelectCustomControlled.tsx
  src/components/Select/SelectOption.tsx
  src/components/Select/SelectOptionGroup.tsx
  src/components/Table/Table.tsx
  src/components/Timeline/Timeline.tsx
  src/components/Toast/tests/Toast.stories.tsx
  src/components/View/View.tsx
  src/hooks/useScrollLock.ts
  src/utilities/props.ts
  src/utilities/scroll/index.ts
  src/utilities/scroll/lock.ts
  src/utilities/scroll/lockSafari.ts
Due: eslint

fix(useScrollLock): fixed reset conflict when using container on ios (#459)
  package.json
  src/components/Hidden/Hidden.tsx
  src/components/Resizable/Resizable.tsx
  src/components/Select/SelectCustomControlled.tsx
  src/components/Select/SelectOption.tsx
  src/components/Select/SelectOptionGroup.tsx
  src/components/Table/Table.tsx
  src/components/Timeline/Timeline.tsx
  src/components/Toast/tests/Toast.stories.tsx
  src/components/View/View.tsx
  src/hooks/useScrollLock.ts
  src/utilities/props.ts
  src/utilities/scroll/index.ts
  src/utilities/scroll/lock.ts
  src/utilities/scroll/lockSafari.ts
Due: eslint

v3.8.0-canary.10
  CHANGELOG.md
  package.json
Due: none

feat(Text): added low priority css reset for global styles
  src/components/Text/Text.module.css
Due: stylelint

feat(Text): added low priority css reset for global styles (#460)
  CHANGELOG.md
  package.json
  src/components/Text/Text.module.css
Due: stylelint

feat(ToggleButtonGroup): add selectedColor and color props with border coordination
  src/components/Button/Button.module.css
  src/components/ToggleButton/ToggleButtonControlled.tsx
  src/components/ToggleButtonGroup/ToggleButtonGroup.types.ts
  src/components/ToggleButtonGroup/ToggleButtonGroupControlled.tsx
  src/components/ToggleButtonGroup/tests/ToggleButtonGroup.stories.tsx
Due: eslint, stylelint

fix(useOnClickOutside): removed pointerType check blocking ios17 execution
  src/components/Modal/tests/Modal.stories.tsx
  src/hooks/useOnClickOutside.ts
Due: eslint

v3.8.0-canary.11
  CHANGELOG.md
  package.json
Due: none

feat(TextField): startSlotPadding and endSlotPadding support
  src/components/DropdownMenu/tests/DropdownMenu.test.stories.tsx
  src/components/Link/tests/Link.test.stories.tsx
  src/components/Loader/tests/Loader.test.stories.tsx
  src/components/Table/tests/Table.test.stories.tsx
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.tsx
  src/components/TextField/TextField.types.ts
  src/components/TextField/tests/TextField.stories.tsx
  src/components/TextField/tests/TextField.test.stories.tsx
  src/components/Timeline/tests/Timeline.test.stories.tsx
  src/components/Tooltip/tests/Tooltip.test.stories.tsx
Due: eslint, stylelint

feat(useKeyboardArrowNavigation): added new hook
  src/components/Tabs/TabsList.tsx
  src/components/ToggleButton/ToggleButton.types.ts
  src/components/ToggleButton/ToggleButtonControlled.tsx
  src/components/ToggleButtonGroup/ToggleButtonGroupControlled.tsx
  src/hooks/tests/useKeyboardArrowNavigation.stories.tsx
  src/hooks/useKeyboardArrowNavigation.tsx
  src/utilities/a11y/focus.ts
Due: eslint

feat(TextField): startSlotPadding and endSlotPadding support (#464)
  src/components/DropdownMenu/tests/DropdownMenu.test.stories.tsx
  src/components/Link/tests/Link.test.stories.tsx
  src/components/Loader/tests/Loader.test.stories.tsx
  src/components/Table/tests/Table.test.stories.tsx
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.tsx
  src/components/TextField/TextField.types.ts
  src/components/TextField/tests/TextField.stories.tsx
  src/components/TextField/tests/TextField.test.stories.tsx
  src/components/Timeline/tests/Timeline.test.stories.tsx
  src/components/Tooltip/tests/Tooltip.test.stories.tsx
Due: eslint, stylelint

test(useKeyboardArrowNavigation): added stories
  src/hooks/tests/useKeyboardArrowNavigation.stories.tsx
  src/hooks/useKeyboardArrowNavigation.tsx
  src/utilities/a11y/focus.ts
Due: eslint

feat(useKeyboardArrowNavigation): export
  src/index.ts
Due: eslint

fix(Text): fixed text css reset
  src/components/Text/Text.module.css
Due: stylelint

feat(ToggleButton,ToggleButtonGroup): added selectedColor
  src/components/Button/Button.module.css
  src/components/Button/tests/Button.stories.tsx
  src/components/ToggleButton/ToggleButton.types.ts
  src/components/ToggleButton/ToggleButtonControlled.tsx
  src/components/ToggleButton/tests/ToggleButton.stories.tsx
Due: eslint, stylelint

v3.8.0-canary.12
  CHANGELOG.md
  package.json
Due: none

feat(useKeyboardArrowNavigation): added new hook (#465)
  src/components/Tabs/TabsList.tsx
  src/components/ToggleButton/ToggleButton.types.ts
  src/components/ToggleButton/ToggleButtonControlled.tsx
  src/components/ToggleButtonGroup/ToggleButtonGroupControlled.tsx
  src/hooks/tests/useKeyboardArrowNavigation.stories.tsx
  src/hooks/useKeyboardArrowNavigation.tsx
  src/index.ts
  src/utilities/a11y/focus.ts
Due: eslint

feat(ToggleButton): added missing functionality
  src/components/Button/Button.module.css
  src/components/ToggleButton/ToggleButtonControlled.tsx
  src/components/ToggleButton/tests/ToggleButton.stories.tsx
  src/components/ToggleButtonGroup/ToggleButtonGroup.types.ts
  src/components/ToggleButtonGroup/ToggleButtonGroupControlled.tsx
  src/components/ToggleButtonGroup/tests/ToggleButtonGroup.stories.tsx
Due: eslint, stylelint

feat(ToggleButtonGroup): color prop support
  src/components/ToggleButton/ToggleButtonControlled.tsx
  src/components/ToggleButtonGroup/ToggleButtonGroup.types.ts
  src/components/ToggleButtonGroup/ToggleButtonGroupControlled.tsx
  src/components/ToggleButtonGroup/tests/ToggleButtonGroup.stories.tsx
Due: eslint

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
