Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

fix(Flyout): additional mouse events edge cases
  .changeset/swift-hounds-lay.md
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/utilities/safeArea.ts
  packages/reshaped/src/utilities/animation.ts
Due: eslint

chore: canary release
  .changeset/pre.json
  packages/headless/CHANGELOG.md
  packages/headless/package.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

fix(Modal): swipe gesture scroll
  .changeset/silent-laws-obey.md
  packages/reshaped/src/components/Modal/Modal.tsx
Due: eslint

chore: build order
  .changeset/metal-crabs-rest.md
  packages/reshaped/package.json
Due: none

fix(useHotkeys): prevent re-renders on every keystroke
  packages/headless/src/hooks/_internal/useSingletonHotkeys.tsx
Due: eslint

fix(useHotkeys): prevent re-renders on every keystroke (#590)
  packages/headless/src/hooks/_internal/useSingletonHotkeys.tsx
Due: eslint

feat(Overlay): portals with outside click
  .changeset/silver-badgers-invent.md
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/components/Overlay/tests/Overlay.stories.tsx
  packages/reshaped/src/components/_private/Portal/Portal.tsx
  packages/reshaped/src/components/_private/Portal/Portal.types.ts
Due: eslint

feat(Overlay): portals with outside click (#592)
  .changeset/silver-badgers-invent.md
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/components/Overlay/tests/Overlay.stories.tsx
  packages/reshaped/src/components/_private/Portal/Portal.tsx
  packages/reshaped/src/components/_private/Portal/Portal.types.ts
Due: eslint

fix(types): projects without skipLibCheck (#583)
  .changeset/small-zoos-wait.md
  packages/reshaped/package.json
  pnpm-lock.yaml
Due: none

feat(ToggleButton): selectedVariant
  .changeset/sunny-shirts-remain.md
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/ToggleButton/ToggleButton.types.ts
  packages/reshaped/src/components/ToggleButton/ToggleButtonControlled.tsx
  packages/reshaped/src/components/ToggleButton/tests/ToggleButton.stories.tsx
  packages/reshaped/src/components/ToggleButtonGroup/ToggleButtonGroup.types.ts
  packages/reshaped/src/components/ToggleButtonGroup/ToggleButtonGroupControlled.tsx
  packages/reshaped/src/components/ToggleButtonGroup/tests/ToggleButtonGroup.stories.tsx
Due: eslint, stylelint

feat(ToggleButton): selectedVariant (#593)
  .changeset/sunny-shirts-remain.md
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/ToggleButton/ToggleButton.types.ts
  packages/reshaped/src/components/ToggleButton/ToggleButtonControlled.tsx
  packages/reshaped/src/components/ToggleButton/tests/ToggleButton.stories.tsx
  packages/reshaped/src/components/ToggleButtonGroup/ToggleButtonGroup.types.ts
  packages/reshaped/src/components/ToggleButtonGroup/ToggleButtonGroupControlled.tsx
  packages/reshaped/src/components/ToggleButtonGroup/tests/ToggleButtonGroup.stories.tsx
Due: eslint, stylelint

fix: theming
  .vscode/settings.json
  bin/cli.js
  packages/reshaped/bin/cli.js
  packages/reshaped/src/hooks/_private/useSingletonViewport.tsx
  packages/theming/src/generation/definitions/slate.ts
  packages/theming/src/generation/tokens/color/color.constants.ts
  packages/theming/src/generation/tokens/color/utilities/generateMetaColors.ts
  packages/theming/src/generation/tokens/viewport/viewport.constants.ts
  packages/theming/src/index.ts
Due: eslint

Updated slate theme
  .changeset/petite-steaks-read.md
  CONTRIBUTING.md
  commitlint.config.ts
  lefthook.yml
  package.json
  packages/reshaped/src/themes/_generator/tokens/color/utilities/generateColors.ts
  packages/reshaped/src/themes/figma/tailwind.css
  packages/reshaped/src/themes/fragments/twitter/tailwind.css
  packages/reshaped/src/themes/reshaped/tailwind.css
  packages/reshaped/src/themes/slate/tailwind.css
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/reshaped/tsconfig.esm.json
  packages/reshaped/tsconfig.json
  pnpm-lock.yaml
Due: eslint, stylelint

Updated dependencies
  package.json
  packages/reshaped/package.json
  packages/reshaped/src/components/Modal/tests/Modal.stories.tsx
  packages/reshaped/src/components/Overlay/tests/Overlay.stories.tsx
  packages/reshaped/src/themes/_generator/tokens/color/utilities/tests/__snapshots__/generateColors.test.ts.snap
  pnpm-lock.yaml
Due: eslint

Updated build
  packages/reshaped/src/components/Autocomplete/Autocomplete.tsx
  packages/reshaped/src/components/Autocomplete/Autocomplete.types.ts
  packages/reshaped/src/components/PinField/PinFieldControlled.tsx
Due: eslint

postcss-custom-media fix
  .changeset/sunny-poems-hunt.md
  packages/reshaped/package.json
  pnpm-lock.yaml
Due: none

updated deps
  packages/reshaped/package.json
  pnpm-lock.yaml
Due: none

chore: release
  .changeset/sunny-poems-hunt.md
  packages/headless/CHANGELOG.md
  packages/headless/package.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

Flyout: timeout fix
  .changeset/whole-regions-hammer.md
  packages/reshaped/src/components/Flyout/utilities/safeArea.ts
Due: eslint

chore: release
  .changeset/whole-regions-hammer.md
  packages/headless/CHANGELOG.md
  packages/headless/package.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

token values, naming and structure updates
  packages/reshaped/src/themes/figma/tailwind.css
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/figma/theme.json
  packages/reshaped/src/themes/fragments/twitter/tailwind.css
  packages/reshaped/src/themes/slate/tailwind.css
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/definitions/figma.ts
  packages/theming/src/generation/definitions/slate.ts
  packages/theming/src/generation/tokens/font/font.types.ts
  packages/theming/src/generation/tokens/fontFamily/fontFamily.types.ts
  packages/theming/src/generation/tokens/shadow/shadow.transforms.ts
  packages/theming/src/generation/tokens/shadow/shadow.types.ts
  packages/theming/src/generation/tokens/unit/utilities/generate.ts
Due: eslint, stylelint

Muted tokens naming
  .changeset/tangy-papers-occur.md
  packages/theming/src/generation/definitions/figma.ts
  packages/theming/src/generation/definitions/slate.ts
  packages/theming/src/generation/tokens/color/color.types.ts
  packages/theming/src/generation/tokens/shadow/shadow.types.ts
Due: eslint

Updated color generation
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
  packages/theming/src/generation/tokens/color/utilities/tests/__snapshots__/generateColors.test.ts.snap
Due: eslint

highlighted colors
  .changeset/pink-cloths-brush.md
  packages/reshaped/src/themes/figma/tailwind.css
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/figma/theme.json
  packages/reshaped/src/themes/fragments/twitter/tailwind.css
  packages/reshaped/src/themes/slate/tailwind.css
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
Due: eslint, stylelint

deps updates
  package.json
  pnpm-lock.yaml
Due: none

fix(TrapFocus): don't refocus when another component intentionally moves focus
  packages/utilities/src/a11y/TrapFocus.ts
Due: eslint

chore(tests): update package.json to run tests in ci
  package.json
Due: none

chore(test): fix broken test slipped in
  packages/utilities/src/flyout/utilities/tests/applyPosition.test.ts
Due: eslint

fix(Flyout): fix hover reliability across gap, safe area, and race conditions
  packages/reshaped/src/components/Flyout/Flyout.constants.ts
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/utilities/safeArea.ts
Due: eslint

Badge: text color
  .changeset/quick-dingos-stand.md
  packages/reshaped/src/components/Badge/Badge.module.css
Due: stylelint

chore(tests): update package.json to run tests in ci (#599)
  package.json
  packages/utilities/src/flyout/utilities/tests/applyPosition.test.ts
Due: eslint

ActionBar, Loader, Actionable
  .changeset/lazy-seas-enter.md
  .changeset/perky-eagles-wonder.md
  .changeset/pink-cloths-brush.md
  .changeset/tangy-papers-occur.md
  .changeset/twenty-chicken-lead.md
  packages/reshaped/src/components/ActionBar/ActionBar.module.css
  packages/reshaped/src/components/ActionBar/ActionBar.tsx
  packages/reshaped/src/components/ActionBar/ActionBar.types.ts
  packages/reshaped/src/components/ActionBar/index.ts
  packages/reshaped/src/components/ActionBar/tests/ActionBar.stories.tsx
  packages/reshaped/src/components/Actionable/Actionable.module.css
  packages/reshaped/src/components/Loader/Loader.module.css
  packages/reshaped/src/components/Loader/tests/Loader.stories.tsx
  packages/reshaped/src/components/View/View.types.ts
  packages/reshaped/src/styles/resolvers/border/border.module.css
  packages/reshaped/src/themes/figma/tailwind.css
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/figma/theme.json
  packages/reshaped/src/themes/fragments/twitter/tailwind.css
  packages/reshaped/src/themes/slate/tailwind.css
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/definitions/figma.ts
  packages/theming/src/generation/definitions/slate.ts
  packages/theming/src/generation/tokens/color/color.types.ts
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
  packages/theming/src/generation/tokens/shadow/shadow.types.ts
Due: eslint, stylelint

v4: Flyout, Hotkey
  .changeset/little-mangos-attack.md
  .storybook/preview.jsx
  packages/reshaped/src/components/Autocomplete/Autocomplete.tsx
  packages/reshaped/src/components/Autocomplete/Autocomplete.types.ts
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.types.ts
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Hotkey/Hotkey.module.css
  packages/reshaped/src/components/Popover/Popover.types.ts
Due: eslint, stylelint

fix: prevent mixing responsive viewport keys with value keys in Responsive<T>
  packages/reshaped/src/types/global.ts
Due: eslint

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
