Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

chore: release
  .changeset/fluffy-drinks-look.md
  CHANGELOG.md
  package.json
Due: none

fix(Button): border colors
  .changeset/rare-ads-serve.md
  src/components/Button/Button.module.css
  src/components/ToggleButtonGroup/tests/ToggleButtonGroup.stories.tsx
Due: eslint, stylelint

chore: release
  .changeset/rare-ads-serve.md
  CHANGELOG.md
  package.json
Due: none

fix(Button): content shift
  .changeset/olive-mice-kneel.md
  src/components/Button/Button.module.css
  src/components/ToggleButtonGroup/tests/ToggleButtonGroup.stories.tsx
Due: eslint, stylelint

chore: release
  .changeset/olive-mice-kneel.md
  CHANGELOG.md
  package.json
Due: none

fix: config file imports
  .changeset/orange-knives-wave.md
  package.json
  src/config/postcss.ts
Due: eslint

chore: removed outdated cjs build
  .changeset/pink-bulldogs-rest.md
  bin/format-cjs-build.js
  package.json
  tsconfig.cjs.json
Due: none

fix: postcss config imports (#473)
  .changeset/orange-knives-wave.md
  .changeset/pink-bulldogs-rest.md
  bin/format-cjs-build.js
  package.json
  src/config/postcss.ts
  tsconfig.cjs.json
Due: eslint

fix: compound component exports, actionable ref types
  .changeset/tender-pots-deny.md
  src/components/Accordion/index.ts
  src/components/Actionable/Actionable.types.ts
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/index.ts
  src/components/Badge/index.ts
  src/components/Breadcrumbs/index.ts
  src/components/Button/index.ts
  src/components/Carousel/Carousel.tsx
  src/components/Carousel/Carousel.types.ts
  src/components/Carousel/CarouselControl.tsx
  src/components/ContextMenu/index.ts
  src/components/DropdownMenu/index.ts
  src/components/FileUpload/index.ts
  src/components/Flyout/index.ts
  src/components/FormControl/index.ts
  src/components/Grid/index.ts
  src/components/MenuItem/index.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/index.ts
  src/components/Popover/Popover.tsx
  src/components/Popover/index.ts
  src/components/Resizable/Resizable.tsx
  src/components/Resizable/index.ts
  src/components/Select/index.ts
  src/components/Stepper/index.ts
  src/components/Table/index.ts
  src/components/Tabs/index.ts
  src/components/TextArea/index.ts
  src/components/TextField/index.ts
  src/components/Timeline/Timeline.tsx
  src/components/Timeline/index.ts
  src/components/View/index.ts
  src/components/_private/Portal/Portal.tsx
  src/components/_private/Portal/index.ts
Due: eslint

fix(Portal): fixed exports
  src/components/Overlay/Overlay.tsx
  src/components/_private/Portal/Portal.tsx
  src/components/_private/Portal/index.ts
Due: eslint

fix(Button): border-box for overrides
  .changeset/wet-bananas-swim.md
  src/components/Button/Button.module.css
  src/components/ToggleButtonGroup/tests/ToggleButtonGroup.stories.tsx
Due: eslint, stylelint

chore: canary release
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: none

feat(Select): renderValue and composition fixes
  .changeset/thirty-dragons-float.md
  src/components/Select/Select.module.css
  src/components/Select/Select.types.ts
  src/components/Select/SelectCustomControlled.tsx
  src/components/Select/SelectOptionGroup.tsx
  src/components/Select/SelectTrigger.tsx
  src/components/Select/tests/Select.stories.tsx
Due: eslint, stylelint

feat(Select): renderValue and composition fixes (#476)
  .changeset/thirty-dragons-float.md
  src/components/Select/Select.module.css
  src/components/Select/Select.types.ts
  src/components/Select/SelectCustomControlled.tsx
  src/components/Select/SelectOptionGroup.tsx
  src/components/Select/SelectTrigger.tsx
  src/components/Select/tests/Select.stories.tsx
Due: eslint, stylelint

feat(Select): composition improvements
  .changeset/fast-vans-kiss.md
  src/components/Select/Select.module.css
  src/components/Select/Select.types.ts
  src/components/Select/SelectCustomControlled.tsx
  src/components/Select/SelectGroup.tsx
  src/components/Select/index.ts
  src/components/Select/tests/Select.stories.tsx
Due: eslint, stylelint

feat(Select): composition improvements (#477)
  .changeset/fast-vans-kiss.md
  src/components/Select/Select.module.css
  src/components/Select/Select.types.ts
  src/components/Select/SelectCustomControlled.tsx
  src/components/Select/SelectGroup.tsx
  src/components/Select/index.ts
  src/components/Select/tests/Select.stories.tsx
Due: eslint, stylelint

feat: component improvements for the forms
  src/components/Divider/Divider.module.css
  src/components/Divider/Divider.tsx
  src/components/Divider/Divider.types.ts
  src/components/Divider/tests/Divider.stories.tsx
  src/components/Flyout/FlyoutUncontrolled.tsx
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Select/Select.module.css
  src/components/Select/Select.types.ts
  src/components/Select/tests/Select.stories.tsx
  src/components/TextArea/TextArea.module.css
  src/components/TextArea/TextArea.types.ts
  src/components/TextArea/tests/TextArea.stories.tsx
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.types.ts
  src/components/TextField/tests/TextField.stories.tsx
  src/hooks/useOnClickOutside.ts
Due: eslint, stylelint

fix: useOnclickOutside event and postcss
  .changeset/slow-chefs-rule.md
  .changeset/soft-flowers-eat.md
  package.json
  src/config/postcss.cts
  src/hooks/useOnClickOutside.ts
Due: eslint

fix: cli theming import path after cjs removal
  bin/cli.js
Due: none

fix: cli theming import path after cjs removal (#479)
  bin/cli.js
Due: none

fix: import in theming cli
  bin/cli.js
Due: none

chore: release
  .changeset/fluffy-oranges-dress.md
  .changeset/orange-knives-wave.md
  .changeset/pink-bulldogs-rest.md
  .changeset/pre.json
  .changeset/slow-chefs-rule.md
  .changeset/soft-flowers-eat.md
  .changeset/tender-pots-deny.md
  .changeset/wet-bananas-swim.md
  CHANGELOG.md
  package.json
Due: none

fix: postcss config exports
  .changeset/sour-countries-flash.md
  src/config/postcss.cts
Due: none

chore: release
  .changeset/sour-countries-flash.md
  CHANGELOG.md
  package.json
Due: none

feat: improvements for the form components
  .changeset/fast-vans-kiss.md
  .changeset/swift-turtles-relax.md
  src/components/Divider/Divider.module.css
  src/components/Divider/Divider.tsx
  src/components/Divider/Divider.types.ts
  src/components/Divider/tests/Divider.stories.tsx
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Flyout/FlyoutUncontrolled.tsx
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Popover/Popover.types.ts
  src/components/Select/Select.types.ts
  src/components/Select/SelectCustomControlled.tsx
  src/components/Tooltip/Tooltip.types.ts
Due: eslint, stylelint

docs: changelog
  .changeset/swift-turtles-relax.md
Due: none

feat: form components improvements (#481)
  .changeset/fast-vans-kiss.md
  .changeset/swift-turtles-relax.md
  src/components/Divider/Divider.module.css
  src/components/Divider/Divider.tsx
  src/components/Divider/Divider.types.ts
  src/components/Divider/tests/Divider.stories.tsx
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Popover/Popover.types.ts
  src/components/Select/Select.module.css
  src/components/Select/Select.types.ts
  src/components/Select/SelectCustomControlled.tsx
  src/components/Select/tests/Select.stories.tsx
  src/components/TextArea/TextArea.module.css
  src/components/TextArea/TextArea.types.ts
  src/components/TextArea/tests/TextArea.stories.tsx
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.types.ts
  src/components/TextField/tests/TextField.stories.tsx
  src/components/Tooltip/Tooltip.types.ts
Due: eslint, stylelint

fix: main entry point for commonjs with require(esm) support
  package.json
Due: none

chore: updated dependencies
  .changeset/perky-deer-shave.md
  .storybook/main.ts
  .storybook/plugins/iframe.mjs
  .storybook/plugins/preset.js
  .storybook/plugins/preset.mjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Toast/tests/Toast.stories.tsx
  tsconfig.esm.json
  tsconfig.json
  tsconfig.stories.json
  vitest.config.mjs
  vitest.workspace.mjs
Due: eslint

fix(Button, Text): text font-weight and button rounded fixes
  .changeset/petite-fans-laugh.md
  .changeset/social-peas-push.md
  src/components/Button/Button.module.css
  src/components/Text/Text.module.css
Due: stylelint

fix: theme css selector
  .changeset/silent-buses-exist.md
  package.json
  src/themes/_generator/tokens/css.ts
  src/themes/figma/theme.css
  src/themes/figma/theme.json
  src/themes/fragments/twitter/theme.css
  src/themes/reshaped/theme.css
  src/themes/reshaped/theme.json
  src/themes/slate/theme.css
  src/themes/slate/theme.json
Due: eslint, stylelint

Theme css selector (#486)
  .changeset/silent-buses-exist.md
  package.json
  src/themes/_generator/tokens/css.ts
  src/themes/figma/theme.css
  src/themes/figma/theme.json
  src/themes/fragments/twitter/theme.css
  src/themes/reshaped/theme.css
  src/themes/reshaped/theme.json
  src/themes/slate/theme.css
  src/themes/slate/theme.json
Due: eslint, stylelint

fix: main entry point for commonjs with require(esm) support (#483)
  package.json
Due: none

fix: updated package entrypoints
  .changeset/chatty-crabs-jog.md
  package.json
Due: none

chore: release
  .changeset/chatty-crabs-jog.md
  .changeset/petite-fans-laugh.md
  .changeset/silent-buses-exist.md
  .changeset/social-peas-push.md
  CHANGELOG.md
  package.json
Due: none

fix(DropdownMenu): fixed submenu onClick
  .changeset/clean-windows-sleep.md
  src/components/Flyout/FlyoutControlled.tsx
  src/hooks/useOnClickOutside.ts
Due: eslint

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
