Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

fix(Card): content overlaying border
  .changeset/ninety-zebras-worry.md
  src/components/Card/Card.module.css
Due: stylelint

chore: release
  .changeset/clean-windows-sleep.md
  .changeset/ninety-zebras-worry.md
  CHANGELOG.md
  package.json
Due: none

fix(Theme): moved global variables to reshaped provider
  .changeset/stupid-planets-deliver.md
  src/components/Reshaped/Reshaped.css
  src/components/Theme/Theme.module.css
Due: stylelint

chore: release
  .changeset/stupid-planets-deliver.md
  CHANGELOG.md
  package.json
Due: none

fix: improvements for plus
  .changeset/gentle-pumas-reply.md
  .changeset/real-snakes-give.md
  src/components/Button/Button.module.css
  src/components/Button/tests/Button.stories.tsx
  src/components/Icon/Icon.module.css
  src/components/Progress/Progress.module.css
  src/components/Text/Text.module.css
Due: eslint, stylelint

fix(Flyout,DropdownMenu): transition improvements
  .changeset/sour-clubs-cut.md
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/Flyout/Flyout.constants.ts
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Flyout/utilities/cooldown.ts
Due: eslint

chore: canary release
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: none

chore: updated eslint config
  eslint.config.mjs
Due: none

fix(Select): input keydown
  .changeset/lovely-facts-dress.md
  src/components/Select/SelectCustomControlled.tsx
Due: eslint

fix(Tooltip): disabled group timeouts for controlled tooltips
  .changeset/purple-stamps-film.md
  src/components/Tooltip/Tooltip.tsx
Due: eslint

feat(Calendar, Text): renderDateSlot, text align reset
  .changeset/eleven-otters-bake.md
  src/Sandbox.stories.tsx
  src/components/Calendar/Calendar.types.ts
  src/components/Calendar/CalendarControlled.tsx
  src/components/Calendar/CalendarDate.tsx
  src/components/Calendar/CalendarMonth.tsx
  src/components/Calendar/tests/Calendar.stories.tsx
  src/components/Text/Text.module.css
Due: eslint, stylelint

fix(Select,DropdownMenu): circular navigation
  .changeset/quiet-cars-type.md
  src/utilities/a11y/TrapFocus.ts
Due: eslint

fix(Popover): border approach
  .changeset/fine-tables-count.md
  src/components/Popover/Popover.module.css
Due: stylelint

feat(Calendar): monthsToRender
  .changeset/big-rules-teach.md
  src/Sandbox.stories.tsx
  src/components/Calendar/Calendar.types.ts
  src/components/Calendar/CalendarControlled.tsx
  src/components/Calendar/CalendarControls.tsx
  src/components/Calendar/tests/Calendar.stories.tsx
Due: eslint

fix(Calendar): fixed types
  src/components/Calendar/CalendarControls.tsx
Due: eslint

test: updated tests
  src/components/Avatar/tests/Avatar.stories.tsx
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Image/tests/Image.stories.tsx
  src/components/Toast/tests/Toast.stories.tsx
  src/components/Tooltip/tests/Tooltip.stories.tsx
  src/utilities/a11y/tests/TrapFocus.stories.tsx
Due: eslint

feat(Calendar): monthsToRender (#509)
  .changeset/big-rules-teach.md
  src/Sandbox.stories.tsx
  src/components/Avatar/tests/Avatar.stories.tsx
  src/components/Calendar/Calendar.types.ts
  src/components/Calendar/CalendarControlled.tsx
  src/components/Calendar/CalendarControls.tsx
  src/components/Calendar/tests/Calendar.stories.tsx
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Image/tests/Image.stories.tsx
  src/components/Toast/tests/Toast.stories.tsx
  src/components/Tooltip/tests/Tooltip.stories.tsx
  src/utilities/a11y/tests/TrapFocus.stories.tsx
Due: eslint

feat(Calendar): month and onMonthChange
  .changeset/olive-spoons-lose.md
  src/components/Calendar/Calendar.types.ts
  src/components/Calendar/CalendarControlled.tsx
  src/components/Calendar/tests/Calendar.stories.tsx
Due: eslint

feat(Calendar): month and onMonthChange (#511)
  .changeset/olive-spoons-lose.md
  src/components/Calendar/Calendar.types.ts
  src/components/Calendar/CalendarControlled.tsx
  src/components/Calendar/tests/Calendar.stories.tsx
Due: eslint

feat(Flyout): contentMaxHeight
  .changeset/wild-breads-go.md
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/Autocomplete.types.ts
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/Flyout/Flyout.module.css
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutContent.tsx
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Popover/Popover.types.ts
Due: eslint, stylelint

feat(Flyout): vanilla js positioning
  .changeset/stale-donuts-stay.md
  src/Sandbox.stories.tsx
  src/components/Flyout/Flyout.constants.ts
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutContent.tsx
  src/components/Flyout/useFlyout.ts
  src/components/Flyout/utilities/calculatePosition.ts
  src/components/Flyout/utilities/flyout.ts
Due: eslint

fix: exclude react, react/jsx-runtime, react-dom from pre-built bundle
  vite.config.mjs
Due: none

test: updated stories
  src/Sandbox.stories.tsx
Due: eslint

fix: exclude react, react/jsx-runtime, react-dom from pre-built bundle (#516)
  vite.config.mjs
Due: none

test(Tooltip): async test behavior
  src/components/Tooltip/tests/Tooltip.stories.tsx
Due: eslint

chore: changeset
  .changeset/strong-impalas-allow.md
Due: none

fix(Calendar): fixed end date selection
  .changeset/gentle-glasses-see.md
  src/components/Calendar/CalendarDate.tsx
Due: eslint

feat(Calendar): disabledDates
  .changeset/good-lizards-carry.md
  src/components/Calendar/Calendar.types.ts
  src/components/Calendar/CalendarControlled.tsx
  src/components/Calendar/CalendarDate.tsx
  src/components/Calendar/CalendarMonth.tsx
  src/components/Calendar/tests/Calendar.stories.tsx
Due: eslint

feat(Calendar): disabledDates (#519)
  .changeset/good-lizards-carry.md
  src/components/Calendar/Calendar.types.ts
  src/components/Calendar/CalendarControlled.tsx
  src/components/Calendar/CalendarDate.tsx
  src/components/Calendar/CalendarMonth.tsx
  src/components/Calendar/tests/Calendar.stories.tsx
Due: eslint

fix(Flyout): improved positioning performance (#520)
  .changeset/stale-donuts-stay.md
  src/components/Flyout/Flyout.constants.ts
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutContent.tsx
  src/components/Flyout/useFlyout.ts
  src/components/Flyout/utilities/calculatePosition.ts
  src/components/Flyout/utilities/flyout.ts
  src/components/Tooltip/tests/Tooltip.stories.tsx
Due: eslint

fix(Flyout): handleMouseLeave with hover
  .changeset/clean-donuts-rescue.md
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutControlled.tsx
Due: eslint

fix(Flyout): handleMouseLeave with hover (#521)
  .changeset/clean-donuts-rescue.md
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutControlled.tsx
Due: eslint

fix(Flyout): relaxed reducer conditions
  .changeset/salty-boats-reply.md
  src/components/Flyout/useFlyout.ts
  src/components/Tooltip/tests/Tooltip.stories.tsx
Due: eslint

fix(Flyout): relaxed reducer conditions (#522)
  .changeset/salty-boats-reply.md
  src/components/Flyout/useFlyout.ts
  src/components/Tooltip/tests/Tooltip.stories.tsx
Due: eslint

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
