Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

ScrollArea: move the thumb with transform instead of inset
  .changeset/scroll-area-thumb-compositor.md
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
  packages/reshaped/src/components/ScrollArea/ScrollArea.types.ts
Due: eslint, stylelint

ScrollArea: track the scroll position from the bar itself
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
  packages/reshaped/src/components/ScrollArea/ScrollArea.types.ts
Due: eslint, stylelint

Overlay: render the backdrop as an element driven by a ref
  packages/reshaped/src/components/Overlay/Overlay.module.css
  packages/reshaped/src/components/Overlay/Overlay.tsx
Due: eslint, stylelint

Modal: register the drag offset as a non-inherited property
  .changeset/modal-drag-property.md
  packages/reshaped/src/components/Modal/Modal.module.css
Due: stylelint

Modal: velocity-aware release spring and rubber band for the swipe gesture
  .changeset/modal-drag-physics.md
  packages/reshaped/src/components/Modal/Modal.module.css
  packages/reshaped/src/components/Modal/Modal.tsx
  packages/reshaped/src/utilities/animation.ts
Due: eslint, stylelint

Overlay: Animation optimization
  packages/reshaped/src/components/Overlay/Overlay.module.css
Due: stylelint

Overlay: animate backdrop opacity instead of background-color (#667)
  .changeset/overlay-backdrop-compositor.md
  packages/reshaped/src/components/Overlay/Overlay.module.css
  packages/reshaped/src/components/Overlay/Overlay.tsx
Due: eslint, stylelint

ScrollArea: drag performance
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
Due: eslint, stylelint

ScrollArea: move the thumb with transform instead of inset (#668)
  .changeset/scroll-area-thumb-compositor.md
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
  packages/reshaped/src/components/ScrollArea/ScrollArea.types.ts
Due: eslint, stylelint

stylelint
  .stylelintrc
  packages/reshaped/src/components/Modal/Modal.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/Table/Table.module.css
  packages/reshaped/src/components/Tabs/Tabs.module.css
  packages/reshaped/src/styles/resolvers/inset/inset.module.css
Due: stylelint

Modal: register the drag offset as a non-inherited property (#669)
  .changeset/modal-drag-property.md
  .stylelintrc
  packages/reshaped/src/components/Modal/Modal.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/Table/Table.module.css
  packages/reshaped/src/components/Tabs/Tabs.module.css
  packages/reshaped/src/styles/resolvers/inset/inset.module.css
Due: stylelint

modal velocity
  .changeset/modal-drag-physics.md
  packages/reshaped/src/components/Modal/Modal.module.css
  packages/reshaped/src/components/Modal/Modal.tsx
Due: eslint, stylelint

Modal: Swipe velocity
  packages/reshaped/src/components/Modal/Modal.tsx
  packages/reshaped/src/components/Modal/Modal.types.ts
  packages/reshaped/src/components/Modal/useModalDrag.ts
  packages/reshaped/src/utilities/animation.ts
Due: eslint

ci
  .github/workflows/pull-request.yml
Due: none

Modal: velocity-aware release spring and rubber band for the swipe gesture (#670)
  .changeset/modal-drag-physics.md
  .github/workflows/pull-request.yml
  packages/reshaped/src/components/Modal/Modal.tsx
  packages/reshaped/src/components/Modal/Modal.types.ts
  packages/reshaped/src/components/Modal/useModalDrag.ts
  packages/reshaped/src/utilities/animation.ts
Due: eslint

[reshaped] fix package type as esm
  packages/reshaped/package.json
Due: none

Flyout: freeze content during the hide animation and animate it by default
  .changeset/flyout-frozen-exit-animation.md
  packages/reshaped/src/components/Autocomplete/Autocomplete.tsx
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.tsx
  packages/reshaped/src/components/Flyout/Flyout.module.css
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/FlyoutTrigger.tsx
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/reshaped/src/components/Select/SelectCustomControlled.tsx
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
  packages/reshaped/src/components/_private/Freeze/Freeze.module.css
  packages/reshaped/src/components/_private/Freeze/Freeze.tsx
  packages/reshaped/src/components/_private/Freeze/Freeze.types.ts
  packages/reshaped/src/components/_private/Freeze/index.ts
  packages/reshaped/src/components/_private/Freeze/tests/Freeze.stories.tsx
Due: eslint, stylelint

useHotkeys: ignore keys that belong to an IME composition
  .changeset/hotkeys-ime-composition.md
  packages/reshaped/src/hooks/_internal/useSingletonHotkeys.tsx
  packages/reshaped/src/hooks/tests/useHotkeys.stories.tsx
Due: eslint

fix: export module as esm
  packages/reshaped/package.json
  packages/reshaped/tsconfig.esm.json
  packages/reshaped/tsconfig.stories.json
  packages/theming/package.json
  packages/theming/tsconfig.json
  packages/utilities/package.json
  packages/utilities/tsconfig.json
Due: none

Freeze: undo the Suspense display in an insertion effect and suspend with a sibling
  packages/reshaped/src/components/_private/Freeze/Freeze.tsx
  packages/reshaped/src/components/_private/Freeze/Freeze.types.ts
Due: eslint

Flyout: simplify the cancelled transition check and keep the trigger aria attributes as before
  .changeset/flyout-frozen-exit-animation.md
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/FlyoutTrigger.tsx
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
Due: eslint

flyout review
  packages/reshaped/src/components/Flyout/Flyout.module.css
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
Due: eslint, stylelint

updates
  packages/reshaped/src/components/_private/Freeze/Freeze.tsx
Due: eslint

Flyout: freeze content during the hide animation and animate it by default (#675)
  .changeset/flyout-frozen-exit-animation.md
  packages/reshaped/src/components/Autocomplete/Autocomplete.tsx
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.tsx
  packages/reshaped/src/components/Flyout/Flyout.module.css
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/reshaped/src/components/Select/SelectCustomControlled.tsx
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
  packages/reshaped/src/components/_private/Freeze/Freeze.module.css
  packages/reshaped/src/components/_private/Freeze/Freeze.tsx
  packages/reshaped/src/components/_private/Freeze/Freeze.types.ts
  packages/reshaped/src/components/_private/Freeze/index.ts
  packages/reshaped/src/components/_private/Freeze/tests/Freeze.stories.tsx
Due: eslint, stylelint

useHotkeys: ignore keys that belong to an IME composition (#676)
  .changeset/hotkeys-ime-composition.md
  packages/reshaped/src/hooks/_internal/useSingletonHotkeys.tsx
  packages/reshaped/src/hooks/tests/useHotkeys.stories.tsx
Due: eslint

feat(View): support inset="center" for both-axis centering (#652)
  .changeset/view-inset-center.md
  packages/reshaped/src/components/View/View.types.ts
  packages/reshaped/src/components/View/tests/View.stories.tsx
  packages/reshaped/src/styles/resolvers/inset/__snapshots__/index.test.ts.snap
  packages/reshaped/src/styles/resolvers/inset/index.test.ts
  packages/reshaped/src/styles/resolvers/inset/index.ts
  packages/reshaped/src/styles/resolvers/inset/inset.css
  packages/reshaped/src/styles/types.ts
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
