Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

feat: modal overflow prop
  CHANGELOG.md
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.ts
Due: eslint, stylelint

fix: switch disabled text color
  CHANGELOG.md
  src/components/Switch/Switch.tsx
  src/components/Switch/tests/Switch.stories.tsx
Due: eslint

fix: image attributes style
  CHANGELOG.md
  src/components/Image/Image.tsx
  src/components/Image/tests/Image.test.tsx
Due: eslint

feat: modal and overlay onClock reason
  CHANGELOG.md
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/tests/Modal.test.tsx
  src/components/Overlay/Overlay.tsx
  src/components/Overlay/Overlay.types.ts
  src/components/Overlay/index.tsx
  src/components/Overlay/tests/Overlay.test.tsx
Due: eslint

fix(useResponsiveClientValue): boolean support
  CHANGELOG.md
  src/hooks/tests/useResponsiveClientValue.test.tsx
  src/hooks/useResponsiveClientValue.ts
Due: eslint

fix(Flyout): blur for content menu
  CHANGELOG.md
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
Due: eslint

feat: scoped styling
  CHANGELOG.md
  package.json
  src/components/Badge/Badge.types.ts
  src/components/Reshaped/Reshaped.css
  src/components/Reshaped/Reshaped.module.css
  src/components/Reshaped/Reshaped.tsx
  src/components/Reshaped/Reshaped.types.ts
  src/components/Reshaped/tests/Reshaped.test.tsx
  src/components/Theme/GlobalColorMode.tsx
  src/components/Theme/Theme.tsx
  src/components/Theme/Theme.types.ts
  src/components/Theme/Theme.utilities.ts
  src/components/Theme/index.ts
Due: eslint, stylelint

v3.2.0-canary.4
  package.json
Due: none

fix(Dismissible): fixed empty reserved space
  src/components/Dismissible/Dismissible.module.css
Due: stylelint

v3.1.4
  package.json
Due: none

feat: table attributes and useHotkeys alt modification
  CHANGELOG.md
  src/components/Table/Table.tsx
  src/components/Table/Table.types.ts
  src/hooks/_private/useSingletonHotkeys.tsx
  src/hooks/tests/useHotkeys.stories.tsx
  src/hooks/tests/useHotkeys.test.tsx
Due: eslint

v3.1.5
  package.json
Due: none

feat: shadow dom support
  CHANGELOG.md
  package.json
  src/components/Accordion/tests/Accordion.stories.tsx
  src/components/Actionable/Actionable.module.css
  src/components/Actionable/Actionable.tsx
  src/components/Actionable/Actionable.types.ts
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Select/Select.tsx
  src/components/_private/Portal/Portal.tsx
  src/hooks/_private/useOnClickOutside.ts
  src/hooks/_private/useSingletonHotkeys.tsx
  src/tests/ShadowDOM.stories.tsx
  src/themes/_generator/tests/themes.stories.tsx
  src/utilities/a11y/TrapFocus.ts
  src/utilities/a11y/focus.ts
  src/utilities/dom.ts
  yarn.lock
Due: eslint, stylelint

refactor: moved from shadow root event handlers to event composedPath
  src/hooks/_private/useSingletonHotkeys.tsx
Due: eslint

feat: flyout in shadow dom
  CHANGELOG.md
  src/components/Autocomplete/Autocomplete.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/useFlyout.ts
  src/tests/ShadowDOM.stories.tsx
  src/utilities/dom.ts
Due: eslint

fix: fixed typings
  src/utilities/a11y/TrapFocus.ts
Due: eslint

fix: stories
  src/components/Accordion/tests/Accordion.stories.tsx
Due: eslint

v3.2.0-canary.5
  package.json
Due: none

fix(Accordion): expand transition
  CHANGELOG.md
  src/components/_private/Expandable/Expandable.tsx
Due: eslint

feat(Flyout): improve flyout timeouts
  src/components/Tooltip/Tooltip.tsx
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/utilities/cooldown.ts
Due: eslint

fix(useHotkeys): mod+enter on windows
  CHANGELOG.md
  package.json
  src/components/Overlay/tests/Overlay.stories.tsx
  src/components/_private/Portal/Portal.tsx
  src/hooks/_private/useSingletonHotkeys.tsx
  src/hooks/tests/useHotkeys.stories.tsx
  yarn.lock
Due: eslint

v3.2.0-canary.6
  package.json
Due: none

fix(Tabs): animations triggered by external user events
  src/components/Tabs/TabsItem.tsx
  src/components/Tabs/tests/Tabs.stories.tsx
Due: eslint

fix: changelog
  CHANGELOG.md
Due: none

fix: ios scroll lock
  src/cli/.DS_Store
  src/components/.DS_Store
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Overlay/Overlay.tsx
  src/components/Slider/SliderControlled.tsx
  src/components/Tabs/TabsList.tsx
  src/components/Toast/ToastContainer.tsx
  src/components/Toast/ToastRegion.tsx
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/hooks/.DS_Store
  src/hooks/_private/useSingletonKeyboardMode.ts
  src/hooks/useDrag.ts
  src/hooks/useScrollLock.ts
  src/styles/.DS_Store
  src/utilities/.DS_Store
  src/utilities/a11y/index.ts
  src/utilities/dom/flyout.ts
  src/utilities/dom/index.ts
  src/utilities/dom/shadowDom.ts
  src/utilities/dom/userSelect.ts
  src/utilities/platform.ts
  src/utilities/scroll/disable.ts
  src/utilities/scroll/helpers.ts
  src/utilities/scroll/index.ts
  src/utilities/scroll/lock.ts
  src/utilities/scroll/lockSafari.ts
  src/utilities/scroll/styles.ts
Due: eslint

chore: changelog
  CHANGELOG.md
Due: none

fix(Icon): width and height html overrides
  CHANGELOG.md
  src/components/Icon/Icon.module.css
Due: stylelint

feat(Tabs): increase item spacing
  CHANGELOG.md
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/tests/Tabs.stories.tsx
Due: eslint, stylelint

feat(Loader): large size
  CHANGELOG.md
  package.json
  src/components/Button/Button.tsx
  src/components/Loader/Loader.module.css
  src/components/Loader/Loader.types.ts
  src/components/Loader/tests/Loader.stories.tsx
  yarn.lock
Due: eslint, stylelint

fix(Flyout): updatePosition while flyout is active
  CHANGELOG.md
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
Due: eslint

feat(Flyout): fallback + gap calculations
  CHANGELOG.md
  src/components/_private/Flyout/Flyout.module.css
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/components/_private/Flyout/useFlyout.ts
  src/components/_private/Flyout/utilities/calculatePosition.ts
  src/components/_private/Flyout/utilities/getPositionFallbacks.ts
Due: eslint, stylelint

feat(Flyout): fallbackPositions and history
  CHANGELOG.md
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/Popover/Popover.types.ts
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/components/_private/Flyout/useFlyout.ts
  src/components/_private/Flyout/utilities/getPositionFallbacks.ts
Due: eslint

feat(Flyout): initifal focus
  CHANGELOG.md
  src/components/Popover/Popover.tsx
  src/components/Popover/Popover.types.ts
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/utilities/a11y/TrapFocus.ts
Due: eslint

feat(Grid): new utility
  CHANGELOG.md
  package.json
  src/components/Grid/Grid.module.css
  src/components/Grid/Grid.tsx
  src/components/Grid/Grid.types.ts
  src/components/Grid/index.ts
  src/components/Grid/tests/Grid.stories.tsx
  src/components/Grid/tests/Grid.test.tsx
  src/components/View/View.module.css
  src/components/View/View.tsx
  src/components/View/View.types.ts
  src/index.ts
  src/styles/align/align.module.css
  src/styles/align/index.test.ts
  src/styles/align/index.ts
  src/styles/justify/index.test.ts
  src/styles/justify/index.ts
  src/styles/justify/justify.module.css
  src/styles/types.ts
  tools/build/postcss.responsive.js
  yarn.lock
Due: eslint, stylelint

fix: ci error
  src/components/_private/Flyout/utilities/calculatePosition.ts
Due: eslint

test: updated snapshots
  src/components/_private/Flyout/useFlyout.ts
  src/styles/align/__snapshots__/index.test.ts.snap
  src/styles/justify/__snapshots__/index.test.ts.snap
Due: eslint

fix(Flyout): disconnect observer when closed
  CHANGELOG.md
  src/components/_private/Flyout/FlyoutControlled.tsx
Due: eslint

v3.1.6
  package.json
Due: none

fix(Modal,Overlay): fixed safari scroll lock
  CHANGELOG.md
  src/components/Actionable/Actionable.module.css
  src/components/Button/Button.module.css
  src/components/Card/Card.module.css
  src/components/Checkbox/Checkbox.module.css
  src/components/Modal/Modal.module.css
  src/components/Radio/Radio.module.css
  src/components/Resizable/Resizable.module.css
  src/components/Slider/Slider.module.css
  src/components/Switch/Switch.module.css
  src/hooks/_private/useSingletonKeyboardMode.ts
  src/hooks/useScrollLock.ts
  src/utilities/scroll/helpers.ts
  src/utilities/scroll/lock.ts
  src/utilities/scroll/lockSafari.ts
  src/utilities/scroll/lockStandard.ts
  src/utilities/scroll/styles.ts
Due: eslint, stylelint

fix: tests
  src/hooks/_private/useSingletonKeyboardMode.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
