Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

v4: carousel types
  .changeset/loud-houses-watch.md
  packages/reshaped/src/components/Carousel/index.ts
  packages/reshaped/src/components/Carousel/tests/Carousel.stories.tsx
  packages/reshaped/src/index.ts
Due: eslint

v4: button aligner
  .changeset/dirty-buckets-win.md
  packages/reshaped/src/components/Button/Button.types.ts
Due: eslint

v4: form handlers
  .changeset/six-pets-take.md
  packages/reshaped/src/components/Autocomplete/Autocomplete.tsx
  packages/reshaped/src/components/Breadcrumbs/Breadcrumbs.tsx
  packages/reshaped/src/components/Breadcrumbs/Breadcrumbs.types.ts
  packages/reshaped/src/components/Breadcrumbs/BreadcrumbsItem.tsx
  packages/reshaped/src/components/Checkbox/Checkbox.tsx
  packages/reshaped/src/components/Checkbox/Checkbox.types.ts
  packages/reshaped/src/components/HiddenInput/HiddenInput.tsx
  packages/reshaped/src/components/HiddenInput/HiddenInput.types.ts
  packages/reshaped/src/components/HiddenInput/tests/HiddenInput.stories.tsx
  packages/reshaped/src/components/Radio/Radio.tsx
  packages/reshaped/src/components/Radio/Radio.types.ts
  packages/reshaped/src/components/Select/Select.types.ts
  packages/reshaped/src/components/Select/SelectNative.tsx
  packages/reshaped/src/components/Select/SelectTrigger.tsx
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
  packages/reshaped/src/components/Switch/Switch.tsx
  packages/reshaped/src/components/Switch/Switch.types.ts
  packages/reshaped/src/components/Tabs/TabsItem.tsx
  packages/reshaped/src/components/Text/tests/Text.stories.tsx
  packages/reshaped/src/components/TextArea/TextArea.tsx
  packages/reshaped/src/components/TextArea/TextArea.types.ts
  packages/reshaped/src/components/TextField/TextField.tsx
  packages/reshaped/src/components/TextField/TextField.types.ts
  packages/reshaped/src/tests/ThemesPlayground.tsx
Due: eslint

v4: build fix
  .changeset/crisp-fans-joke.md
  packages/reshaped/src/components/Breadcrumbs/tests/Breadcrumbs.stories.tsx
  packages/reshaped/src/components/Button/ButtonAligner.tsx
  packages/reshaped/src/components/Button/tests/Button.stories.tsx
  packages/reshaped/src/components/Carousel/CarouselControl.tsx
  packages/reshaped/src/components/Dismissible/Dismissible.tsx
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/reshaped/src/components/Select/Select.tsx
  packages/reshaped/src/components/Select/Select.types.ts
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
  packages/reshaped/src/components/Table/tests/Table.stories.tsx
  packages/reshaped/src/components/TextArea/tests/TextArea.stories.tsx
  packages/reshaped/src/tests/themes.stories.tsx
Due: eslint

v4: bundle size
  packages/reshaped/package.json
  packages/reshaped/src/index.ts
  packages/reshaped/src/tests/themingWithDefinition.ts
  packages/reshaped/src/tests/themingWithoutDefinition.ts
  packages/reshaped/src/themes/index.ts
Due: eslint

v4: test size scripts
  package.json
  packages/reshaped/package.json
  packages/reshaped/src/tests/themingWithDefinition.ts
  packages/reshaped/src/tests/themingWithoutDefinition.ts
  packages/reshaped/src/themes/index.ts
  packages/theming/src/tests/themingWithDefinition.ts
  packages/theming/src/tests/themingWithoutDefinition.ts
Due: eslint

v4: rgb colors
  .stylelintrc
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/FileUpload/FileUpload.module.css
  packages/reshaped/src/components/MenuItem/MenuItem.module.css
  packages/reshaped/src/components/NumberField/NumberField.module.css
  packages/reshaped/src/components/Overlay/Overlay.module.css
  packages/reshaped/src/components/ProgressBar/ProgressBar.module.css
  packages/reshaped/src/components/Table/Table.module.css
  packages/reshaped/src/utilities/storybook/Placeholder.tsx
Due: eslint, stylelint

v4: updated rgb to modern syntax
  packages/reshaped/src/components/ProgressIndicator/ProgressIndicator.module.css
  packages/reshaped/src/components/Tabs/Tabs.module.css
Due: stylelint

Flyout: fixed shadow dom and nested modal positioning
  .changeset/wise-goats-report.md
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/reshaped/src/tests/ShadowDOM.stories.tsx
  packages/utilities/src/flyout/utilities/applyPosition.ts
Due: eslint

fix(Flyout): fixed shadow dom and nested modal positioning (#610)
  .changeset/wise-goats-report.md
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/reshaped/src/tests/ShadowDOM.stories.tsx
  packages/utilities/src/flyout/utilities/applyPosition.ts
Due: eslint

Tooltip: enabled dismissible queue for hover flyouts
  .changeset/plenty-boxes-work.md
  packages/reshaped/src/components/Flyout/FlyoutControlled.tsx
  packages/reshaped/src/components/Tooltip/tests/Tooltip.stories.tsx
Due: eslint

chore: canary release
  .changeset/pre.json
  packages/headless/CHANGELOG.md
  packages/headless/package.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

v4: default theme
  .changeset/silver-meals-arrive.md
  packages/reshaped/src/components/Reshaped/Reshaped.tsx
Due: eslint

v4: updated packages
  .storybook/main.ts
  package.json
  packages/reshaped/package.json
  packages/reshaped/tsconfig.esm.json
  packages/reshaped/tsconfig.json
  packages/reshaped/tsconfig.stories.json
  packages/theming/tsconfig.json
  packages/utilities/src/flyout/tests/Flyout.test.ts
  packages/utilities/src/flyout/utilities/tests/applyPosition.test.ts
  packages/utilities/src/flyout/utilities/tests/calculateLayoutAdjustment.test.ts
  packages/utilities/src/flyout/utilities/tests/calculatePosition.test.ts
  packages/utilities/src/flyout/utilities/tests/centerBySize.test.ts
  packages/utilities/src/flyout/utilities/tests/getPositionFallbacks.test.ts
  packages/utilities/src/flyout/utilities/tests/getRTLPosition.test.ts
  packages/utilities/tsconfig.json
  pnpm-lock.yaml
Due: eslint

v4: Select inputAttributes
  .changeset/legal-regions-read.md
  packages/reshaped/src/components/Select/Select.types.ts
  packages/reshaped/src/components/Select/SelectCustomControlled.tsx
  packages/reshaped/src/components/Select/SelectTrigger.tsx
Due: eslint

v4: shadow dom stories
  packages/reshaped/src/tests/ShadowDOM.stories.tsx
Due: eslint

v4: select selectedIconPosition
  .changeset/flat-jeans-wait.md
  packages/reshaped/src/components/Select/Select.types.ts
  packages/reshaped/src/components/Select/SelectCustomControlled.tsx
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
Due: eslint

v4: tests
  .storybook/preview.jsx
  .storybook/vitest.setup.ts
  packages/reshaped/src/components/Flyout/tests/Flyout.stories.tsx
  packages/reshaped/src/components/Link/Link.module.css
  packages/reshaped/src/components/Overlay/tests/Overlay.stories.tsx
  packages/reshaped/src/components/Reshaped/tests/Reshaped.stories.tsx
  packages/reshaped/src/components/Select/tests/Select.stories.tsx
  packages/reshaped/src/components/Toast/ToastProvider.tsx
  packages/reshaped/src/components/Toast/tests/Toast.stories.tsx
  packages/reshaped/src/components/View/tests/View.stories.tsx
  packages/reshaped/src/hooks/tests/useOnClickOutside.stories.tsx
  packages/reshaped/vitest.config.mjs
Due: eslint, stylelint

v4: lefthook
  lefthook.yml
  packages/reshaped/src/components/View/tests/View.stories.tsx
Due: eslint

v4: lefthook
  .storybook/preview.jsx
  package.json
Due: none

v4: flyout deactivate fallback layout content when trigger is outside the screen
  packages/utilities/src/flyout/Flyout.ts
Due: eslint

v4: textfield clickable area
  packages/reshaped/src/components/TextField/TextField.module.css
Due: stylelint

v4: tabs
  .changeset/clever-swans-bow.md
  .changeset/violet-rings-dig.md
  packages/reshaped/src/Sandbox.stories.tsx
  packages/reshaped/src/components/Tabs/Tabs.module.css
  packages/reshaped/src/components/Tabs/Tabs.tsx
  packages/reshaped/src/components/Tabs/Tabs.types.ts
  packages/reshaped/src/components/Tabs/TabsControlled.tsx
  packages/reshaped/src/components/Tabs/TabsItem.tsx
  packages/reshaped/src/components/Tabs/TabsList.tsx
  packages/reshaped/src/components/Tabs/TabsUncontrolled.tsx
  packages/reshaped/src/components/Tabs/tests/Tabs.stories.tsx
  packages/reshaped/src/components/View/tests/View.stories.tsx
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/definitions/slate.ts
Due: eslint, stylelint

v4: tabs small
  .changeset/jolly-pets-kiss.md
  packages/reshaped/src/components/Tabs/Tabs.module.css
  packages/reshaped/src/components/Tabs/Tabs.types.ts
  packages/reshaped/src/components/Tabs/tests/Tabs.stories.tsx
Due: eslint, stylelint

v4: aspectRatio
  .changeset/warm-dingos-accept.md
  packages/reshaped/src/styles/resolvers/aspectRatio/aspectRatio.css
Due: stylelint

v4: tabs a11y attributes
  packages/reshaped/src/components/Tabs/Tabs.types.ts
  packages/reshaped/src/components/Tabs/TabsContext.tsx
  packages/reshaped/src/components/Tabs/TabsControlled.tsx
  packages/reshaped/src/components/Tabs/TabsPanel.tsx
  packages/reshaped/src/components/Tabs/tests/Tabs.stories.tsx
Due: eslint

v4: simplify tabs and fix a11y attributes
  packages/reshaped/src/components/Tabs/Tabs.module.css
  packages/reshaped/src/components/Tabs/Tabs.types.ts
  packages/reshaped/src/components/Tabs/TabsControlled.tsx
  packages/reshaped/src/components/Tabs/TabsItem.tsx
  packages/reshaped/src/components/Tabs/TabsList.tsx
  packages/reshaped/src/components/Tabs/tests/Tabs.stories.tsx
Due: eslint, stylelint

v4: tests
  packages/reshaped/src/components/Tabs/tests/Tabs.stories.tsx
Due: eslint

v4: migration skills
  packages/reshaped/package.json
  skills/reshaped-v3-v4/SKILL.md
  skills/reshaped-v3-v4/changes/action-bar-removed.md
  skills/reshaped-v3-v4/changes/badge-variant.md
  skills/reshaped-v3-v4/changes/button-aligner-position.md
  skills/reshaped-v3-v4/changes/button-elevation.md
  skills/reshaped-v3-v4/changes/button-variant.md
  skills/reshaped-v3-v4/changes/card-elevation.md
  skills/reshaped-v3-v4/changes/carousel-instance-ref.md
  skills/reshaped-v3-v4/changes/divider-offset.md
  skills/reshaped-v3-v4/changes/flyout-force-position.md
  skills/reshaped-v3-v4/changes/flyout-structure.md
  skills/reshaped-v3-v4/changes/form-handlers.md
  skills/reshaped-v3-v4/changes/hotkey-removed.md
  skills/reshaped-v3-v4/changes/menu-item-rounded-corners.md
  skills/reshaped-v3-v4/changes/overlay-transparency.md
  skills/reshaped-v3-v4/changes/progress-bar.md
  skills/reshaped-v3-v4/changes/reshaped-default-theme.md
  skills/reshaped-v3-v4/changes/scrim-removed.md
  skills/reshaped-v3-v4/changes/select-custom.md
  skills/reshaped-v3-v4/changes/select-render-value.md
  skills/reshaped-v3-v4/changes/select-trigger.md
  skills/reshaped-v3-v4/changes/stepper-removed.md
  skills/reshaped-v3-v4/changes/tabs-default-value.md
  skills/reshaped-v3-v4/changes/tabs-variant.md
  skills/reshaped-v3-v4/changes/text-field-end-slot-padding.md
  skills/reshaped-v3-v4/changes/text-variant.md
  skills/reshaped-v3-v4/changes/theming.md
  skills/reshaped-v3-v4/changes/timeline-removed.md
  skills/reshaped-v3-v4/changes/toast-color.md
  skills/reshaped-v3-v4/changes/toast-layout.md
  skills/reshaped-v3-v4/changes/toast-options.md
  skills/reshaped-v3-v4/changes/view-aspect-ratio.md
Due: none

v4: local release
  bin/release-local.sh
  package.json
  packages/reshaped/package.json
  packages/reshaped/src/themes/reshaped/tailwind.css
Due: stylelint

v4: flyout shadow root
  packages/reshaped/src/components/Flyout/FlyoutContent.tsx
Due: eslint

v4: card height
  packages/reshaped/src/components/Card/Card.module.css
  packages/reshaped/src/components/Card/Card.tsx
Due: eslint, stylelint

fix: reduced motion handling
  .changeset/wicked-ears-retire.md
  packages/reshaped/src/components/Overlay/Overlay.tsx
  packages/reshaped/src/components/Tabs/TabsList.tsx
  packages/reshaped/src/components/Toast/ToastContainer.tsx
  packages/reshaped/src/components/_private/Expandable/Expandable.tsx
  packages/reshaped/src/utilities/animation.ts
Due: eslint

chore: release
  .changeset/wicked-ears-retire.md
  packages/headless/CHANGELOG.md
  packages/headless/package.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

v4: select types
  packages/reshaped/src/components/Select/Select.types.ts
Due: eslint

chore: canary release
  .changeset/pre.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/theming/CHANGELOG.md
  packages/theming/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

v4: text skill update
  skills/reshaped-v3-v4/changes/text-variant.md
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
