Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{ts,tsx}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}

prepare-commit-msg:
  commands:
    "review commit method":
      run: |
        COMMIT_MSG_FILE="$1"

        if [ ! -s "$COMMIT_MSG_FILE" ]; then
          exit 0
        fi

        if [ -z "$ALLOW_COMMIT" ]; then
          echo "ðŸš« Use 'yarn commit' instead of 'git commit'."
          exit 1
        fi

commit-msg:
  commands:
    "lint commit message":
      run: npx commitlint --color --edit {1}

scroll area: styling updates
  .changeset/scroll-area-scrollbar-fixes.md
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/ScrollArea/tests/ScrollArea.stories.tsx
Due: eslint, stylelint

scroll area: orientation
  .changeset/scroll-area-orientation.md
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
  packages/reshaped/src/components/ScrollArea/ScrollArea.types.ts
  packages/reshaped/src/components/ScrollArea/tests/ScrollArea.stories.tsx
  packages/reshaped/src/hooks/_internal/useDrag.ts
Due: eslint, stylelint

scroll area: scroll visibility
  .changeset/scroll-area-scrollbar-scroll-display.md
  packages/reshaped/src/components/ScrollArea/ScrollArea.module.css
  packages/reshaped/src/components/ScrollArea/ScrollArea.tsx
  packages/reshaped/src/components/ScrollArea/ScrollArea.types.ts
  packages/reshaped/src/components/ScrollArea/tests/ScrollArea.stories.tsx
Due: eslint, stylelint

context menu ref types
  .changeset/context-menu-instance-type.md
  packages/reshaped/src/components/ContextMenu/ContextMenu.types.ts
  packages/reshaped/src/components/ContextMenu/index.ts
  packages/reshaped/src/index.ts
Due: eslint

slider: outline
  .changeset/slider-thumb-focus-outline.md
  packages/reshaped/src/components/Slider/Slider.module.css
Due: stylelint

menu item: color
  .changeset/menu-item-critical-hover.md
  packages/reshaped/src/components/MenuItem/MenuItem.module.css
Due: stylelint

flyout active state
  .changeset/flyout-trigger-active-render-prop.md
  packages/reshaped/src/components/Flyout/Flyout.types.ts
  packages/reshaped/src/components/Flyout/FlyoutTrigger.tsx
  packages/reshaped/src/components/Tooltip/Tooltip.tsx
  packages/reshaped/src/components/Tooltip/Tooltip.types.ts
Due: eslint

motion
  .changeset/motion-durations-easing.md
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Checkbox/Checkbox.module.css
  packages/reshaped/src/components/MenuItem/MenuItem.module.css
  packages/reshaped/src/components/Radio/Radio.module.css
  packages/reshaped/src/components/Switch/Switch.module.css
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/figma/theme.json
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/definitions/figma.ts
  packages/theming/src/generation/definitions/slate.ts
Due: eslint, stylelint

radio/checkbox border
  .changeset/checkbox-radio-outline-shadow.md
  packages/reshaped/src/components/Checkbox/Checkbox.module.css
  packages/reshaped/src/components/Checkbox/Checkbox.tsx
  packages/reshaped/src/components/Radio/Radio.module.css
  packages/reshaped/src/components/Radio/Radio.tsx
  packages/reshaped/src/themes/figma/theme.css
  packages/reshaped/src/themes/figma/theme.json
  packages/reshaped/src/themes/slate/theme.css
  packages/reshaped/src/themes/slate/theme.json
  packages/theming/src/generation/tokens/color/utilities/generateColors.ts
Due: eslint, stylelint

accordion opacity
  packages/reshaped/src/components/Accordion/tests/Accordion.stories.tsx
  packages/reshaped/src/components/_private/Expandable/Expandable.module.css
  packages/reshaped/src/components/_private/Expandable/Expandable.tsx
Due: eslint, stylelint

feat: use caption-1 text for the small size of Button, MenuItem, Tabs and form fields
  .changeset/small-size-caption-text.md
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/MenuItem/MenuItem.module.css
  packages/reshaped/src/components/PinField/PinFieldControlled.tsx
  packages/reshaped/src/components/Reshaped/Reshaped.css
  packages/reshaped/src/components/Select/Select.module.css
  packages/reshaped/src/components/Tabs/Tabs.module.css
  packages/reshaped/src/components/Tabs/TabsItem.tsx
  packages/reshaped/src/components/TextField/TextField.module.css
Due: eslint, stylelint

refactor: inline the caption-1 line height compensation in each component
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/MenuItem/MenuItem.module.css
  packages/reshaped/src/components/Reshaped/Reshaped.css
  packages/reshaped/src/components/Select/Select.module.css
  packages/reshaped/src/components/Tabs/Tabs.module.css
  packages/reshaped/src/components/TextField/TextField.module.css
Due: stylelint

feat: use caption-1 text for the small size of Button, MenuItem, Tabs and form fields (#656)
  .changeset/small-size-caption-text.md
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/MenuItem/MenuItem.module.css
  packages/reshaped/src/components/PinField/PinFieldControlled.tsx
  packages/reshaped/src/components/Select/Select.module.css
  packages/reshaped/src/components/Tabs/Tabs.module.css
  packages/reshaped/src/components/Tabs/TabsItem.tsx
  packages/reshaped/src/components/TextField/TextField.module.css
Due: eslint, stylelint

chore: canary release
  .changeset/pre.json
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/theming/CHANGELOG.md
  packages/theming/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

fix: useHotkeys multi-key handling with held Meta and global handler correctness
  .changeset/use-hotkeys-meta-keys.md
  packages/reshaped/src/hooks/_internal/useSingletonHotkeys.tsx
  packages/reshaped/src/hooks/tests/useHotkeys.stories.tsx
Due: eslint

fix: reuse the root hotkeys provider in nested providers
  packages/reshaped/src/hooks/_internal/useSingletonHotkeys.tsx
  packages/reshaped/src/hooks/tests/useHotkeys.stories.tsx
Due: eslint

fix: useHotkeys multi-key handling with held Meta + global handler audit fixes (#657)
  .changeset/use-hotkeys-meta-keys.md
  packages/reshaped/src/hooks/_internal/useSingletonHotkeys.tsx
Due: eslint

fix(Accordion): don't replay the expand animation when effects are re-attached
  .changeset/fix-accordion-animation-replay.md
  packages/reshaped/src/components/_private/Expandable/Expandable.tsx
Due: eslint

fix(Accordion): don't replay the expand animation when effects are re-attached (#661)
  .changeset/fix-accordion-animation-replay.md
  packages/reshaped/src/components/_private/Expandable/Expandable.tsx
Due: eslint

fix(Badge): truncate long text and stop dismiss from following the link
  .changeset/fix-badge-dismiss-link.md
  .changeset/fix-badge-truncation.md
  packages/reshaped/src/components/Badge/Badge.module.css
  packages/reshaped/src/components/Badge/Badge.tsx
  packages/reshaped/src/components/Badge/tests/Badge.stories.tsx
Due: eslint, stylelint

fix(Badge): truncate long text and stop dismiss from following the link (#662)
  .changeset/fix-badge-dismiss-link.md
  .changeset/fix-badge-truncation.md
  packages/reshaped/src/components/Badge/Badge.module.css
  packages/reshaped/src/components/Badge/Badge.tsx
  packages/reshaped/src/components/Badge/tests/Badge.stories.tsx
Due: eslint, stylelint

feat(Link): add fullWidth support
  .changeset/link-full-width.md
  packages/reshaped/src/components/Link/Link.module.css
  packages/reshaped/src/components/Link/Link.tsx
  packages/reshaped/src/components/Link/Link.types.ts
  packages/reshaped/src/components/Link/tests/Link.stories.tsx
Due: eslint, stylelint

link: fullWidth
  .changeset/gentle-experts-attack.md
  packages/reshaped/src/components/Link/Link.tsx
  packages/reshaped/src/components/Link/Link.types.ts
  packages/reshaped/src/components/Link/tests/Link.stories.tsx
Due: eslint

fix(Flyout): close content on right click outside
  .changeset/fix-flyout-right-click-outside.md
  packages/reshaped/src/components/ContextMenu/tests/ContextMenu.stories.tsx
  packages/reshaped/src/hooks/tests/useOnClickOutside.stories.tsx
  packages/reshaped/src/hooks/useOnClickOutside.ts
Due: eslint

useOnClickOutside: contextmenu support
  .changeset/some-masks-invent.md
  packages/reshaped/src/hooks/useOnClickOutside.ts
Due: eslint

trap focus: keyboard mode foucs
  .changeset/fix-focus-element-scroll.md
  packages/utilities/src/a11y/focus.ts
Due: eslint

ContextMenu: triggerRef
  .changeset/context-menu-trigger-ref.md
  packages/reshaped/src/components/ContextMenu/ContextMenu.tsx
  packages/reshaped/src/components/ContextMenu/ContextMenu.types.ts
  packages/reshaped/src/components/ContextMenu/tests/ContextMenu.stories.tsx
  packages/reshaped/src/hooks/useOnClickOutside.ts
Due: eslint

DropdownMenu, ContextMenu: support size on the root component
  .changeset/dropdown-context-menu-size.md
  packages/reshaped/src/components/ContextMenu/tests/ContextMenu.stories.tsx
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.tsx
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.types.ts
  packages/reshaped/src/components/DropdownMenu/tests/DropdownMenu.stories.tsx
Due: eslint

Image: render the fallback when loading fails before hydration
  .changeset/fix-image-fallback-before-hydration.md
  packages/reshaped/src/components/Image/Image.tsx
  packages/reshaped/src/components/Image/tests/Image.stories.tsx
Due: eslint

image: clean-up
  packages/reshaped/src/components/Image/Image.tsx
  packages/reshaped/src/components/Image/tests/Image.stories.tsx
Due: eslint

Image: render the fallback when loading fails before hydration (#666)
  .changeset/fix-image-fallback-before-hydration.md
  packages/reshaped/src/components/Image/Image.tsx
Due: eslint

DropdownMenu: size
  .changeset/dropdown-menu-size.md
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.context.tsx
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.tsx
  packages/reshaped/src/components/DropdownMenu/DropdownMenu.types.ts
  packages/reshaped/src/components/DropdownMenu/tests/DropdownMenu.stories.tsx
Due: eslint

small icons in small components
  .changeset/small-size-icon-scale.md
  packages/reshaped/src/components/Button/Button.module.css
  packages/reshaped/src/components/Button/Button.tsx
  packages/reshaped/src/components/Button/tests/Button.stories.tsx
  packages/reshaped/src/components/MenuItem/MenuItem.module.css
  packages/reshaped/src/components/MenuItem/MenuItem.tsx
  packages/reshaped/src/components/Select/Select.module.css
  packages/reshaped/src/components/Select/SelectStartContent.tsx
  packages/reshaped/src/components/Tabs/Tabs.module.css
  packages/reshaped/src/components/Tabs/TabsItem.tsx
  packages/reshaped/src/components/TextField/TextField.module.css
  packages/reshaped/src/components/TextField/TextField.tsx
Due: eslint, stylelint

keyboard mode for inputs
  .changeset/keyboard-mode-typing.md
  packages/reshaped/src/hooks/_internal/useSingletonKeyboardMode.tsx
Due: eslint

IconToggle
  .changeset/icon-toggle.md
  packages/reshaped/src/components/IconToggle/IconToggle.module.css
  packages/reshaped/src/components/IconToggle/IconToggle.tsx
  packages/reshaped/src/components/IconToggle/IconToggle.types.ts
  packages/reshaped/src/components/IconToggle/index.ts
  packages/reshaped/src/components/IconToggle/tests/IconToggle.stories.tsx
  packages/reshaped/src/components/_private/Presence/Presence.module.css
  packages/reshaped/src/components/_private/Presence/Presence.tsx
  packages/reshaped/src/components/_private/Presence/Presence.types.ts
  packages/reshaped/src/components/_private/Presence/index.ts
  packages/reshaped/src/index.ts
Due: eslint, stylelint

Content toggle
  .changeset/content-toggle.md
  packages/reshaped/src/components/ContentToggle/ContentToggle.module.css
  packages/reshaped/src/components/ContentToggle/ContentToggle.tsx
  packages/reshaped/src/components/ContentToggle/ContentToggle.types.ts
  packages/reshaped/src/components/ContentToggle/index.ts
  packages/reshaped/src/components/ContentToggle/tests/ContentToggle.stories.tsx
  packages/reshaped/src/components/_private/Presence/Presence.tsx
  packages/reshaped/src/components/_private/Presence/Presence.types.ts
  packages/reshaped/src/index.ts
Due: eslint, stylelint

Expandable public
  .changeset/expandable.md
  packages/reshaped/src/components/Accordion/AccordionContent.tsx
  packages/reshaped/src/components/Expandable/Expandable.module.css
  packages/reshaped/src/components/Expandable/Expandable.tsx
  packages/reshaped/src/components/Expandable/Expandable.types.ts
  packages/reshaped/src/components/Expandable/index.ts
  packages/reshaped/src/components/Expandable/tests/Expandable.stories.tsx
  packages/reshaped/src/components/_private/Expandable/Expandable.module.css
  packages/reshaped/src/components/_private/Expandable/Expandable.tsx
  packages/reshaped/src/components/_private/Expandable/Expandable.types.ts
  packages/reshaped/src/components/_private/Expandable/index.ts
  packages/reshaped/src/index.ts
Due: eslint, stylelint

chore: release
  .changeset/checkbox-radio-outline-shadow.md
  .changeset/content-toggle.md
  .changeset/context-menu-instance-type.md
  .changeset/context-menu-trigger-ref.md
  .changeset/dropdown-menu-size.md
  .changeset/expandable.md
  .changeset/fix-accordion-animation-replay.md
  .changeset/fix-badge-dismiss-link.md
  .changeset/fix-badge-truncation.md
  .changeset/fix-focus-element-scroll.md
  .changeset/fix-image-fallback-before-hydration.md
  .changeset/fix-postcss-config-subpath-extension.md
  .changeset/flyout-trigger-active-render-prop.md
  .changeset/gentle-experts-attack.md
  .changeset/icon-toggle.md
  .changeset/keyboard-mode-typing.md
  .changeset/menu-item-critical-hover.md
  .changeset/motion-durations-easing.md
  .changeset/pre.json
  .changeset/scroll-area-orientation.md
  .changeset/scroll-area-scrollbar-fixes.md
  .changeset/scroll-area-scrollbar-scroll-display.md
  .changeset/select-render-trigger.md
  .changeset/slider-thumb-focus-outline.md
  .changeset/small-size-caption-text.md
  .changeset/small-size-icon-scale.md
  .changeset/some-masks-invent.md
  .changeset/use-hotkeys-meta-keys.md
  packages/reshaped/CHANGELOG.md
  packages/reshaped/package.json
  packages/theming/CHANGELOG.md
  packages/theming/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: none

Overlay: animate backdrop opacity instead of background-color
  .changeset/overlay-backdrop-compositor.md
  packages/reshaped/src/components/Overlay/Overlay.module.css
Due: stylelint
