Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx,vue}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}
# commit-msg:
#   commands:
#     "lint commit message":
#       run: npx commitlint --color --edit {1}

fix(Container): width
  src/components/Container/Container.module.css
Due: stylelint

chore: actions
  .github/workflows/pull-request.yml
Due: none

chore: actions
  .github/workflows/pull-request.yml
  package.json
  yarn.lock
Due: none

docs: changelog
  CHANGELOG.md
Due: none

fix(Table): added Table compound types
  CHANGELOG.md
  src/components/Table/index.ts
  src/index.ts
Due: eslint

feat(Carousel): onChange, navigateTo, tests
  CHANGELOG.md
  src/components/Carousel/Carousel.tsx
  src/components/Carousel/Carousel.types.ts
  src/components/Carousel/tests/Carousel.stories.tsx
  src/components/Carousel/tests/Carousel.test.stories.tsx
Due: eslint

v3.3.13
  package.json
Due: none

chore: deps
  package.json
  vitest.workspace.mjs
  yarn.lock
Due: none

chore: actions
  .github/workflows/pull-request.yml
  package.json
Due: none

chore: deps
  .github/workflows/pull-request.yml
Due: none

chore: deps
  .github/workflows/pull-request.yml
  package.json
  yarn.lock
Due: none

chore: deps
  package.json
  vitest.workspace.mjs
Due: none

feat(Flyout): render outside scrollable areas and container fallbacks
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/components/_private/Flyout/tests/Flyout.test.stories.tsx
  src/components/_private/Flyout/useFlyout.ts
  src/components/_private/Flyout/utilities/isFullyVisible.ts
  src/utilities/dom/find.ts
Due: eslint

test(Flyout): updated storybook tests
  CHANGELOG.md
  src/components/_private/Flyout/Flyout.module.css
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/components/_private/Flyout/tests/Flyout.test.stories.tsx
  src/components/_private/Flyout/useFlyout.ts
  src/utilities/scroll/lockStandard.ts
Due: eslint, stylelint

feat(Carousel): onScroll
  CHANGELOG.md
  src/components/Carousel/Carousel.tsx
  src/components/Carousel/Carousel.types.ts
Due: eslint

feat(useKeyboardMode): expose new hook
  CHANGELOG.md
  src/components/Reshaped/Reshaped.tsx
  src/hooks/_private/useSingletonEnvironment.ts
  src/hooks/_private/useSingletonKeyboardMode.ts
  src/hooks/_private/useSingletonKeyboardMode.tsx
  src/hooks/tests/useKeyboardMode.stories.tsx
  src/hooks/useKeyboardMode.ts
  src/index.ts
  src/utilities/a11y/index.ts
  src/utilities/a11y/keyboardMode.ts
Due: eslint

feat(ProgressIndicator): new component
  CHANGELOG.md
  src/components/ProgressIndicator/ProgressIndicator.module.css
  src/components/ProgressIndicator/ProgressIndicator.tsx
  src/components/ProgressIndicator/ProgressIndicator.types.ts
  src/components/ProgressIndicator/index.ts
  src/components/ProgressIndicator/tests/ProgressIndicator.stories.tsx
  src/hooks/_private/usePrevious.ts
  src/index.ts
Due: eslint, stylelint

test(ProgressIndicator): updated tests
  src/components/ProgressIndicator/ProgressIndicator.tsx
  src/components/ProgressIndicator/ProgressIndicator.types.ts
  src/components/ProgressIndicator/tests/ProgressIndicator.stories.tsx
Due: eslint

feat(Autocomplete): controlled, .select(), stories
  CHANGELOG.md
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/Autocomplete.types.ts
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/tests/ContextMenu.test.stories.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/DropdownMenu/tests/DropdownMenu.test.stories.tsx
  src/components/Popover/Popover.tsx
  src/components/Popover/tests/Popover.test.stories.tsx
  src/components/TextField/TextField.module.css
  src/components/Toast/tests/Toast.stories.tsx
  src/components/Tooltip/tests/Tooltip.test.stories.tsx
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/FlyoutUncontrolled.tsx
  src/components/_private/Flyout/index.ts
  src/components/_private/Flyout/tests/Flyout.stories.tsx
Due: eslint, stylelint

test: flyout tests
  src/components/_private/Flyout/tests/Flyout.stories.tsx
Due: eslint

v3.4.0-rc.0
  package.json
Due: none

v3.4.0
  package.json
Due: none

fix(useOnClickOutside): unmounted component
  CHANGELOG.md
  src/components/Calendar/tests/Calendar.stories.tsx
  src/hooks/_private/useOnClickOutside.ts
Due: eslint

fix(useFlyout): submenu position
  src/components/_private/Flyout/useFlyout.ts
Due: eslint

v3.4.1
  package.json
Due: none

foo
  src/components/Calendar/tests/Calendar.stories.tsx
Due: eslint

actions
  .github/workflows/pull-request.yml
Due: none

foo
  .storybook/postcss.config.js
Due: eslint

feat(Calendar): added selectedDates support
  .storybook/postcss.config.js
  CHANGELOG.md
  src/components/Calendar/Calendar.module.css
  src/components/Calendar/Calendar.types.ts
  src/components/Calendar/CalendarControlled.tsx
  src/components/Calendar/CalendarDate.tsx
  src/components/Calendar/CalendarMonth.tsx
  src/components/Calendar/tests/Calendar.stories.tsx
  src/components/Calendar/tests/Calendar.test.stories.tsx
Due: eslint, stylelint

chore: updated dependencies
  eslint.config.mjs
  package.json
  src/themes/figma/tailwind.css
  src/themes/figma/theme.css
  src/themes/figma/theme.json
  yarn.lock
Due: stylelint

test(Calendar): updated stories
  src/components/Calendar/tests/Calendar.stories.tsx
Due: eslint
