Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

fix: flyout + theming types
  CHANGELOG.md
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/FlyoutTrigger.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/themes/index.ts
Due: eslint

fix: release fixes
  src/components/Slider/Slider.utilities.ts
  src/components/Slider/tests/Slider.stories.tsx
  src/hooks/useScrollLock.ts
Due: eslint

chore: changelog
  CHANGELOG.md
Due: none

feat: apca color palette
  src/themes/_generator/tests/themes.stories.tsx
  src/themes/_generator/utilities/color.ts
  src/themes/_generator/utilities/generateBackgroundColors.ts
  src/themes/_generator/utilities/tests/color.test.ts
  src/types/config.ts
Due: eslint

v3.0.10
  package.json
Due: none

fix(Resizable): fixed auto height for handle
  src/components/Resizable/Resizable.module.css
Due: stylelint

feat(theming): letter spacing support
  CHANGELOG.md
  src/components/Button/Button.module.css
  src/components/MenuItem/MenuItem.module.css
  src/components/Reshaped/Reshaped.css
  src/components/Select/Select.module.css
  src/components/Text/Text.module.css
  src/components/TextArea/TextArea.module.css
  src/components/TextField/TextField.module.css
  src/themes/_generator/tokens/font/font.transforms.ts
  src/themes/_generator/tokens/font/font.types.ts
  src/themes/_generator/tokens/types.ts
  src/themes/figma/theme.css
  src/themes/reshaped/theme.css
  src/themes/slate/theme.css
Due: eslint, stylelint

v3.0.11-rc.0
  package.json
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/components/_private/Flyout/useFlyout.ts
Due: eslint

v3.0.11-rc.1
  package.json
Due: none

v3.0.11-rc.2
  package.json
Due: none

v3.0.11-rc.3
  package.json
Due: none

fix(Flyout): shadow dom support
  CHANGELOG.md
  src/components/_private/Flyout/useFlyout.ts
Due: eslint

chore: updated dependencies and eslint config
  .eslintrc.json
  CHANGELOG.md
  package.json
  src/components/Accordion/tests/Accordion.test.tsx
  src/components/Actionable/tests/Actionable.test.tsx
  src/components/Alert/tests/Alert.test.tsx
  src/components/Badge/tests/Badge.test.tsx
  src/components/Carousel/Carousel.module.css
  src/components/Carousel/CarouselControl.tsx
  src/components/Checkbox/tests/Checkbox.test.tsx
  src/components/CheckboxGroup/tests/CheckboxGroup.test.tsx
  src/components/Dismissible/tests/Dismissible.test.tsx
  src/components/DropdownMenu/tests/DropdownMenu.test.tsx
  src/components/Radio/tests/Radio.test.tsx
  src/components/RadioGroup/tests/RadioGroup.test.tsx
  src/components/Reshaped/tests/Reshaped.test.tsx
  src/components/Select/tests/Select.test.tsx
  src/components/Switch/tests/Switch.test.tsx
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/tests/Tabs.test.tsx
  src/components/TextArea/tests/TextArea.test.tsx
  src/components/TextField/tests/TextField.test.tsx
  src/components/Theme/tests/Theme.test.tsx
  src/components/Toast/ToastRegion.tsx
  src/utilities/testPresets.tsx
  yarn.lock
Due: eslint, stylelint

v3.1.0
  package.json
Due: none

fix: release fixes
  CHANGELOG.md
  src/components/Resizable/tests/Resizable.stories.tsx
  src/components/Tooltip/tests/Tooltip.stories.tsx
  src/components/_private/Flyout/FlyoutTrigger.tsx
  src/hooks/_private/useSingletonHotkeys.tsx
  src/hooks/useDrag.ts
Due: eslint

v3.1.1
  package.json
Due: none

fix: flyout hover timeout
  src/components/_private/Flyout/Flyout.constants.ts
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/FlyoutTrigger.tsx
Due: eslint

feat: modal/overlay outside click
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Modal/tests/Modal.test.tsx
  src/components/Overlay/Overlay.module.css
  src/components/Overlay/Overlay.tsx
  src/components/Overlay/Overlay.types.ts
  src/components/Overlay/tests/Overlay.test.tsx
Due: eslint, stylelint

feat: blurred overlay
  CHANGELOG.md
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Overlay/Overlay.module.css
  src/components/Overlay/Overlay.tsx
  src/components/Overlay/Overlay.types.ts
  src/components/Overlay/tests/Overlay.stories.tsx
Due: eslint, stylelint

fix(overlay): blur 1px glitch
  src/components/Overlay/Overlay.module.css
Due: stylelint

v3.1.2
  package.json
Due: none

fix: fixed reported issues
  CHANGELOG.md
  package.json
  src/components/Pagination/PaginationControlled.tsx
  src/components/Pagination/tests/Pagination.stories.tsx
  src/components/Pagination/tests/Pagination.test.tsx
  src/components/PinField/tests/PinField.test.tsx
  yarn.lock
Due: eslint

fix(Flyout): fixed positioning for scaled elements
  CHANGELOG.md
  src/components/Actionable/Actionable.tsx
  src/components/Pagination/PaginationControlled.tsx
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/FlyoutTrigger.tsx
  src/components/_private/Flyout/useFlyout.ts
Due: eslint

test(PinField): updated unit tests
  src/components/PinField/tests/PinField.test.tsx
  src/hooks/tests/useRTL.test.tsx
Due: eslint

feat(View): added responsive text align support
  src/components/Text/Text.module.css
  src/components/Text/Text.tsx
  src/components/View/View.tsx
  src/components/View/View.types.ts
  src/components/View/tests/View.stories.tsx
  src/styles/textAlign/__snapshots__/index.test.ts.snap
  src/styles/textAlign/index.test.ts
  src/styles/textAlign/index.ts
  src/styles/textAlign/textAlign.module.css
  src/styles/types.ts
Due: eslint, stylelint

v3.1.3
  package.json
Due: none

feat(Toast): added warning color
  CHANGELOG.md
  src/components/Toast/Toast.types.ts
  src/components/Toast/tests/Toast.stories.tsx
Due: eslint

feat: updated the default rem size
  CHANGELOG.md
  src/components/Reshaped/Reshaped.css
  src/themes/_generator/tokens/font/font.transforms.ts
  src/themes/figma/theme.css
  src/themes/reshaped/theme.css
  src/themes/slate/theme.css
Due: eslint, stylelint

v3.2.0-canary.0
  package.json
Due: none

feat(FileUpload): added height prop support
  CHANGELOG.md
  src/components/FileUpload/FileUpload.tsx
  src/components/FileUpload/FileUpload.types.ts
  src/components/FileUpload/tests/FileUpload.stories.tsx
Due: eslint

feat: updated theming
  CHANGELOG.md
  src/components/Button/tests/Button.stories.tsx
  src/components/Loader/tests/Loader.stories.tsx
  src/components/Table/Table.module.css
  src/themes/_generator/utilities/generateColors.ts
  src/themes/slate/theme.css
  src/themes/slate/theme.json
Due: eslint, stylelint

feat(Autocomplete): multi value features
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/Autocomplete.types.ts
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
  src/components/Badge/Badge.module.css
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.tsx
  src/components/TextField/TextField.types.ts
  src/constants/keys.ts
  src/hooks/useHotkeys.ts
  src/icons/Plus.tsx
Due: eslint, stylelint

fix(tailwind): border radius config
  src/config/tailwind.ts
Due: eslint

v3.2.0-canary.1
  package.json
Due: none

refactor: refs types, tests and stories
  CHANGELOG.md
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
  src/components/Autocomplete/tests/Autocomplete.test.tsx
  src/components/Calendar/CalendarControlled.tsx
  src/components/Calendar/useCalendarKeyboardNavigation.ts
  src/components/Checkbox/Checkbox.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Modal/tests/Modal.test.tsx
  src/components/Overlay/Overlay.tsx
  src/components/PinField/PinFieldControlled.tsx
  src/components/Resizable/Resizable.tsx
  src/components/ScrollArea/ScrollArea.tsx
  src/components/ScrollArea/tests/ScrollArea.stories.tsx
  src/components/Slider/SliderControlled.tsx
  src/components/Tabs/TabsControlled.tsx
  src/components/Tabs/TabsItem.tsx
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.tsx
  src/components/TextField/TextField.types.ts
  src/components/TextField/tests/TextField.stories.tsx
  src/components/Toast/ToastContainer.tsx
  src/components/Toast/ToastRegion.tsx
  src/components/_private/Aligner/Aligner.module.css
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/components/_private/Flyout/tests/Flyout.test.tsx
  src/components/_private/Portal/Portal.tsx
  src/components/_private/Portal/Portal.types.ts
  src/components/_private/Portal/tests/Portal.stories.tsx
  src/hooks/_private/useSingletonHotkeys.tsx
  src/hooks/useDrag.ts
  src/hooks/useHotkeys.ts
Due: eslint, stylelint

v3.2.0-canary.2
  package.json
Due: none

feat(Autocomplete): instanceRef
  CHANGELOG.md
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/Autocomplete.types.ts
  src/components/Autocomplete/index.ts
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
  src/index.ts
Due: eslint

fix: stories
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
Due: eslint

v3.2.0-canary.3
  package.json
Due: none

fix: overlay transitions
  src/components/Accordion/tests/Accordion.stories.tsx
  src/components/Overlay/Overlay.module.css
  src/components/Overlay/Overlay.tsx
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
