Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{ts,tsx}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}

prepare-commit-msg:
  commands:
    "review commit method":
      run: |
        COMMIT_MSG_FILE="$1"

        if [ ! -s "$COMMIT_MSG_FILE" ]; then
          exit 0
        fi

        if [ -z "$ALLOW_COMMIT" ]; then
          echo "ðŸš« Use 'yarn commit' instead of 'git commit'."
          exit 1
        fi

commit-msg:
  commands:
    "lint commit message":
      run: npx commitlint --color --edit {1}

fix(Tabs): remove panel tabIndex if there are focusable elements inside
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Tabs/TabsPanel.tsx
  src/components/Tabs/tests/Tabs.stories.tsx
  src/utilities/a11y/index.ts
Due: eslint

fix(ToggleButtonGroup): added tabIndex resolution
  src/components/ToggleButton/ToggleButtonControlled.tsx
  src/components/ToggleButtonGroup/ToggleButtonGroupControlled.tsx
Due: eslint

chore: fixed storybook build
  src/components/Slider/tests/Slider.stories.tsx
  src/components/ToggleButtonGroup/tests/ToggleButtonGroup.stories.tsx
Due: eslint

fix(TextField): fixed small size attachments line-height
  src/components/TextField/TextField.module.css
Due: stylelint

v3.6.0
  package.json
Due: none

fix(Table): use client
  src/components/Table/Table.tsx
Due: eslint

v3.6.1
  package.json
Due: none

fix(Grid, Tooltip): patch requests
  CHANGELOG.md
  src/components/Grid/Grid.tsx
  src/components/Grid/Grid.types.ts
  src/components/Grid/tests/Grid.stories.tsx
  src/components/Tooltip/Tooltip.types.ts
Due: eslint

v3.6.2
  package.json
Due: none

fix(useToggle, TextField): reported patch issues
  CHANGELOG.md
  src/Sandbox.stories.tsx
  src/components/TextField/TextField.tsx
  src/components/TextField/tests/TextField.stories.tsx
  src/hooks/useToggle.ts
Due: eslint

v3.6.3
  package.json
Due: none

fix(View): removed duplicating aspect ratio definition
  src/components/View/View.tsx
Due: eslint

feat(Image): added maxWidth and aspectRatio props
  CHANGELOG.md
  src/components/Image/Image.tsx
  src/components/Image/Image.types.ts
  src/components/Image/tests/Image.stories.tsx
Due: eslint

v3.7.0-canary.0
  package.json
Due: none

feat: added Attributes type to the library exports
  CHANGELOG.md
  src/index.ts
Due: eslint

feat(View): added shrink property support
  CHANGELOG.md
  src/components/View/View.module.css
  src/components/View/View.tsx
  src/components/View/View.types.ts
  src/components/View/tests/View.stories.tsx
Due: eslint, stylelint

v3.7.0-canary.1
  package.json
Due: none

fix(View): removed index based key inference
  CHANGELOG.md
  src/components/View/View.tsx
  src/components/View/tests/View.stories.tsx
Due: eslint

v3.7.0-canary.2
  package.json
Due: none

feat(Tabs): tabs item disabled
  CHANGELOG.md
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/Tabs.types.ts
  src/components/Tabs/TabsItem.tsx
  src/components/Tabs/tests/Tabs.stories.tsx
  src/components/Tabs/tests/Tabs.test.stories.tsx
Due: eslint, stylelint

v3.7.0-canary.3
  package.json
Due: none

test(Tabs): added disabled icon
  src/components/Tabs/tests/Tabs.stories.tsx
Due: eslint

feat(Text): monospace family support in themes and monospace prop
  CHANGELOG.md
  src/components/Text/Text.module.css
  src/components/Text/Text.tsx
  src/components/Text/Text.types.ts
  src/components/Text/tests/Text.stories.tsx
  src/components/Text/tests/Text.test.stories.tsx
  src/themes/_generator/definitions/figma.ts
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/tokens/fontFamily/fontFamily.types.ts
  src/themes/figma/theme.css
  src/themes/figma/theme.json
  src/themes/reshaped/theme.css
  src/themes/reshaped/theme.json
  src/themes/slate/theme.css
  src/themes/slate/theme.json
Due: eslint, stylelint

v3.7.0-canary.4
  package.json
Due: none

feat: z-index theme tokens
  CHANGELOG.md
  src/components/Actionable/Actionable.module.css
  src/components/Carousel/Carousel.module.css
  src/components/Flyout/Flyout.constants.ts
  src/components/Flyout/Flyout.module.css
  src/components/Overlay/Overlay.module.css
  src/components/Reshaped/Reshaped.css
  src/components/Resizable/Resizable.module.css
  src/components/Table/Table.module.css
  src/components/Tabs/Tabs.module.css
  src/components/Toast/Toast.module.css
  src/themes/_generator/definitions/figma.ts
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/definitions/slate.ts
  src/themes/_generator/tokens/transforms.ts
  src/themes/_generator/tokens/types.ts
  src/themes/_generator/tokens/zIndex/zIndex.transforms.ts
  src/themes/_generator/tokens/zIndex/zIndex.types.ts
  src/themes/figma/theme.css
  src/themes/figma/theme.json
  src/themes/reshaped/theme.css
  src/themes/reshaped/theme.json
  src/themes/slate/theme.css
  src/themes/slate/theme.json
  src/utilities/string.ts
Due: eslint, stylelint

v3.7.0-canary.5
  package.json
Due: none

feat(Tooltip): color prop
  CHANGELOG.md
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.ts
  src/components/Tooltip/tests/Tooltip.stories.tsx
Due: eslint

v3.7.0-canary.6
  package.json
Due: none

fix(Tabs): negative margin causing scroll
  CHANGELOG.md
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/TabsList.tsx
Due: eslint, stylelint

v3.7.0-canary.7
  package.json
Due: none

fix(Carousel): outline styles
  CHANGELOG.md
  src/components/Carousel/Carousel.module.css
  src/components/TextField/TextField.tsx
Due: eslint, stylelint

fix(TrapFocus): keep the focus on manually focused elements
  CHANGELOG.md
  src/components/Modal/tests/Modal.stories.tsx
  src/utilities/a11y/TrapFocus.ts
Due: eslint

v3.7.0-canary.8
  package.json
Due: none

fix(TextArea): removed word-break
  CHANGELOG.md
  src/components/TextArea/TextArea.module.css
Due: stylelint

fix(Flyout): improved nesting close handling
  CHANGELOG.md
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/Autocomplete.types.ts
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Overlay/Overlay.tsx
  src/components/Popover/tests/Popover.stories.tsx
  src/hooks/_private/useIsDismissible.ts
Due: eslint

v3.7.0-canary.9
  package.json
Due: none

feat(Flyout,Popover): autofocus false
  CHANGELOG.md
  src/Sandbox.stories.tsx
  src/components/Flyout/Flyout.module.css
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutContent.tsx
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Modal/Modal.module.css
  src/components/Popover/Popover.types.ts
  src/components/Popover/tests/Popover.stories.tsx
Due: eslint, stylelint

v3.7.0-canary.10
  package.json
Due: none

fix(Button): group with popover radius
  CHANGELOG.md
  src/components/_private/Portal/Portal.tsx
  src/hooks/_private/useIsDismissible.ts
Due: eslint

v3.7.0-canary.11
  package.json
Due: none
