Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{ts,tsx}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}

prepare-commit-msg:
  commands:
    "review commit method":
      run: |
        COMMIT_MSG_FILE="$1"

        if [ ! -s "$COMMIT_MSG_FILE" ]; then
          exit 0
        fi

        if [ -z "$ALLOW_COMMIT" ]; then
          echo "ðŸš« Use 'yarn commit' instead of 'git commit'."
          exit 1
        fi

commit-msg:
  commands:
    "lint commit message":
      run: npx commitlint --color --edit {1}

feat(ToggleButton,ToggleButtonGroup): added selectedColor (#466)
  src/components/Button/Button.module.css
  src/components/Button/tests/Button.stories.tsx
  src/components/ToggleButton/ToggleButton.types.ts
  src/components/ToggleButton/ToggleButtonControlled.tsx
  src/components/ToggleButton/tests/ToggleButton.stories.tsx
  src/components/ToggleButtonGroup/ToggleButtonGroup.types.ts
  src/components/ToggleButtonGroup/ToggleButtonGroupControlled.tsx
  src/components/ToggleButtonGroup/tests/ToggleButtonGroup.stories.tsx
Due: eslint, stylelint

v3.8.0-canary.13
  CHANGELOG.md
  package.json
Due: none

fix(View): fixed shadow types
  src/components/View/View.types.ts
Due: eslint

chore: switched to changesets
  .changeset/config.json
  .changeset/rare-mangos-marry.md
  CONTRIBUTING.md
  bin/generate-changelog.js
  bin/release.js
  package.json
  pnpm-lock.yaml
Due: none

chore: updated release scripts
  bin/release-canary.sh
  bin/release-copy.sh
  bin/release.js
  bin/release.sh
  package.json
Due: none

chore: updated prerelease script
  bin/release-canary.sh
Due: none

chore: changesets
  .changeset/pre.json
  CHANGELOG.md
  bin/release-canary.sh
  bin/release.sh
  package.json
Due: none

chore: github releases
  .changeset/curvy-news-buy.md
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

chore: canary release
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: none

chore: updated changelog version order
  .changeset/pre.json
  .changeset/wicked-files-search.md
  CHANGELOG.md
Due: none

chore: changelog heading
  .changeset/chatty-points-doubt.md
  CHANGELOG.md
Due: none

chore: updated changesets files
  .changeset/pre.json
  CHANGELOG.md
  bin/release-canary.sh
Due: none

chore: added aligner comment
  .changeset/tender-scissors-wave.md
  src/components/_private/Aligner/Aligner.module.css
Due: stylelint

chore: updated changelog generation script
  .changeset/config.json
  .changeset/unlucky-buckets-hope.md
Due: none

chore: deps
  .changeset/pre.json
  package.json
  pnpm-lock.yaml
Due: none

chore: env
  .changeset/pre.json
  .gitignore
Due: none

chore: deps
  .changeset/config.json
  .changeset/pre.json
  package.json
  pnpm-lock.yaml
Due: none

chore: changeset test
  .changeset/chatty-points-doubt.md
  .changeset/healthy-jokes-drive.md
  .changeset/pre.json
  .changeset/rare-mangos-marry.md
  .changeset/tender-scissors-wave.md
  .changeset/unlucky-buckets-hope.md
  .changeset/wicked-files-search.md
  CHANGELOG.md
  bin/release-canary.sh
  bin/release.sh
  package.json
Due: none

chore: version
  package.json
Due: none

chore: deps
  pnpm-lock.yaml
Due: none

chore: deps
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: none

ci: updated gh releases notes
  .changeset/six-pugs-rest.md
  .github/workflows/release.yml
Due: none

ci: release process
  .changeset/five-tigers-occur.md
  bin/release-canary.sh
Due: none

feat(Text): equalWidth overflow
  .changeset/twelve-vans-tan.md
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/TabsItem.tsx
Due: eslint, stylelint

feat(Badge): highlighted prop
  .changeset/late-squids-admire.md
  src/components/Badge/Badge.module.css
  src/components/Badge/Badge.tsx
  src/components/Badge/Badge.types.ts
  src/components/Badge/tests/Badge.stories.tsx
  src/components/DropdownMenu/tests/DropdownMenu.stories.tsx
Due: eslint, stylelint

fix(NumberField): fixed endSlot padding
  .changeset/many-trees-appear.md
  src/components/NumberField/NumberFieldControlled.tsx
Due: eslint

fix(Select): custom select RSC support
  .changeset/quiet-forks-stare.md
  src/components/Select/Select.tsx
  src/components/Select/SelectCustomControlled.tsx
Due: eslint

chore: removed console logs
  src/utilities/scroll/lock.ts
  src/utilities/scroll/lockSafari.ts
Due: eslint

ci: release scripts
  bin/release-canary.sh
  bin/release.sh
Due: none

chore: release
  .changeset/five-tigers-occur.md
  .changeset/healthy-jokes-drive.md
  .changeset/late-squids-admire.md
  .changeset/many-trees-appear.md
  .changeset/pre.json
  .changeset/quiet-forks-stare.md
  .changeset/six-pugs-rest.md
  .changeset/twelve-vans-tan.md
  CHANGELOG.md
  package.json
Due: none

fix(Card,Button,NumberField): release fixes
  .changeset/fluffy-drinks-look.md
  src/components/Button/Button.module.css
  src/components/Card/Card.module.css
  src/components/NumberField/NumberFieldControlled.tsx
Due: eslint, stylelint
