Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

fix(theming): neutral bg
  CHANGELOG.md
  src/themes/_generator/utilities/generateColors.ts
Due: eslint

fix: light mode neutral faded color
  src/components/_private/Flyout/utilities/getPositionFallbacks.ts
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/utilities/generateColors.ts
  src/themes/reshaped/theme.css
  src/themes/reshaped/theme.json
Due: eslint, stylelint

v3.1.7
  package.json
Due: none

fix(Grid): css modules in next
  src/components/Grid/Grid.module.css
Due: stylelint

v3.1.8
  package.json
Due: none

fix(Flyout): adjusted animation timeouts
  src/components/_private/Flyout/Flyout.module.css
Due: stylelint

feat(Overlay, Modal): containerRef
  CHANGELOG.md
  lefthook.yml
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Overlay/Overlay.module.css
  src/components/Overlay/Overlay.tsx
  src/components/Overlay/Overlay.types.ts
  src/components/Overlay/tests/Overlay.test.tsx
  src/hooks/useScrollLock.ts
  src/utilities/css.ts
  src/utilities/scroll/lock.ts
  src/utilities/scroll/lockSafari.ts
  src/utilities/scroll/lockStandard.ts
  src/utilities/storybook/Placeholder.tsx
Due: eslint, stylelint

feat(useResponsiveClientValue): custom viewports support
  CHANGELOG.md
  src/constants/breakpoints.ts
  src/hooks/tests/useResponsiveClientValue.stories.tsx
  src/hooks/useResponsiveClientValue.ts
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/tokens/viewport/viewport.transforms.ts
  src/themes/figma/theme.css
  src/themes/reshaped/theme.css
  src/themes/slate/theme.css
Due: eslint, stylelint

fix(Flyout): dismissible queue fixed for disabled outside click
  CHANGELOG.md
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/hooks/_private/useIsDismissible.ts
Due: eslint

fix(Button): safari icon glitching in the docs
  CHANGELOG.md
  src/components/Button/Button.module.css
Due: stylelint

feat(Divider): added label support
  CHANGELOG.md
  src/components/Divider/Divider.module.css
  src/components/Divider/Divider.tsx
  src/components/Divider/Divider.types.ts
  src/components/Divider/tests/Divider.stories.tsx
  src/components/Divider/tests/Divider.test.tsx
Due: eslint, stylelint

feat(TextField): slot multiline wrapping
  CHANGELOG.md
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.tsx
  src/components/TextField/tests/TextField.stories.tsx
Due: eslint, stylelint

chore: delete airbnb eslint config
  package.json
  yarn.lock
Due: none

chore: update commander
  package.json
  yarn.lock
Due: none

fix(useIsDismissible): simplify implementation
  package.json
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/hooks/_private/useIsDismissible.ts
Due: eslint

chore: updated dependencies
  package.json
  vite.config.mjs
  yarn.lock
Due: none

chore: updated dependencies
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

chore: updated stylelint
  package.json
  yarn.lock
Due: none

chore: update dependencies
  package.json
  yarn.lock
Due: none

v3.2.0-canary.7
  package.json
Due: none

docs: changelog
  CHANGELOG.md
Due: none

v3.2.0
  package.json
Due: none

fix: pre-release fixes
  src/components/Table/Table.module.css
  src/components/Table/Table.tsx
  src/components/Table/tests/Table.stories.tsx
  src/components/Tabs/TabsItem.tsx
  src/components/View/View.tsx
  src/components/View/tests/View.stories.tsx
Due: eslint, stylelint

test: stories
  src/components/View/tests/View.stories.tsx
Due: eslint

v3.2.1
  package.json
Due: none

fix(overlay): zindex
  src/components/Overlay/Overlay.tsx
Due: eslint

v3.2.2
  package.json
Due: none

fix(Flyout): fixed error logs on unmount
  src/components/_private/Flyout/useFlyout.ts
Due: eslint

fix: minor improvements for react 19 rc
  src/components/FileUpload/tests/FileUpload.test.tsx
  src/components/MenuItem/tests/MenuItem.test.tsx
  src/components/View/View.tsx
Due: eslint

fix(TextField, trapFocus): requests
  CHANGELOG.md
  src/components/TextField/TextField.tsx
  src/utilities/a11y/TrapFocus.ts
Due: eslint

v3.2.3
  package.json
Due: none

fix(Carousel): fixed scroll snapping
  CHANGELOG.md
  src/components/Carousel/Carousel.module.css
Due: stylelint

fix: patch
  CHANGELOG.md
  src/components/TextField/TextField.module.css
  src/components/TextField/TextField.tsx
  src/components/TextField/TextField.types.ts
  src/components/TextField/tests/TextField.stories.tsx
  src/components/_private/Flyout/Flyout.types.ts
  src/styles/justify/justify.module.css
Due: eslint, stylelint

v3.2.4
  package.json
Due: none

feat(flyout): contentShift
  CHANGELOG.md
  src/components/DropdownMenu/DropdownMenu.types.ts
  src/components/Popover/Popover.types.ts
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.ts
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/components/_private/Flyout/useFlyout.ts
  src/components/_private/Flyout/utilities/calculatePosition.ts
Due: eslint

fix(DropdownMenu): attributes ref
  CHANGELOG.md
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/DropdownMenu/tests/DropdownMenu.test.tsx
Due: eslint

feat: stopPropagation
  CHANGELOG.md
  src/components/Actionable/Actionable.tsx
  src/components/Actionable/Actionable.types.ts
  src/components/Actionable/tests/Actionable.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
  src/components/Link/Link.tsx
  src/components/Link/Link.types.ts
  src/components/MenuItem/MenuItem.tsx
  src/components/MenuItem/MenuItem.types.ts
Due: eslint

fix(Modal): width
  src/components/Modal/Modal.module.css
Due: stylelint

v3.2.5
  package.json
Due: none

fix: useHotkeys
  src/components/Theme/tests/Theme.stories.tsx
  src/hooks/_private/useSingletonHotkeys.tsx
  src/hooks/tests/useHotkeys.stories.tsx
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
