Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

chore: prevent non linted commits
  bin/commit.sh
  lefthook.yml
Due: none

chore: test changelog
  CHANGELOG.md
  lefthook.yml
Due: none

chore: updated changelog
  lefthook.yml
Due: none

chore: updated changelog scripts
  bin/commit.sh
  bin/update-changelog.sh
Due: none

chore: updated changelog scripts
  bin/commit.sh
Due: none

chore: updated changelog scripts
  CHANGELOG.md
  yarn.lock
Due: none

chore: updated changelog scripts
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

chore: update repository link
  CHANGELOG.md
  package.json
Due: none

chore: updated release scripts
  bin/commit.sh
  bin/update-changelog.sh
  package.json
Due: none

test(Autocomplete): updated vrt test
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
Due: eslint

chore: removed commit block
  bin/commit.sh
  bin/update-changelog.sh
  lefthook.yml
Due: none

v3.5.3
  CHANGELOG.md
  package.json
Due: none

chore: updated canary release script
  CHANGELOG.md
  package.json
Due: none

v3.5.4-canary.0
  CHANGELOG.md
  package.json
Due: none

revert: reverted auto changelog changes
  CHANGELOG-old.md
  CHANGELOG.md
  bin/commit.sh
  bin/update-changelog.sh
  package.json
Due: none

chore: changelog update
  CHANGELOG.md
Due: none

feat(Popover): elevation prop
  CHANGELOG.md
  src/components/Flyout/utilities/calculatePosition.ts
  src/components/Popover/Popover.module.css
  src/components/Popover/Popover.tsx
  src/components/Popover/Popover.types.ts
  src/components/Popover/tests/Popover.stories.tsx
  src/components/Popover/tests/Popover.test.stories.tsx
Due: eslint, stylelint

fix(Table): fixed the scrolling inside the scroll area
  CHANGELOG.md
  src/Sandbox.stories.tsx
  src/components/Carousel/Carousel.tsx
  src/components/Flyout/FlyoutContent.tsx
  src/components/ScrollArea/ScrollArea.tsx
  src/components/Table/Table.module.css
  src/components/Table/Table.tsx
  src/components/Tabs/TabsList.tsx
  src/hooks/_private/useFadeSide.ts
  src/utilities/helpers.ts
Due: eslint, stylelint

feat(Slider): minName, maxName
  CHANGELOG.md
  src/components/Slider/Slider.types.ts
  src/components/Slider/SliderControlled.tsx
  src/components/Slider/SliderUncontrolled.tsx
  src/components/Slider/tests/Slider.stories.tsx
  src/components/Slider/tests/Slider.test.stories.tsx
Due: eslint

chore: removed unused import
  src/components/Slider/tests/Slider.stories.tsx
Due: eslint

fix(ScrollArea): added missing outline reset
  CHANGELOG.md
  src/components/ScrollArea/ScrollArea.module.css
Due: stylelint

fix(Slider): native onChange trigger support
  CHANGELOG.md
  src/components/Slider/Slider.types.ts
  src/components/Slider/SliderControlled.tsx
  src/components/Slider/SliderThumb.tsx
  src/components/Slider/tests/Slider.stories.tsx
  src/utilities/dom/event.ts
  src/utilities/dom/index.ts
Due: eslint

v3.6.0-canary.1
  package.json
Due: none

fix(Flyout): fixed inside position fixed with scroll
  CHANGELOG.md
  src/Sandbox.stories.tsx
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutContent.tsx
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Flyout/useFlyout.ts
  src/components/Flyout/utilities/flyout.ts
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
  src/components/Overlay/Overlay.module.css
  src/components/Overlay/Overlay.tsx
  src/components/Overlay/Overlay.types.ts
  src/utilities/dom/find.ts
Due: eslint, stylelint

test: clean-up sandbox
  src/Sandbox.stories.tsx
Due: eslint

v3.6.0-canary.2
  package.json
Due: none

chore: updated dependencies
  package.json
  yarn.lock
Due: none

test(Accordion): fixed types in tests
  src/components/Accordion/tests/Accordion.stories.tsx
Due: eslint

fix(Flyout): blocking dialog mode
  CHANGELOG.md
  src/components/Flyout/FlyoutContent.tsx
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Popover/tests/Popover.stories.tsx
Due: eslint

feat(Flyout,DropdownMenu): sub trigger click handling, trapFocusMode false
  CHANGELOG.md
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/Flyout/Flyout.types.ts
  src/components/Flyout/FlyoutControlled.tsx
  src/components/Flyout/tests/Flyout.stories.tsx
  src/components/Popover/tests/Popover.stories.tsx
Due: eslint

fix(Accordion): iconPosition memo
  CHANGELOG.md
  src/components/Accordion/AccordionControlled.tsx
Due: eslint

v3.6.0-canary.3
  package.json
Due: none

fix(Avaar): fixed font-weight to use a variable
  CHANGELOG.md
  src/components/Avatar/Avatar.module.css
Due: stylelint

feat(Reshaped): colorMode property
  CHANGELOG.md
  src/components/Reshaped/Reshaped.tsx
  src/components/Reshaped/Reshaped.types.ts
  src/components/Reshaped/tests/Reshaped.stories.tsx
  src/components/Theme/GlobalColorMode.tsx
  src/components/Theme/Theme.types.ts
  src/components/Theme/index.ts
  src/index.ts
Due: eslint

v3.6.0-canary.4
  package.json
Due: none

refactor: cleaned-up unused color utilities
  src/themes/_generator/utilities/color.ts
  src/themes/_generator/utilities/mergeDeep.ts
  src/themes/_generator/utilities/mergeDefinitions.ts
  src/themes/_generator/utilities/resolveTokenReference.ts
Due: eslint

feat: added internal theme oklch handling
  src/cli/theming/index.ts
  src/cli/theming/tailwind.ts
  src/themes/_generator/definitions/slate.ts
  src/themes/_generator/tests/themes.stories.tsx
  src/themes/_generator/tokens/color/color.transforms.ts
  src/themes/_generator/tokens/color/color.types.ts
  src/themes/_generator/tokens/color/tests/color.test.ts
  src/themes/_generator/tokens/color/utilities/a11y.ts
  src/themes/_generator/tokens/color/utilities/convert.ts
  src/themes/_generator/tokens/color/utilities/generateColors.ts
  src/themes/_generator/tokens/color/utilities/generateMetaColors.ts
  src/themes/_generator/tokens/css.ts
  src/themes/_generator/tokens/duration/duration.transforms.ts
  src/themes/_generator/tokens/easing/easing.transforms.ts
  src/themes/_generator/tokens/font/font.transforms.ts
  src/themes/_generator/tokens/fontFamily/fontFamily.transforms.ts
  src/themes/_generator/tokens/fontWeight/fontWeight.transforms.ts
  src/themes/_generator/tokens/radius/radius.transforms.ts
  src/themes/_generator/tokens/shadow/shadow.transforms.ts
  src/themes/_generator/tokens/types.ts
  src/themes/_generator/tokens/unit/unit.transforms.ts
  src/themes/_generator/tokens/unit/utilities/generate.ts
  src/themes/_generator/tokens/viewport/viewport.transforms.ts
  src/themes/_generator/transform.ts
  src/themes/_generator/types.ts
  src/themes/_generator/utilities/color.ts
  src/themes/_generator/utilities/generateBackgroundColors.ts
  src/themes/_generator/utilities/generateColors.ts
  src/themes/_generator/utilities/tests/color.test.ts
  src/themes/index.ts
  src/types/config.ts
  src/types/global.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
