Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx,vue}"
      run: yarn lint:js --fix {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.css"
      run: yarn lint:css --fix {staged_files} && git add {staged_files}
# commit-msg:
#   commands:
#     "lint commit message":
#       run: npx commitlint --color --edit {1}

feat(theming): added rgb border colors and updated contrast to use APCA
  CHANGELOG.md
  src/config/tailwind.ts
  src/themes/_generator/constants.ts
  src/themes/_generator/tests/themes.stories.tsx
  src/themes/_generator/tokens/shadow/shadow.transforms.ts
  src/themes/_generator/utilities/color.ts
  src/themes/_generator/utilities/generateBackgroundColors.ts
  src/themes/_generator/utilities/generateColors.ts
  src/themes/figma/theme.css
  src/themes/reshaped/theme.css
  src/themes/slate/theme.css
  src/utilities/color.ts
Due: eslint, stylelint

test: fixed tests
  src/components/Toast/ToastContainer.tsx
  src/components/Toast/tests/Toast.test.tsx
  src/themes/_generator/utilities/tests/color.test.ts
Due: eslint

v2.6.3
  package.json
Due: none

feat(Calendar): range selection and translations
  src/components/Calendar/Calendar.module.css
  src/components/Calendar/Calendar.types.ts
  src/components/Calendar/Calendar.utils.ts
  src/components/Calendar/CalendarControlled.tsx
  src/components/Calendar/CalendarDate.tsx
  src/components/Calendar/CalendarMonth.tsx
  src/components/Calendar/CalendarUncontrolled.tsx
  src/components/Calendar/tests/Calendar.stories.tsx
Due: eslint, stylelint

feat(Calendar): keyboard navigation edge cases
  package.json
  src/components/Calendar/Calendar.module.css
  src/components/Calendar/Calendar.types.ts
  src/components/Calendar/Calendar.utils.ts
  src/components/Calendar/CalendarControlled.tsx
  src/components/Calendar/CalendarControls.tsx
  src/components/Calendar/CalendarDate.tsx
  src/components/Calendar/CalendarMonth.tsx
  src/components/Calendar/CalendarYear.tsx
  src/components/Calendar/tests/Calendar.stories.tsx
  src/components/Calendar/useCalendarKeyboardNavigation.ts
  yarn.lock
Due: eslint, stylelint

test(Calendar): unit tests and stories
  src/components/Calendar/tests/Calendar.stories.tsx
  src/components/Calendar/tests/Calendar.test.tsx
  src/components/Calendar/tests/__snapshots__/Calendar.test.tsx.snap
Due: eslint

fix(Autocomplete): fixed inputAttributes not applying to the component
  CHANGELOG.md
  reshaped-source-v2.5.9.zip
  reshaped-test-2.7.0.tgz
  src/components/Autocomplete/Autocomplete.tsx
  src/components/Autocomplete/tests/Autocomplete.test.tsx
Due: eslint

fix(Calendar): fixed single date hover styles
  src/components/Calendar/Calendar.module.css
  src/components/Calendar/CalendarDate.tsx
Due: eslint, stylelint

feat(Modal): swipe to close handling
  CHANGELOG.md
  src/components/DropdownMenu/tests/DropdownMenu.stories.tsx
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
  src/components/Modal/tests/Modal.stories.tsx
  src/components/Modal/tests/Modal.test.tsx
  src/components/Overlay/Overlay.module.css
  src/components/Overlay/Overlay.tsx
  src/components/Overlay/Overlay.types.ts
  src/components/Slider/Slider.module.css
  src/components/Text/Text.module.css
  src/hooks/useResponsiveClientValue.ts
  tools/storybook/preview.tsx
Due: eslint, stylelint

fix(Text): fixed clamp word break
  src/components/DropdownMenu/tests/DropdownMenu.stories.tsx
  src/components/Text/Text.module.css
  src/components/Text/Text.tsx
  src/components/Text/tests/Text.stories.tsx
Due: eslint, stylelint

v2.7.0
  package.json
Due: none

fix(Modal): fixed swipe gestures when user is scrolling
  CHANGELOG.md
  src/components/Modal/Modal.tsx
Due: eslint

v2.7.1
  package.json
Due: none

fix(Overlay): fixed transparent overlay transition event
  src/components/Overlay/Overlay.module.css
  src/components/Overlay/Overlay.tsx
Due: eslint, stylelint

v2.7.2
  package.json
Due: none

fix(Overlay): fixed role button cursor reset in Tailwind
  CHANGELOG.md
  src/components/Modal/Modal.module.css
  src/components/Overlay/Overlay.module.css
Due: stylelint

v2.7.3
  package.json
Due: none

fix(Icon): fixed svg rendering defined in components with prop types
  CHANGELOG.md
  src/components/Icon/Icon.tsx
Due: eslint

v2.7.4
  package.json
Due: none

feat: added warning and brand color support
  CHANGELOG.md
  reshaped-test-2.7.0.tgz
  reshaped-test-2.8.0-2.tgz
  src/components/Alert/Alert.types.ts
  src/components/Alert/tests/Alert.stories.tsx
  src/components/Avatar/Avatar.module.css
  src/components/Avatar/Avatar.types.ts
  src/components/Avatar/tests/Avatar.stories.tsx
  src/components/Badge/Badge.module.css
  src/components/Badge/Badge.types.ts
  src/components/Badge/tests/Badge.stories.tsx
  src/components/Icon/Icon.module.css
  src/components/Icon/Icon.types.ts
  src/components/Progress/Progress.module.css
  src/components/Progress/Progress.types.ts
  src/components/Progress/tests/Progress.stories.tsx
  src/components/Slider/SliderThumb.tsx
  src/components/Text/Text.module.css
  src/components/Text/Text.types.ts
  src/components/Text/tests/Text.stories.tsx
  src/components/Theme/Theme.module.css
  src/components/View/View.module.css
  src/components/View/View.types.ts
  src/components/View/tests/View.stories.tsx
  src/themes/_generator/constants.ts
  src/themes/_generator/definitions/figma.ts
  src/themes/_generator/tests/themes.stories.tsx
  src/themes/_generator/tokens/color/color.types.ts
  src/themes/_generator/utilities/color.ts
  src/themes/_generator/utilities/generateColors.ts
  src/themes/figma/theme.css
  src/themes/reshaped/theme.css
  src/themes/slate/theme.css
  src/utilities/storybook/Example.module.css
  src/utilities/storybook/Example.tsx
  tools/storybook/preview.tsx
Due: eslint, stylelint

Deleted test release
  reshaped-test-2.8.0-2.tgz
Due: none

feat: added viewports to the theme definition
  package.json
  reshaped-test.tgz
  src/cli/theming/index.ts
  src/config/postcss.ts
  src/config/tailwind.ts
  src/themes/_generator/definitions/base.ts
  src/themes/_generator/definitions/figma.ts
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/definitions/slate.ts
  src/themes/_generator/tokens/types.ts
  src/themes/figma/theme.css
  src/themes/index.ts
  src/themes/media.css
  src/themes/reshaped/theme.css
  src/themes/slate/theme.css
  src/types/config.ts
  tools/build/postcss.config.js
Due: eslint, stylelint

test: fixed unit tests
  src/components/Calendar/useCalendarKeyboardNavigation.ts
  src/components/Modal/tests/Modal.test.tsx
  src/themes/_generator/utilities/tests/__snapshots__/generateColors.test.ts.snap
Due: eslint

feat: added getConfig function for postcss setup
  CHANGELOG.md
  reshaped-test-2.8.0-4.tgz
  reshaped-test.tgz
  src/config/postcss.ts
Due: eslint

feat: updated postcss setup to the latest custom media and excluded it from the internal build
  package.json
  src/cli/theming/index.ts
  src/config/postcss.ts
  src/themes/_generator/definitions/slate.ts
  src/themes/figma/media.css
  src/themes/figma/theme.css
  src/themes/reshaped/media.css
  src/themes/reshaped/theme.css
  src/themes/slate/media.css
  src/themes/slate/theme.css
  tools/build/postcss.config.js
  tools/storybook/main.ts
  tools/storybook/postcss.config.js
  yarn.lock
Due: eslint, stylelint

feat(theming): added auto-generation for the s viewport maxPx value
  bin/cli.js
  package.json
  reshaped-test-2.8.0-4.tgz
  reshaped-test-2.8.0-8.tgz
  src/config/postcss.ts
  src/themes/_generator/definitions/figma.ts
  src/themes/_generator/definitions/reshaped.ts
  src/themes/_generator/tokens/types.ts
  src/themes/_generator/tokens/viewport/viewport.transforms.ts
  src/themes/_generator/tokens/viewport/viewport.types.ts
  src/themes/_generator/transform.ts
  src/themes/_generator/types.ts
Due: eslint

v2.7.5-beta.0
  package.json
Due: none

chore: updated lefthook
  package.json
  yarn.lock
Due: none

chore: deleted tgz
  reshaped-test-2.8.0-8.tgz
Due: none

chore: updated size-limit
  package.json
  yarn.lock
Due: none

fix(MenuItem): fixed Tailwind CSS reset overriding button styles
  CHANGELOG.md
  src/components/MenuItem/MenuItem.module.css
Due: stylelint

fix(Theming): improved contrast for the light mode neutral faded generated value
  src/themes/_generator/tests/themes.stories.tsx
  src/themes/_generator/utilities/generateColors.ts
Due: eslint

chore: removed unused semantic-release dependencies
  package.json
  release.config.js
  yarn.lock
Due: eslint

chore: updated dependencies
  package.json
  tools/build/postcss.config.js
  yarn.lock
Due: eslint

feat(Button): added flex composition, increased space for slots
  CHANGELOG.md
  src/components/Button/Button.module.css
  src/components/Button/tests/Button.stories.tsx
  yarn.lock
Due: eslint, stylelint

feat: pre 2.8.0 features
  CHANGELOG.md
  src/components/View/View.module.css
  src/components/View/View.tsx
  src/components/View/View.types.ts
  src/components/View/tests/View.stories.tsx
  src/styles/minHeight/index.test.ts
  src/styles/minHeight/index.ts
  src/styles/minHeight/minHeight.module.css
  src/themes/reshaped/theme.css
Due: eslint, stylelint

v2.8.0
  package.json
Due: none

chore: updated peerDeps
  CHANGELOG.md
  package.json
Due: none

feat: optimised style utilities css
  src/components/Card/Card.tsx
  src/components/Modal/Modal.tsx
  src/components/Popover/Popover.tsx
  src/components/View/View.tsx
  src/styles/aspectRatio/__snapshots__/index.test.ts.snap
  src/styles/aspectRatio/aspectRatio.css
  src/styles/aspectRatio/aspectRatio.module.css
  src/styles/aspectRatio/index.ts
  src/styles/bleed/__snapshots__/index.test.ts.snap
  src/styles/bleed/bleed.module.css
  src/styles/bleed/index.ts
  src/styles/height/__snapshots__/index.test.ts.snap
  src/styles/height/height.module.css
  src/styles/height/index.ts
  src/styles/maxHeight/maxHeight.module.css
  src/styles/maxWidth/maxWidth.module.css
  src/styles/minHeight/__snapshots__/index.test.ts.snap
  src/styles/minHeight/minHeight.module.css
  src/styles/minWidth/__snapshots__/index.test.ts.snap
  src/styles/minWidth/index.ts
  src/styles/minWidth/minWidth.module.css
  src/styles/padding/__snapshots__/index.test.ts.snap
  src/styles/padding/index.ts
  src/styles/padding/padding.css
  src/styles/padding/padding.module.css
  src/styles/position/__snapshots__/index.test.ts.snap
  src/styles/position/index.ts
  src/styles/position/position.css
  src/styles/position/position.module.css
  src/styles/radius/__snapshots__/index.test.ts.snap
  src/styles/radius/index.ts
  src/styles/radius/radius.module.css
  src/styles/types.ts
  src/styles/width/__snapshots__/index.test.ts.snap
  src/styles/width/index.ts
  src/styles/width/width.module.css
  src/themes/_generator/utilities/tests/__snapshots__/generateColors.test.ts.snap
Due: eslint, stylelint

feat: migrated the package to use exports field
  bin/clean.sh
  bin/cli.js
  package.json
  tsconfig.json
Due: eslint
