Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

build: migrated to package.json exports field
  CHANGELOG.md
  package.json
  src/styles/minHeight/__snapshots__/index.test.ts.snap
  src/themes/_generator/utilities/tests/__snapshots__/generateColors.test.ts.snap
Due: none

test(Modal): commented a flaky test
  src/components/Modal/tests/Modal.test.tsx
Due: eslint

v2.8.1
  package.json
Due: none

fix(trapFocus): fixed behaviour for input radio elements inside the trap focus area
  src/components/Modal/tests/Modal.stories.tsx
  src/utilities/a11y.ts
Due: eslint

v2.8.2
  package.json
Due: none

fix: revert exports
  CHANGELOG.md
  bin/clean.sh
  bin/cli.js
  package.json
Due: eslint

fix(minHeight): updated function name
  src/styles/minHeight/index.ts
Due: eslint

v2.8.3
  package.json
Due: none

fix(TextArea): fixed placeholder color misalignment with TextField
  CHANGELOG.md
  src/components/Hidden/tests/Hidden.stories.tsx
  src/components/Reshaped/Reshaped.css
  src/components/TextArea/tests/TextArea.stories.tsx
Due: eslint, stylelint

v2.8.4
  package.json
Due: none

feat(ScrollArea): new utility
  CHANGELOG.md
  src/components/Modal/Modal.tsx
  src/components/ScrollArea/ScrollArea.module.css
  src/components/ScrollArea/ScrollArea.tsx
  src/components/ScrollArea/ScrollArea.types.ts
  src/components/ScrollArea/index.ts
  src/components/ScrollArea/tests/ScrollArea.stories.tsx
  src/components/ScrollArea/tests/ScrollArea.test.tsx
  src/components/Slider/SliderControlled.tsx
  src/index.ts
  src/styles/height/height.module.css
  src/styles/width/width.module.css
  src/utilities/dom.ts
  tools/jest/jest.setup.ts
Due: eslint, stylelint

docs: added storybook autodocs
  package.json
  src/components/Accordion/tests/Accordion.stories.tsx
  src/components/ActionBar/tests/ActionBar.stories.tsx
  src/components/Actionable/Actionable.tsx
  src/components/Actionable/tests/Actionable.stories.tsx
  src/components/Alert/tests/Alert.stories.tsx
  src/components/Button/tests/Button.stories.tsx
  src/components/Container/tests/Container.stories.tsx
  src/components/ScrollArea/tests/ScrollArea.stories.tsx
  tools/storybook/main.ts
  tools/storybook/preview.tsx
  yarn.lock
Due: eslint

fix(ScrollArea): implementation fixes
  reshaped-test-2.9.0-1.tgz
  src/components/ScrollArea/ScrollArea.tsx
  src/styles/width/width.module.css
Due: eslint, stylelint

fix(Reshaped): fixed global html bg color
  CHANGELOG.md
  src/components/Reshaped/Reshaped.css
Due: stylelint

docs: storybook docs
  src/components/Container/tests/Container.stories.tsx
  tools/storybook/preview.tsx
Due: eslint

fix(Avatar): fixed label size
  src/styles/height/height.module.css
Due: stylelint

v2.9.0
  package.json
Due: none

feat(Actionable): wrapped styles with rs.reset layer
  CHANGELOG.md
  src/components/Actionable/Actionable.module.css
  src/components/Reshaped/Reshaped.css
  src/styles/aspectRatio/aspectRatio.module.css
  src/styles/bleed/bleed.module.css
  src/styles/height/height.module.css
  src/styles/maxHeight/maxHeight.module.css
  src/styles/maxWidth/maxWidth.module.css
Due: stylelint

fix(height): returned important
  src/styles/height/height.module.css
Due: stylelint

fix: added missing reset layer
  src/components/Reshaped/Reshaped.css
Due: stylelint

fix: fixed Vite build warning about @layer
  src/components/Reshaped/Reshaped.css
Due: stylelint

v2.9.1
  package.json
Due: none

fix(ScrollArea): fixed scrollbar visibility in iOS safari
  src/components/ScrollArea/ScrollArea.module.css
Due: stylelint

v2.9.2
  package.json
Due: none

fix: small css fixes
  CHANGELOG.md
  package.json
  src/components/Badge/Badge.module.css
  src/components/ScrollArea/ScrollArea.module.css
Due: stylelint

fix(Slider): keep tooltip inside the viewport
  CHANGELOG.md
  src/components/Slider/Slider.module.css
  src/components/Slider/Slider.types.ts
  src/components/Slider/SliderControlled.tsx
  src/components/Slider/SliderThumb.tsx
  src/components/Slider/tests/Slider.stories.tsx
Due: eslint, stylelint

v2.9.3
  package.json
Due: none

fix(Slider): fixed tooltip hover
  src/components/Slider/Slider.module.css
Due: stylelint

v2.9.4
  package.json
Due: none

feat(TextArea): resize auto and none
  src/components/TextArea/TextArea.module.css
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/TextArea.types.ts
  src/components/TextArea/tests/TextArea.stories.tsx
Due: eslint, stylelint

chore: updated dependencies
  .stylelintrc
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

fix(Accordion): fixed for RSC
  CHANGELOG.md
  src/components/Accordion/AccordionContent.tsx
Due: eslint

v2.9.5
  package.json
Due: none

feat(Text): added wrap balance
  CHANGELOG.md
  src/components/Text/Text.module.css
  src/components/Text/Text.tsx
  src/components/Text/Text.types.ts
  src/components/Text/tests/Text.stories.tsx
Due: eslint, stylelint

feat: added theme json output
  src/cli/theming/index.ts
  src/themes/figma/media.css
  src/themes/figma/theme.json
  src/themes/fragments/twitter/theme.json
  src/themes/reshaped/media.css
  src/themes/reshaped/theme.css
  src/themes/reshaped/theme.json
  src/themes/slate/media.css
  src/themes/slate/theme.json
Due: eslint, stylelint

feat(Pagination): new component
  CHANGELOG.md
  src/components/Overlay/tests/Overlay.test.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/Pagination.types.ts
  src/components/Pagination/PaginationControlled.tsx
  src/components/Pagination/PaginationUncontrolled.tsx
  src/components/Pagination/index.ts
  src/components/Pagination/tests/Pagination.stories.tsx
  src/components/Pagination/tests/Pagination.test.tsx
  src/index.ts
  src/themes/.DS_Store
  src/themes/slate/theme.json
  src/utilities/helpers.ts
Due: eslint

chore: deleted test release
  reshaped-test-2.9.0-1.tgz
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
