Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

Slider improvements
  package.json
  src/components/Slider/Slider.module.css
  src/components/Slider/Slider.types.ts
  src/components/Slider/SliderControlled.tsx
  src/components/Slider/SliderThumb.tsx
  src/components/Slider/tests/Slider.stories.tsx
  src/components/Slider/tests/Slider.test.tsx
  src/types/global.ts
Due: eslint, stylelint

Checkbox / radio transitions
  CHANGELOG.md
  src/components/Checkbox/Checkbox.module.css
  src/components/Radio/Radio.module.css
Due: stylelint

Changelog
  CHANGELOG.md
Due: none

Removed SegoeUI from the default themes, Added Menu item box shadow animation
  CHANGELOG.md
  src/cli/theming/definitions/figma.ts
  src/cli/theming/definitions/reshaped.ts
  src/components/MenuItem/MenuItem.module.css
  src/themes/figma/theme.css
  src/themes/reshaped/theme.css
  src/themes/slate/theme.css
Due: eslint, stylelint

Updated themes
  CHANGELOG.md
  src/cli/theming/definitions/reshaped.ts
  src/components/Button/Button.module.css
  src/config/next.ts
  src/themes/reshaped/theme.css
  src/themes/slate/theme.css
Due: eslint, stylelint

v2.2.0
  package.json
Due: none

Update licensing and published tests
  .npmignore
  LICENSE-SOURCE.md
  LICENSE.md
  bin/clean.sh
  bin/release-copy.sh
  bin/release-source.sh
  package.json
  tsconfig.esm.json
Due: none

Commented next config
  CHANGELOG.md
  src/config/next.ts
Due: eslint

Remove mobile tap highlight
  CHANGELOG.md
  src/components/Actionable/Actionable.module.css
  src/components/Checkbox/Checkbox.module.css
  src/components/Radio/Radio.module.css
  src/components/Switch/Switch.module.css
Due: stylelint

Bug fixes
  CHANGELOG.md
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/Select/Select.tsx
  src/components/Slider/Slider.module.css
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
Due: eslint, stylelint

v2.2.1
  package.json
Due: none

Fixed media generation
  src/cli/theming/index.ts
  src/themes/media.css
Due: eslint, stylelint

Fixed onColors generation
  bin/cli.js
  reshaped-test-2.3-1.tgz
  src/themes/_generator/utilities/generateBackgroundColors.ts
Due: eslint

Update size-limit config
  package.json
Due: none

Runtime theming stories
  src/components/Accordion/tests/Accordion.stories.tsx
  src/themes/_generator/tests/themes.stories.tsx
Due: eslint

Flyout inside scrollable areas
  CHANGELOG.md
  package.json
  src/components/Actionable/Actionable.tsx
  src/components/Overlay/Overlay.tsx
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/components/_private/Portal/Portal.tsx
  src/components/_private/Portal/Portal.types.ts
  src/components/_private/Portal/index.ts
  src/components/_private/Portal/tests/Portal.stories.tsx
  src/hooks/_private/useFlyout.ts
  src/utilities/dom.ts
  yarn.lock
Due: eslint

Fixed popover hover events
  CHANGELOG.md
  src/components/Autocomplete/tests/Autocomplete.stories.tsx
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/hooks/_private/useFlyout.ts
  src/utilities/a11y.ts
  src/utilities/dom.ts
Due: eslint

Tabs: Router support
  CHANGELOG.md
  reshaped-test-2.3-1.tgz
  reshaped-test-2.3-2.tgz
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/Tabs.types.ts
  src/components/Tabs/TabsControlled.tsx
  src/components/Tabs/TabsItem.tsx
  src/components/Tabs/TabsList.tsx
  src/components/Tabs/tests/Tabs.stories.tsx
Due: eslint, stylelint

Implemented Button.Group
  src/components/Button/Button.module.css
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
  src/components/Button/ButtonGroup.tsx
  src/components/Button/tests/Button.stories.tsx
  src/components/Button/tests/Button.test.tsx
Due: eslint, stylelint

Button group docs and dropdown menu position fixes
  reshaped-test-2.3-2.tgz
  reshaped-test-2.3-5.tgz
  src/components/Actionable/Actionable.module.css
  src/components/Button/Button.module.css
  src/components/Button/tests/Button.stories.tsx
  src/components/DropdownMenu/tests/DropdownMenu.stories.tsx
  src/components/Toast/tests/Toast.stories.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/hooks/_private/useFlyout.ts
Due: eslint, stylelint

Toast: Fixed immediate close
  CHANGELOG.md
  src/components/Toast/ToastContainer.tsx
  src/components/Toast/ToastProvider.tsx
Due: eslint

Lock file
  yarn.lock
Due: none

Update packages
  package.json
  yarn.lock
Due: none

Release beta test
  reshaped-test-2.3-5.tgz
Due: none

v2.3.0
  package.json
Due: none

Bug fixes
  src/components/Overlay/Overlay.tsx
  src/components/_private/Flyout/FlyoutTrigger.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/utilities/a11y.ts
Due: eslint

v2.3.1
  package.json
Due: none

SSR theming
  CHANGELOG.md
  reshaped-test-2.4-2.tgz
  src/components/Theme/GlobalColorMode.tsx
  src/components/Theme/Theme.tsx
  src/themes/_generator/utilities/css.ts
  src/themes/figma/theme.css
  src/themes/fragments/twitter/theme.css
  src/themes/reshaped/theme.css
  src/themes/slate/theme.css
Due: eslint, stylelint

v2.3.2
  package.json
Due: none

Tabs: Auto scroll
  CHANGELOG.md
  src/components/Tabs/TabsItem.tsx
Due: eslint

Table component
  CHANGELOG.md
  src/components/Table/Table.module.css
  src/components/Table/Table.tsx
  src/components/Table/Table.types.ts
  src/components/Table/index.ts
  src/components/Table/tests/Table.stories.tsx
  src/index.ts
  src/styles/minWidth/__snapshots__/index.test.ts.snap
  src/styles/minWidth/index.test.ts
  src/styles/minWidth/index.ts
  src/styles/minWidth/minWidth.module.css
  tools/storybook/preview.tsx
Due: eslint, stylelint

Table documentation and updates
  CHANGELOG.md
  reshaped-test-2.4-2.tgz
  reshaped-test-2.4-4.tgz
  src/components/Checkbox/Checkbox.module.css
  src/components/Checkbox/Checkbox.tsx
  src/components/Table/Table.module.css
  src/components/Table/Table.tsx
  src/components/Table/Table.types.ts
  src/components/Table/tests/Table.stories.tsx
  src/components/Table/tests/Table.test.tsx
  src/hooks/tests/useRTL.test.tsx
  tsconfig.json
Due: eslint, stylelint

Updated types
  src/components/Table/Table.types.ts
Due: eslint

Component improvements
  CHANGELOG.md
  reshaped-test-2.4-4.tgz
  src/components/Button/Button.module.css
  src/components/Card/Card.module.css
  src/components/Card/tests/Card.stories.tsx
  src/components/Radio/Radio.tsx
  src/components/Tabs/Tabs.types.ts
  src/components/Tabs/TabsControlled.tsx
  src/components/Tabs/TabsItem.tsx
  src/components/Tabs/TabsList.tsx
  src/components/Toast/ToastContainer.tsx
  src/components/View/View.module.css
  src/components/View/View.types.ts
  src/components/View/tests/View.stories.tsx
Due: eslint, stylelint

v2.4.0
  package.json
Due: none

Component fixes
  src/components/Button/Button.module.css
  src/components/View/View.module.css
  src/components/View/View.tsx
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
