Repository reshaped-ui/reshaped: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn lint:js --fix {staged_files} && git add {staged_files}

stylelint:
  run: yarn lint:css --fix {staged_files} && git add {staged_files}

feat: tailwind v4 support
  package.json
  src/cli/theming/index.ts
  src/cli/theming/tailwind.ts
  src/themes/figma/tailwind.css
  src/themes/fragments/twitter/tailwind.css
  src/themes/reshaped/tailwind.css
  src/themes/slate/tailwind.css
Due: eslint, stylelint

v3.3.8
  package.json
Due: none

fix(View): keys
  src/components/View/View.tsx
Due: eslint

v3.3.9
  package.json
Due: none

fix(Flyout): useIsDismissible blocking flag
  CHANGELOG.md
  src/components/Overlay/Overlay.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/hooks/_private/useIsDismissible.ts
Due: eslint

v3.3.10
  package.json
Due: none

fix
  CHANGELOG.md
  src/components/Badge/tests/Badge.test.stories.tsx
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
  src/components/Button/tests/Button.stories.tsx
  src/components/Calendar/CalendarControlled.tsx
  src/components/Calendar/tests/Calendar.test.stories.tsx
  src/components/Calendar/tests/Calendar.test.tsx
  src/components/Calendar/tests/__snapshots__/Calendar.test.tsx.snap
  src/components/Card/Card.types.ts
  src/components/Card/tests/Card.stories.tsx
  src/components/Card/tests/Card.test.stories.tsx
  src/components/Card/tests/Card.test.tsx
Due: eslint

fix(View): divider
  src/components/View/View.tsx
Due: eslint

fix
  package.json
  src/components/Actionable/Actionable.types.ts
  src/components/Card/Card.tsx
  src/components/Card/Card.types.ts
  src/components/Carousel/Carousel.types.ts
  src/components/Carousel/tests/Carousel.stories.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/Grid/Grid.tsx
  src/components/Grid/Grid.types.ts
  src/components/Hidden/Hidden.types.ts
  src/components/Modal/Modal.types.ts
  src/components/Overlay/Overlay.types.ts
  src/components/Resizable/Resizable.types.ts
  src/components/ScrollArea/ScrollArea.tsx
  src/components/ScrollArea/tests/ScrollArea.stories.tsx
  src/components/Slider/Slider.types.ts
  src/components/Tabs/Tabs.types.ts
  src/components/Tabs/TabsItem.tsx
  src/components/Text/Text.tsx
  src/components/Text/Text.types.ts
  src/components/TextField/TextField.tsx
  src/components/Theme/Theme.types.ts
  src/components/Toast/ToastContainer.tsx
  src/components/View/View.tsx
  src/components/View/View.types.ts
  src/components/_private/Flyout/Flyout.types.ts
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/components/_private/Flyout/useFlyout.ts
  src/components/_private/Portal/Portal.types.ts
  src/hooks/_private/useIsDismissible.ts
  src/hooks/_private/useOnClickOutside.ts
  src/hooks/useDrag.ts
  src/hooks/useHotkeys.ts
  src/hooks/useScrollLock.ts
  src/types/global.ts
Due: eslint

fix: fixed react 19 types
  src/components/Resizable/Resizable.tsx
  src/hooks/useHotkeys.ts
Due: eslint

v3.3.11
  package.json
Due: none

test(Carousel): vitest
  package.json
  src/components/Carousel/tests/Carousel.test.stories.tsx
  src/components/Carousel/tests/Carousel.test.tsx
  yarn.lock
Due: eslint

test(Checkbox): vitest
  src/components/Checkbox/tests/Checkbox.test.stories.tsx
  src/components/Checkbox/tests/Checkbox.test.tsx
  src/components/CheckboxGroup/tests/CheckboxGroup.test.stories.tsx
  src/components/CheckboxGroup/tests/CheckboxGroup.test.tsx
  src/components/ScrollArea/ScrollArea.module.css
Due: eslint, stylelint

test: vitest
  .vscode/settings.json
  CHANGELOG.md
  src/components/Checkbox/tests/Checkbox.test.stories.tsx
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/tests/ContextMenu.stories.tsx
  src/components/ContextMenu/tests/ContextMenu.test.stories.tsx
  src/components/ContextMenu/tests/ContextMenu.test.tsx
  src/components/Divider/tests/Divider.test.stories.tsx
  src/components/Divider/tests/Divider.test.tsx
  src/components/DropdownMenu/tests/DropdownMenu.test.stories.tsx
  src/components/DropdownMenu/tests/DropdownMenu.test.tsx
  src/components/DropdownMenu/tests/__snapshots__/DropdownMenu.test.tsx.snap
  src/components/FileUpload/tests/FileUpload.test.stories.tsx
  src/components/FileUpload/tests/FileUpload.test.tsx
  src/components/Hotkey/tests/Hotkey.test.stories.tsx
  src/components/Hotkey/tests/Hotkey.test.tsx
  src/components/Link/tests/Link.test.stories.tsx
  src/components/Link/tests/Link.test.tsx
  src/components/Loader/Loader.tsx
  src/components/Loader/Loader.types.ts
  src/components/Loader/tests/Loader.stories.tsx
  src/components/Loader/tests/Loader.test.stories.tsx
  src/components/Loader/tests/Loader.test.tsx
  src/components/MenuItem/tests/MenuItem.test.stories.tsx
  src/components/MenuItem/tests/MenuItem.test.tsx
  src/components/Modal/tests/Modal.test.stories.tsx
  src/components/Modal/tests/Modal.test.tsx
  src/components/Modal/tests/__snapshots__/Modal.test.tsx.snap
  src/components/_private/Flyout/FlyoutContent.tsx
  src/components/_private/Flyout/FlyoutControlled.tsx
  src/hooks/_private/useSingletonHotkeys.tsx
  src/hooks/useHotkeys.ts
  src/hooks/useScrollLock.ts
  src/utilities/scroll/lock.ts
  src/utilities/scroll/lockSafari.ts
  src/utilities/scroll/lockStandard.ts
  src/utilities/testPresets.tsx
  src/utilities/vitest/index.ts
  src/utilities/vitest/render.tsx
Due: eslint

test: storybook test
  CHANGELOG.md
  src/components/DropdownMenu/tests/DropdownMenu.test.stories.tsx
  src/components/Modal/tests/Modal.test.stories.tsx
  src/components/Pagination/tests/Pagination.test.stories.tsx
  src/components/Pagination/tests/Pagination.test.tsx
  src/components/PinField/tests/PinField.stories.tsx
  src/components/PinField/tests/PinField.test.stories.tsx
  src/components/PinField/tests/PinField.test.tsx
  src/components/Popover/tests/Popover.test.stories.tsx
  src/components/Popover/tests/Popover.test.tsx
  src/components/Progress/Progress.tsx
  src/components/Progress/Progress.types.ts
  src/components/Progress/tests/Progress.stories.tsx
  src/components/Progress/tests/Progress.test.stories.tsx
  src/components/Progress/tests/Progress.test.tsx
  src/components/Radio/tests/Radio.test.stories.tsx
  src/components/Radio/tests/Radio.test.tsx
  src/components/RadioGroup/tests/RadioGroup.test.stories.tsx
  src/components/RadioGroup/tests/RadioGroup.test.tsx
  src/tests/ShadowDOM.stories.tsx
  src/themes/_generator/tests/themes.stories.tsx
Due: eslint

test: vitest
  src/components/Accordion/tests/Accordion.stories.tsx
  src/components/Accordion/tests/Accordion.test.stories.tsx
  src/components/Scrim/tests/Scrim.test.stories.tsx
  src/components/Scrim/tests/Scrim.test.tsx
  src/components/Select/tests/Select.stories.tsx
  src/components/Select/tests/Select.test.stories.tsx
  src/components/Select/tests/Select.test.tsx
  src/components/Skeleton/tests/Skeleton.test.stories.tsx
  src/components/Skeleton/tests/Skeleton.test.tsx
  src/components/Slider/SliderThumb.tsx
  src/components/Slider/tests/Slider.stories.tsx
  src/components/Slider/tests/Slider.test.stories.tsx
  src/components/Slider/tests/Slider.test.tsx
  src/components/Stepper/Stepper.tsx
  src/components/Stepper/tests/Stepper.stories.tsx
  src/components/Stepper/tests/Stepper.test.stories.tsx
  src/components/Stepper/tests/Stepper.test.tsx
  src/components/Switch/tests/Switch.test.stories.tsx
  src/components/Switch/tests/Switch.test.tsx
  src/components/Table/tests/Table.test.stories.tsx
Due: eslint

test: storybook
  src/components/Resizable/tests/Resizable.test.stories.tsx
  src/components/Resizable/tests/Resizable.test.tsx
  src/components/Tabs/tests/Tabs.test.stories.tsx
  src/components/Tabs/tests/Tabs.test.tsx
  src/components/TextArea/tests/TextArea.test.stories.tsx
  src/components/TextArea/tests/TextArea.test.tsx
  src/components/TextField/tests/TextField.test.stories.tsx
  src/components/TextField/tests/TextField.test.tsx
  src/components/Timeline/tests/Timeline.test.stories.tsx
  src/components/Timeline/tests/Timeline.test.tsx
  src/components/Toast/tests/Toast.test.stories.tsx
  src/components/Toast/tests/Toast.test.tsx
  src/components/Tooltip/tests/Tooltip.test.stories.tsx
  src/components/Tooltip/tests/Tooltip.test.tsx
  src/hooks/tests/useResponsiveClientValue.stories.tsx
  src/hooks/tests/useResponsiveClientValue.test.tsx
  src/hooks/tests/useToggle.stories.tsx
Due: eslint

test: vitest
  src/components/Table/tests/Table.test.tsx
  src/components/View/tests/View.test.tsx
  src/components/View/tests/__snapshots__/View.test.tsx.snap
  src/components/_private/Flyout/tests/Flyout.test.stories.tsx
  src/components/_private/Flyout/tests/Flyout.test.tsx
  src/hooks/tests/useDrag.test.stories.tsx
  src/hooks/tests/useDrag.test.tsx
  src/hooks/tests/useElementId.stories.tsx
  src/hooks/tests/useElementId.test.tsx
  src/hooks/tests/useHotkeys.test.stories.tsx
  src/hooks/tests/useHotkeys.test.tsx
  src/hooks/tests/useRTL.stories.tsx
  src/hooks/tests/useScrollLock.stories.tsx
  src/hooks/tests/useScrollLock.test.tsx
  src/hooks/tests/useToggle.test.tsx
Due: eslint

test: vitest
  .storybook/preview.tsx
  src/components/Reshaped/tests/Reshaped.stories.tsx
  src/components/Reshaped/tests/Reshaped.test.tsx
  src/hooks/_private/tests/useSingletonEnvironment.test.tsx
Due: eslint

test: a11y
  src/components/Carousel/CarouselControl.tsx
  src/components/Carousel/tests/Carousel.stories.tsx
  src/components/Resizable/tests/Resizable.test.stories.tsx
  src/components/ScrollArea/tests/ScrollArea.stories.tsx
  src/components/Slider/SliderThumb.tsx
  src/components/Slider/tests/Slider.stories.tsx
  src/components/TextArea/tests/TextArea.stories.tsx
  src/components/TextArea/tests/TextArea.test.stories.tsx
  src/components/TextField/tests/TextField.stories.tsx
  src/components/TextField/tests/TextField.test.stories.tsx
  src/components/Tooltip/tests/Tooltip.stories.tsx
Due: eslint

test: vitest
  src/components/ContextMenu/tests/ContextMenu.stories.tsx
  src/components/Resizable/Resizable.tsx
  src/components/Resizable/tests/Resizable.stories.tsx
  src/components/ScrollArea/tests/ScrollArea.test.stories.tsx
  src/components/_private/Flyout/tests/Flyout.stories.tsx
  src/hooks/tests/useDrag.stories.tsx
  tsconfig.json
Due: eslint

test: vitest
  src/hooks/tests/useScrollLock.stories.tsx
  src/hooks/tests/useToggle.stories.tsx
Due: eslint

test: actions
  .github/workflows/pull-request.yml
Due: none

chore: updated deps
  package.json
  yarn.lock
Due: none

chore: vitest update
  package.json
  vitest.workspace.mjs
  yarn.lock
Due: none

chore: lint and actions
  .github/workflows/pull-request.yml
  src/components/TextArea/TextArea.module.css
Due: stylelint

chore: action
  .github/workflows/pull-request.yml
Due: none

chore: actions
  .github/workflows/pull-request.yml
Due: none

fix: fixed generation error when called with separate hexDark colors
  CHANGELOG.md
  src/components/TextArea/TextArea.module.css
  src/themes/_generator/utilities/generateColors.ts
  src/themes/slate/tailwind.css
  src/themes/slate/theme.css
  src/themes/slate/theme.json
Due: eslint, stylelint

test: disable chromatic for hooks
  src/hooks/tests/useDrag.test.stories.tsx
  src/hooks/tests/useHotkeys.test.stories.tsx
Due: eslint

v3.3.12
  package.json
Due: none

chore: revert size-limit
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.css
